<div class="fw-bold text-secondary mb-2">
	{{ include('segments/icones/actions/information.html.twig', {size:'17px'}) }}
	Aperçu de la prime d'assurance
</div>
<small>
	<ul class="list-group list-group-flush">
		<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 text-secondary">
				<div class="fw-bold fw-italic text-dark">
					{{ include('segments/icones/cotation.html.twig', {size:'16px'}) }}
					Prime totale payable par le client
				</div>
				<span class="fw-italic">
					La somme des chargements (prime nette, accessoires, tva, etc), payable par le client.<br/>
					Montant payée: {{ constante.Cotation_getMontant_prime_payable_par_client_payee(cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}. 
					Solde: {{ constante.Cotation_getMontant_prime_payable_par_client_solde(cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
				</span>
			</div>
			<span class="fw-bold">
				{{ constante.Cotation_getMontant_prime_payable_par_client(cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
			</span>
		</li>
	</ul>
</small>