<small>
	<ul class="list-group list-group-flush">
		<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 text-secondary">
				<div class="fw-bold fw-italic text-dark">
					{{ include('segments/icones/partenaire.html.twig', {size:'16px'}) }}
					Assiette partageable
				</div>
				<span class="fw-italic">
					{% set partenaire = constante.Cotation_getPartenaire(cotation) %}
					{% if partenaire != null %}
						Part de la commision partageable avec {{ partenaire }}.
						Payée: {{ constante.Cotation_getMontant_retrocommissions_payable_par_courtier_payee(cotation, partenaire)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}. 
						Solde: {{ constante.Cotation_getMontant_retrocommissions_payable_par_courtier_solde(cotation, partenaire, -1, true)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
						{% if constante.Partenaire_hasConditionsSpeciales(partenaire) %}
							<small class="m-2 text-danger">
								{% for condition in constante.Partenaire_getDescriptionsConditionSpecialePartage(partenaire) %}
									<br>Condition de partage: {{ condition }}
								{% endfor %}
							</small><br>
						{% endif %}
					{% endif %}
				</span>
			</div>
			<span class="fw-bold">
				{{ constante.Cotation_getMontant_commission_pure(cotation, -1, true)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale)}}
			</span>
		</li>
		<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 text-secondary">
				<div class="fw-bold fw-italic text-dark">
					{{ include('segments/icones/revenu.html.twig', {size:'16px'}) }}
					Commission Pure
				</div>
				<span class="fw-italic">Commission hors toutes les taxes</span>
			</div>
			<span class="fw-bold">
				{{ constante.Cotation_getMontant_commission_pure(cotation, -1, true)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale)}}
			</span>
		</li>
		{% for taxe in serviceTaxe.taxes %}
			{% if taxe.redevable == 1 %}
				<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
					<div class="ms-2 text-secondary">
						<div class="fw-bold fw-italic text-dark">
							{{ include('segments/icones/taxe.html.twig', {size:'16px'}) }}
							{{ taxe.code }} (Iard: {{taxe.tauxIARD * 100}}% | Vie: {{taxe.tauxVIE * 100}}%)
						</div>
						<span class="fw-italic">
							Taxe dûe à {{ taxe.autoriteFiscales[0].nom }}, payable par le courtier.
							Montant payé: {{ constante.Cotation_getMontant_taxe_payable_par_courtier_payee(cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}.
							Solde: {{ constante.Cotation_getMontant_taxe_payable_par_courtier_solde(cotation, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}	
						</span>
					</div>
					<span class="fw-bold">
						{{ constante.Cotation_getMontant_taxe_payable_par_courtier(cotation, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
					</span>
				</li>
			{% endif %}
		{% endfor %}
		<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 text-secondary">
				<div class="fw-bold fw-italic text-dark">
					{{ include('segments/icones/revenu.html.twig', {size:'16px'}) }}
					Commission Hors Taxe
				</div>
				<span class="fw-italic">Commision hors taxe, mais cele-ci contient la taxe payable par le courtier.</span>
			</div>
			<span class="fw-bold">
				{{ constante.Cotation_getMontant_commission_ht(cotation, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
			</span>
		</li>
		{% for taxe in serviceTaxe.taxes %}
			{% if taxe.redevable == 0 %}
				<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
					<div class="ms-2 text-secondary">
						<div class="fw-bold fw-italic text-dark">
							{{ include('segments/icones/taxe.html.twig', {size:'16px'}) }}
							{{ taxe.code }} (Iard: {{taxe.tauxIARD * 100}}% | Vie: {{taxe.tauxVIE * 100}}%)
						</div>
						<span class="fw-italic">
							Taxe due à {{ taxe.autoriteFiscales[0].nom }}, payable par le courtier.
							Montant payé: {{ constante.Cotation_getMontant_taxe_payable_par_assureur_payee(cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
							Solde: {{ constante.Cotation_getMontant_taxe_payable_par_assureur_solde(cotation, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
						</span>
					</div>
					<span class="fw-bold">
						{{ constante.Cotation_getMontant_taxe_payable_par_assureur(cotation, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
					</span>
				</li>
			{% endif %}
		{% endfor %}
		
		<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 text-secondary">
				<div class="fw-bold fw-italic text-dark">
					{{ include('segments/icones/revenu.html.twig', {size:'16px'}) }}
					Commission TTC
				</div>
				<span class="fw-italic">
					Commission incluant toutes les taxes au profit du courtier.
					Montant collecté: {{ constante.Cotation_getMontant_commission_ttc_collectee(cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}.
					Solde: {{ constante.Cotation_getMontant_commission_ttc_solde(cotation, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
				</span>
			</div>
			<span class="fw-bold">
				{{ constante.Cotation_getMontant_commission_ttc(cotation, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
			</span>
		</li>
	</ul>
</small>