{# On dit à Twig d'utiliser notre thème personnalisé pour ce formulaire #}
{% form_theme form 'themes/_collection_widget.html.twig' %}

{{ form_start(form) }}
    {% if entityFormCanvas.parametres.form_layout is defined and entityFormCanvas.parametres.form_layout is not empty %}
        {% for row in entityFormCanvas.parametres.form_layout %}
            {% set row_style = (row.couleur_fond is defined and row.couleur_fond) ? 'background-color: ' ~ row.couleur_fond ~ ';' : '' %}
            {% set row_class = (row.couleur_fond is defined and row.couleur_fond) ? 'form-row-colored' : '' %}
            <div class="row gx-3 {{ row_class }}" style="{{ row_style }}">
                {% set col_class = 'col-md-' ~ (12 / row.colonnes|length)|round(0, 'floor') %}
                {% for col in row.colonnes %}
                    <div class="{{ col_class }}">
                        {% for field in col.champs %}
                            {# MODIFICATION ICI pour gérer la nouvelle structure #}
                            {% if field.widget is defined and field.widget == 'collection-manager' %}
                                {% set field_code = field.field_code %}
                                {% if form[field_code] is defined %}
                                    {# On passe les options au data-attribute pour que Stimulus les récupère #}
                                    {{ form_row(form[field_code], {
                                        'attr': {
                                            'data-manager-options': field.options|json_encode
                                        }
                                    }) }}
                                {% endif %}
                            {% else %}
                                {# Comportement standard pour les autres champs #}
                                {% set field_code = field %} {# Rétro-compatibilité #}
                                {% if form[field_code] is defined %}
                                    {{ form_row(form[field_code]) }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
    {{ form_rest(form) }}
{{ form_end(form) }}