{# {{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }} #}

{# templates/admin/notificationsinistre/_form.html.twig #}
{{ form_start(form) }}
    
    {# On vérifie que la structure de layout existe dans le canvas #}
    {% if entityFormCanvas.parametres.form_layout is defined and entityFormCanvas.parametres.form_layout is not empty %}
        
        {# Boucle 1 : On parcourt chaque LIGNE ("row") définie dans le layout #}
        {% for row in entityFormCanvas.parametres.form_layout %}
            <div class="row gx-3"> {# gx-3 ajoute un espacement horizontal entre les colonnes #}
                
                {# On calcule la classe de colonne Bootstrap (ex: 2 colonnes -> col-md-6) #}
                {% set col_class = 'col-md-' ~ (12 / row.colonnes|length)|round(0, 'floor') %}

                {# Boucle 2 : On parcourt chaque COLONNE ("col") de la ligne #}
                {% for col in row.colonnes %}
                    <div class="{{ col_class }}">

                        {# Boucle 3 : On parcourt chaque CHAMP ("field_code") de la colonne #}
                        {% for field_code in col.champs %}
                            
                            {# On vérifie que ce champ existe bien dans le formulaire avant de l'afficher #}
                            {% if form[field_code] is defined %}
                                {# On affiche le champ complet (label, widget, erreurs) #}
                                {{ form_row(form[field_code]) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    {% else %}
        {# Comportement par défaut si "form_layout" n'est pas défini : on affiche tout #}
        {{ form_widget(form) }}
    {% endif %}

    {# form_rest(form) affiche les champs que nous n'avons pas placés manuellement #}
    {{ form_rest(form) }}

{{ form_end(form) }}