{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "notificationsinistre_form_description" | trans({
		":user": utilisateur.nom, 
		":notificationsinistre": notificationsinistre.descriptionDeFait, 
	}) | raw }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	{# {{ form(form) }} #}
	{{ form_start(form) }}
	<div class="d-flex shadow-sm card bg-body sensible bg-white">
		<div class="card-body">
			<div>
				<div class="row">
					<div class="col">
						{{ form_row(form.referencePolice) }}
					</div>
					<div class="col">
						{{ form_row(form.referenceSinistre) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.assureur) }}
					</div>
					<div class="col">
						{{ form_row(form.notifiedAt) }}
					</div>
					<div class="col">
						{{ form_row(form.occuredAt) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.descriptionDeFait) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.descriptionVictimes) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.lieu) }}
					</div>
					<div class="col">
						{{ form_row(form.dommage) }}
					</div>
					<div class="col">
						{{ form_row(form.evaluationChiffree) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.assure) }}
					</div>
					<div class="col">
						{{ form_row(form.risque) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.contacts) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.pieces) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.offreIndemnisationSinistres) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.taches) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.enregistrer) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
