{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_entreprise_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "notificationsinistre_description" | trans }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
    <div data-controller="dialogue" data-dialogue-identreprise-value={{entreprise.id}}>
        <div class="d-flex shadow-sm sensible bg-white">
            <table class="table table-hover table-sm caption-top p-3">
                <caption>
                    {% if notificationsinistres|length == 0 %}
                        {{ "list_filter_result_empty" | trans}}
                    {% else %}
                        {{ "list_filter_result_elements" | trans({
                            ':number': notificationsinistres|length
                        })}}
                    {% endif %}
                    <div class="d-flex gap-1">
                        {{ knp_pagination_render(notificationsinistres) }}
                    </div>
                </caption>
                {% if notificationsinistres|length != 0 %}
                    <thead class="table-light">
                        <tr>
                            <th scope="col">
                                <div class='d-flex justify-content-start text-secondary'>
                                    {{ "list_of_object" | trans }}
                                </div>
                            </th>
                            <th scope="col" style="width:100px" >
                                <div class='d-flex justify-content-end'>
                                    {# {{ "note_list_actions" | trans }} #}
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {# Boucler les donnees #}
                        {% for notificationsinistre in notificationsinistres %}
                            {{ include('admin/notificationsinistre/element.html.twig') }}
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>
        {{ include('segments/dialogue.html.twig') }}
    </div>
{% endblock %}
