{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_entreprise_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "notificationsinistre_description" | trans }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="d-flex">
        <table class="table table-hover table-sm caption-top">
            <caption>
                {% if notificationsinistres|length == 0 %}
                    {{ "notificationsinistre_filter_result_empty" | trans}}
                {% else %}
                    {{ "notificationsinistre_filter_result_elements" | trans({
                        ':number': notificationsinistres|length
                    })}}
                {% endif %}
                <div class="d-flex gap-1">
                    {{ knp_pagination_render(notificationsinistres) }}
                </div>
            </caption>
            {% if notificationsinistres|length != 0 %}
                <thead class="table-light">
                    <tr>
                        <th scope="col"><div class='d-flex justify-content-start'>{{ "notificationsinistre_list_title" | trans }}</div></th>
                        <th scope="col" style="width:100px" ><div class='d-flex justify-content-end'>{{ "notificationsinistre_list_actions" | trans }}</div></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {# Boucler les donnees #}
                    {% for notificationsinistre in notificationsinistres %}
                        <tr id="row_notificationsinistre_{{ notificationsinistre.id }}">
                            <td>
                                <a class="m-2 fw-bold" href="{{ path('admin.notificationsinistre.edit', {'idNotificationsinistre':notificationsinistre.id, 'idEntreprise': entreprise.id})}}">
                                    {{ include('segments/icones/notificationsinistre.html.twig', {size:'19px'}) }}
                                    "{{ notificationsinistre.descriptionDeFait|slice(0, 85) }} [...]"
                                </a><br/>
                                <small class="m-2">
                                    {% if notificationsinistre.occuredAt != null %}
                                        <span class="text-secondary">
                                            {{ include('segments/icones/datetime.html.twig', {size:'16px'}) }}
                                            Le {{ notificationsinistre.occuredAt|format_datetime('short', 'none', locale: utilisateur.locale) }}
                                        </span>
                                    {% endif %}
                                    {% if notificationsinistre.lieu != null %}
                                        <span class="text-secondary">
                                             à {{ notificationsinistre.lieu }}
                                        </span>
                                    {% endif %}
                                    {% if notificationsinistre.notifiedAt != null %}
                                        <span class="text-secondary">
                                             • {{ include('segments/icones/datetime.html.twig', {size:'16px'}) }}
                                            Notifié le {{ notificationsinistre.notifiedAt|format_datetime('short', 'none', locale: utilisateur.locale) }}
                                        </span>
                                    {% endif %}
                                    {% if notificationsinistre.referenceSinistre != null %}
                                        <span class="text-secondary">
                                             • {{ include('segments/icones/notificationsinistre.html.twig', {size:'16px'}) }}
                                            Réf.: {{ notificationsinistre.referenceSinistre }}
                                        </span>
                                    {% endif %}
                                </small><br/>
                                <small class="m-2">
                                    {% if notificationsinistre.assure != null %}
                                        <span class="text-secondary">
                                            {{ include('segments/icones/client.html.twig', {size:'16px'}) }}
                                            {{ notificationsinistre.assure.nom }}
                                        </span>
                                    {% endif %}
                                    {% if notificationsinistre.referencePolice != null %}
                                        <span class="text-secondary">
                                              • {{ include('segments/icones/avenant.html.twig', {size:'16px'}) }}
                                            Police: {{ notificationsinistre.referencePolice }}
                                        </span>
                                    {% endif %}
                                    {% if notificationsinistre.assureur != null %}
                                        <span class="text-secondary">
                                             • 
                                             {{ include('segments/icones/assureur.html.twig', {size:'16px'}) }}
                                             {{ notificationsinistre.assureur.nom }}
                                        </span>
                                    {% endif %}
                                    {% if notificationsinistre.risque != null %}
                                        <span class="text-secondary">
                                             • 
                                             {{ include('segments/icones/risque.html.twig', {size:'16px'}) }}
                                             {{ notificationsinistre.risque.code }}
                                        </span>
                                    {% endif %}
                                </small><br/>
                                <small class="m-2">
                                    <span class="text-secondary">
                                        {{ include('segments/icones/offreindemnisation.html.twig', {size:'16px'}) }}
                                        Dommage: {{ notificationsinistre.dommage|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
                                    </span> 
                                    <span class="text-secondary"> • Evaluation de l'expert: {{ notificationsinistre.evaluationChiffree|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    <span class="text-secondary"> • Franchise: {{ constante.Notification_Sinistre_getFranchise(notificationsinistre)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                </small><br/>
                                <small class="m-2 fw-bold">
                                    <span class="text-secondary">
                                        {{ include('segments/icones/offreindemnisation.html.twig', {size:'16px'}) }}
                                        Compensation: {{ constante.Notification_Sinistre_getCompensation(notificationsinistre)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
                                    </span> 
                                    <span class="text-secondary">
                                         • versée: {{ constante.Notification_Sinistre_getCompensationVersee(notificationsinistre)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
                                    </span> 
                                    {% set couleur = "text-secondary" %}
                                    {% if constante.Notification_Sinistre_getSoldeAVerser(notificationsinistre) != 0 %}
                                        {% set couleur = "text-danger" %}
                                    {% endif %}
                                    <span class="{{couleur}}">
                                         • Solde: {{ constante.Notification_Sinistre_getSoldeAVerser(notificationsinistre)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
                                    </span> 
                                </small><br/>
                                {% set statusDoc = constante.Notification_Sinistre_getStatusDocumentsAttendus(notificationsinistre) %}
                                <small class="m-2">
                                    <span class="text-secondary">
                                        {{ include('segments/icones/modelepiecesinistre.html.twig', {size:'16px'}) }}
                                        Attendu ({{ statusDoc['Docs_attendus']|length }})
                                    </span> 
                                    <span class="text-secondary">
                                         • Fournis ({{ statusDoc['Docs_fournis']|length }})
                                    </span> 
                                    <span class="text-danger">
                                         • Manquants ({{ statusDoc['Docs_manquants']|length }})
                                    </span> 
                                </small><br/>
                                {% if statusDoc['Docs_manquants']|length != 0 %}
                                    <small class="m-2 fw-bold">
                                        <span class="text-danger">Les documents suivants sont manquants:</span>
                                    </small><br/>
                                    {% set index = 1 %}
                                    {% for manquant in statusDoc['Docs_manquants'] %}
                                        <small class="m-2">
                                            <span class="text-danger"> {{ index}}) {{ manquant.nom }}
                                            {% if manquant.obligatoire == true %}
                                                <span class="fw-bold">(obligatoire)</span>
                                            {% endif %}
                                            : {{ manquant.description }}</span><br/>
                                        </small>
                                    {% set index = index + 1 %}
                                    {% endfor %}
                                {% endif %}
                                {% if constante.Notification_Sinistre_getDureeReglement(notificationsinistre)|length > 0 %}
                                    <small class="m-2">
                                        <span class="text-secondary">Sinistre indemnisé en {{ constante.Notification_Sinistre_getDureeReglement(notificationsinistre) }} jours</span> 
                                        <span class="text-secondary"> • entre le {{ notificationsinistre.notifiedAt|format_datetime('short', 'none', locale: utilisateur.locale) }} et le {{ constante.Notification_Sinistre_getDateDernierRgelement(notificationsinistre)|format_datetime('short', 'none', locale: utilisateur.locale) }}, jour du dernier reglèment.</span> 
                                    </small><br/>
                                {% endif %}
                            </td>
                            <td>
                                <div class="d-flex gap-1 d-flex justify-content-end">
                                    {# Les actions sur l element de la liste #}
                                    <a class= "btn btn-outline-primary btn-sm border-0" href="{{ path('admin.notificationsinistre.edit', {'idEntreprise': entreprise.id, 'idNotificationsinistre':notificationsinistre.id })}}" class="" mthod = 'POST'>
                                        {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                        {# Modifier #}
                                    </a>
                                    <form action="{{ path('admin.notificationsinistre.remove', {'idNotificationsinistre':notificationsinistre.id, 'idEntreprise': entreprise.id})}}" method='POST'>
                                        <input type='hidden' name='_method' value='DELETE'>
                                        <button class='btn btn-outline-danger border-0 btn-sm' type='submit'>
                                            {{ ux_icon('fluent:delete-20-filled', {height: '18px', width: '18px'}) }}
                                            {# Supprimer #}
                                        </button>
                                    </form>
                                    <div class="dropdown">
                                        <a class="btn btn-outline-secondary dropdown-toggle border-0 btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ ux_icon('gravity-ui:dots-9', {height: '18px', width: '18px'}) }}
                                            {# Autres #}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                                    {{ "notificationsinistre_item_set_as_display_notificationsinistre" | trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                                    {{ "notificationsinistre_item_set_as_input_notificationsinistre" | trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                                    {{ "notificationsinistre_item_set_as_display_and_input_notificationsinistre" | trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
{% endblock %}
