{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "assureur_form_description" | trans({
		":user": utilisateur.nom, 
		":assureur": assureur.nom, 
	}) | raw }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	{# {{ form(form) }} #}
	{{ form_start(form) }}
	<div class="d-flex shadow-sm card bg-body sensible bg-white">
		<div class="card-body">
			<div>
				<div class="row">
					<div class="col">
						{{ form_row(form.nom) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.numimpot) }}
					</div>
					<div class="col">
						{{ form_row(form.rccm) }}
					</div>
					<div class="col">
						{{ form_row(form.idnat) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.adressePhysique) }}
					</div>
					<div class="col">
						{{ form_row(form.email) }}
					</div>
					<div class="col">
						{{ form_row(form.url) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.enregistrer) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
