{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_entreprise_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "assureur_description" | trans }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="d-flex">
        <table class="table table-hover table-sm caption-top">
            <caption>
                {% if assureurs|length == 0 %}
                    {{ "assureur_filter_result_empty" | trans }}
                {% else %}
                    {{ "assureur_filter_result_elements" | trans({
                        ':number': assureurs|length
                    })}}
                {% endif %}
                <div class="d-flex gap-1">
                    {{ knp_pagination_render(assureurs) }}
                </div>
            </caption>
            {% if assureurs|length != 0 %}
                <thead class="table-light">
                    <tr>
                        {# <th scope="col"><div class='d-flex justify-content-start'>Code</div></th> #}
                        <th scope="col"><div class='d-flex justify-content-start'>{{ "assureur_list_title" | trans }}</div></th>
                        <th scope="col" style="width:100px" ><div class='d-flex justify-content-end'>{{ "assureur_list_actions" | trans }}</div></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {# Boucler les donnees #}
                    {% for assureur in assureurs %}
                        <tr id="row_assureur_{{ assureur.id }}">
                            <td>
                                <a class="m-2 fw-bold" href="{{ path('admin.assureur.edit', {'idAssureur':assureur.id, 'idEntreprise': entreprise.id})}}">
                                    {{ assureur.nom }}
                                </a><br/>
                                <small class="m-2">
                                    <span class="text-secondary">{{ assureur.adressePhysique }} • {{ assureur.email }} • {{ assureur.url }} • RCCM: {{ assureur.rccm }} • NIF: {{ assureur.numimpot }} • IDNAT: {{ assureur.idnat }}</span> 
                                </small><br/>
                                {# Section prime #}
                                <small class="m-2">
                                    <span class="text-secondary fw-bold">Prime: {{ constante.Assureur_getMontant_prime_payable_par_client(assureur)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    <span class="text-secondary fw-bold"> • Prime payée: {{ constante.Assureur_getMontant_prime_payable_par_client_payee(assureur)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    {% set couleur = "text-secondary" %}
                                    {% if constante.Assureur_getMontant_prime_payable_par_client_solde(assureur) != 0 %}
                                        {% set couleur = "text-danger" %}
                                    {% endif %}
                                    <span class="{{couleur}} fw-bold"> • Solde dû: {{ constante.Assureur_getMontant_prime_payable_par_client_solde(assureur)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                </small><br/>
                                {# Section commissions #}
                                <small class="m-2">
                                    <span class="text-secondary">Com. pure: {{ constante.Assureur_getMontant_commission_pure(assureur, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    <span class="text-secondary"> • Com. ht: {{ constante.Assureur_getMontant_commission_ht(assureur, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    <span class="text-secondary"> • C. totale: {{ constante.Assureur_getMontant_commission_ttc(assureur, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    <span class="text-secondary"> • C. collectée: {{ constante.Assureur_getMontant_commission_ttc_collectee(assureur)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    {% set couleur = "text-secondary" %}
                                    {% if constante.Assureur_getMontant_commission_ttc_solde(assureur, -1, false) != 0 %}
                                        {% set couleur = "text-danger" %}
                                    {% endif %}
                                    <span class="{{couleur}}"> • Solde: {{ constante.Assureur_getMontant_commission_ttc_solde(assureur, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                </small><br/>
                                {% for taxe in serviceTaxe.taxes %}
                                     {% if taxe.redevable == 0 %}
                                        {# Section Taxes : TVA#}
                                        <small class="m-2">
                                            <span class="text-secondary">{{ taxe.code }}: {{ constante.Assureur_getMontant_taxe_payable_par_assureur(assureur, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                            <span class="text-secondary"> • {{ taxe.code }} payée: {{ constante.Assureur_getMontant_taxe_payable_par_assureur_payee(assureur)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                            {% set couleur = "text-secondary" %}
                                            {% if constante.Assureur_getMontant_taxe_payable_par_assureur_solde(assureur, false) != 0 %}
                                                {% set couleur = "text-danger" %}
                                            {% endif %}
                                            <span class="{{couleur}}"> • Solde: {{ constante.Assureur_getMontant_taxe_payable_par_assureur_solde(assureur, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                        </small><br/>
                                     {% endif %}
                                     {% if taxe.redevable == 1 %}
                                        {# Section Taxe: ARCA #}
                                        <small class="m-2">
                                            <span class="text-secondary">{{ taxe.code }}: {{ constante.Assureur_getMontant_taxe_payable_par_courtier(assureur, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                            <span class="text-secondary"> • {{ taxe.code }} payée: {{ constante.Assureur_getMontant_taxe_payable_par_courtier_payee(assureur)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                            {% set couleur = "text-secondary" %}
                                            {% if constante.Assureur_getMontant_taxe_payable_par_courtier_solde(assureur, false) != 0 %}
                                                {% set couleur = "text-danger" %}
                                            {% endif %}
                                            <span class="{{couleur}}"> • Solde dû: {{ constante.Assureur_getMontant_taxe_payable_par_courtier_solde(assureur, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                        </small><br/>
                                     {% endif %}
                                {% endfor %}
                                {% for partenaire in constante.Assureur_getPartenaires(assureur) %}
                                    {# Retro-commission #}
                                    {% if partenaire != null %}
                                        <small class="m-2">
                                            <span class="text-secondary">Assiette: {{ constante.Assureur_getMontant_commission_pure(assureur, -1, true)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                            <span class="text-secondary">Rétro-com dûe à {{ partenaire.nom }}: {{ constante.Assureur_getMontant_retrocommissions_payable_par_courtier(assureur, partenaire, -1, true)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                            <span class="text-secondary"> • Rétro-com payée: {{ constante.Assureur_getMontant_retrocommissions_payable_par_courtier_payee(assureur, partenaire)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                            {% set couleur = "text-secondary" %}
                                            {% if constante.Assureur_getMontant_retrocommissions_payable_par_courtier_solde(assureur, partenaire, -1, true) != 0 %}
                                                {% set couleur = "text-danger" %}
                                            {% endif %}
                                            <span class="{{couleur}}"> • Solde dû: {{ constante.Assureur_getMontant_retrocommissions_payable_par_courtier_solde(assureur, partenaire, -1, true)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span>
                                        </small><br>
                                        {% if constante.Partenaire_hasConditionsSpeciales(partenaire) %}
                                            <small class="m-2">
                                                {% for condition in constante.Partenaire_getDescriptionsConditionSpecialePartage(partenaire) %}
                                                    <span class="text-danger"> • {{ condition }}</span>
                                                {% endfor %}
                                            </small><br>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <div class="d-flex gap-1 d-flex justify-content-end">
                                    {# Les actions sur l element de la liste #}
                                    <a class= "btn btn-outline-primary btn-sm border-0" href="{{ path('admin.assureur.edit', {'idEntreprise': entreprise.id, 'idAssureur':assureur.id })}}" class="" mthod = 'POST'>
                                        {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                        {# Modifier #}
                                    </a>
                                    <form action="{{ path('admin.assureur.remove', {'idAssureur':assureur.id, 'idEntreprise': entreprise.id})}}" method='POST'>
                                        <input type='hidden' name='_method' value='DELETE'>
                                        <button class='btn btn-outline-danger border-0 btn-sm' type='submit'>
                                            {{ ux_icon('fluent:delete-20-filled', {height: '18px', width: '18px'}) }}
                                            {# Supprimer #}
                                        </button>
                                    </form>
                                    <div class="dropdown">
                                        <a class="btn btn-outline-secondary dropdown-toggle border-0 btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ ux_icon('gravity-ui:dots-9', {height: '18px', width: '18px'}) }}
                                            {# Autres #}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                                    {{ "assureur_item_set_as_display_assureur" | trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                                    {{ "assureur_item_set_as_input_assureur" | trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                                    {{ "assureur_item_set_as_display_and_input_assureur" | trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
{% endblock %}
