<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-classeurs-tab" data-bs-toggle="tab" data-bs-target="#nav-classeurs" type="button" role="tab" aria-controls="nav-classeurs" aria-selected="false">
            {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
            Classeurs
        </button>
        <button class="nav-link" id="nav-comptes-tab" data-bs-toggle="tab" data-bs-target="#nav-comptes" type="button" role="tab" aria-controls="nav-comptes" aria-selected="true">
            {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
            Comptes
        </button>
        <button class="nav-link" id="nav-monnaies-tab" data-bs-toggle="tab" data-bs-target="#nav-monnaies" type="button" role="tab" aria-controls="nav-monnaies" aria-selected="false">
            {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
            Monnaies
        </button>
        <button class="nav-link" id="nav-taxes-tab" data-bs-toggle="tab" data-bs-target="#nav-taxes" type="button" role="tab" aria-controls="nav-taxes" aria-selected="false">
            {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
            Taxes
        </button>
        <button class="nav-link" id="nav-partenaires-tab" data-bs-toggle="tab" data-bs-target="#nav-partenaires" type="button" role="tab" aria-controls="nav-partenaires" aria-selected="true">
            {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
            Partenaires
        </button>
        <button class="nav-link" id="nav-modelePieceSinistres-tab" data-bs-toggle="tab" data-bs-target="#nav-modelePieceSinistres" type="button" role="tab" aria-controls="nav-modelePieceSinistres" aria-selected="true">
            {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
            Pièces
        </button>
    </div>
</nav>
{# Contenu de chaque Onglet #}
<div class="tab-content p-2" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-classeurs" role="tabpanel" aria-labelledby="nav-classeurs-tab" tabindex="0">
        {{ form_widget(form.classeurs) }}
    </div>
    <div class="tab-pane fade" id="nav-comptes" role="tabpanel" aria-labelledby="nav-comptes-tab" tabindex="0">
        {{ form_widget(form.compteBancaires) }}
    </div>
    <div class="tab-pane fade" id="nav-monnaies" role="tabpanel" aria-labelledby="nav-monnaies-tab" tabindex="0">
        {{ form_widget(form.monnaies) }}
    </div>
    <div class="tab-pane fade" id="nav-taxes" role="tabpanel" aria-labelledby="nav-taxes-tab" tabindex="0">
        {{ form_widget(form.taxes) }}
    </div>
    <div class="tab-pane fade" id="nav-partenaires" role="tabpanel" aria-labelledby="nav-partenaires-tab" tabindex="0">
        {{ form_widget(form.partenaires) }}
    </div>
    <div class="tab-pane fade" id="nav-modelePieceSinistres" role="tabpanel" aria-labelledby="nav-modelePieceSinistres-tab" tabindex="0">
        {{ form_widget(form.modelePieceSinistres) }}
    </div>
    
</div>