<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-assureurs-tab" data-bs-toggle="tab" data-bs-target="#nav-assureurs" type="button" role="tab" aria-controls="nav-assureurs" aria-selected="false">
            {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
            Assureurs
        </button>
        <button class="nav-link" id="nav-risques-tab" data-bs-toggle="tab" data-bs-target="#nav-risques" type="button" role="tab" aria-controls="nav-risques" aria-selected="false">
            {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
            Risques
        </button>
         <button class="nav-link" id="nav-groupes-tab" data-bs-toggle="tab" data-bs-target="#nav-groupes" type="button" role="tab" aria-controls="nav-groupes" aria-selected="false">
            {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
            Groupes
        </button>
        <button class="nav-link" id="nav-clients-tab" data-bs-toggle="tab" data-bs-target="#nav-clients" type="button" role="tab" aria-controls="nav-clients" aria-selected="false">
            {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
            Clients
        </button>
        <button class="nav-link" id="nav-revenus-tab" data-bs-toggle="tab" data-bs-target="#nav-revenus" type="button" role="tab" aria-controls="nav-revenus" aria-selected="true">
            {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
            Revenus
        </button>
        <button class="nav-link" id="nav-chargements-tab" data-bs-toggle="tab" data-bs-target="#nav-chargements" type="button" role="tab" aria-controls="nav-chargements" aria-selected="true">
            {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
            Chargements
        </button>
        <button class="nav-link" id="nav-invites-tab" data-bs-toggle="tab" data-bs-target="#nav-invites" type="button" role="tab" aria-controls="nav-invites" aria-selected="true">
            {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
            invités
        </button>
    </div>
</nav>
{# Contenu de chaque Onglet #}
<div class="tab-content p-2" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-assureurs" role="tabpanel" aria-labelledby="nav-assureurs-tab" tabindex="0">
        {{ form_widget(form.assureurs) }}
    </div>
    <div class="tab-pane fade" id="nav-risques" role="tabpanel" aria-labelledby="nav-risques-tab" tabindex="0">
        {{ form_widget(form.risques) }}
    </div>
    <div class="tab-pane fade" id="nav-groupes" role="tabpanel" aria-labelledby="nav-groupes-tab" tabindex="0">
        {{ form_widget(form.groupes) }}
    </div>
    <div class="tab-pane fade" id="nav-clients" role="tabpanel" aria-labelledby="nav-clients-tab" tabindex="0">
        {{ form_widget(form.clients) }}
    </div>
    <div class="tab-pane fade" id="nav-revenus" role="tabpanel" aria-labelledby="nav-revenus-tab" tabindex="0">
        {{ form_widget(form.revenus) }}
    </div>
    <div class="tab-pane fade" id="nav-chargements" role="tabpanel" aria-labelledby="nav-chargements-tab" tabindex="0">
        {{ form_widget(form.chargements) }}
    </div>
    <div class="tab-pane fade" id="nav-invites" role="tabpanel" aria-labelledby="nav-invites-tab" tabindex="0">
        {{ form_widget(form.invites) }}
    </div>
</div>