{# Ce template ne sait afficher qu'un seul objet PieceSinistre, passé via la variable 'item' #}
<div 
    class="collection-item"
    data-action="
        mouseenter->collection#showItemActions 
        mouseleave->collection#hideItemActions 
        click->collection#selectItem 
        contextmenu->collection#handleContextMenu
    "
    data-id="{{ item.id }}"
>
    <div class="item-icon">
        <twig:ux:icon name="{{ resolve_icon_name('tache') }}" style="width: 35px;" />
    </div>
    <div class="item-text">
        <div class="text-main">{{ item.description }}</div>
        <div class="text-secondary">
            <em>
                {% if item.closed == true %}
                    Clôturée par {{ item.executor.nom }}
                {% else %}
                    Expire le : {{ item.toBeEndedAt|date('d/m/Y') }} - A exécuter par : {{ item.executor.nom }}
                {% endif %}
            </em>
        </div>
    </div>
    <div class="item-actions">
        <button type="button" class="btn btn-sm btn-edit" data-action="click->collection#editItem" title="Modifier">
            <twig:ux:icon name="{{ resolve_icon_name('action:edit') }}" style="width: 20px;" />
        </button>
        <button type="button" class="btn btn-sm btn-delete" data-action="click->collection#deleteItem" title="Supprimer">
            <twig:ux:icon name="{{ resolve_icon_name('action:delete') }}" style="width: 20px;" />
        </button>
    </div>
</div>