{# Ce template ne sait afficher qu'un seul objet PieceSinistre, passé via la variable 'item' #}
<div 
    class="collection-item"
    data-action="
        mouseenter->collection-manager#showItemActions 
        mouseleave->collection-manager#hideItemActions 
        click->collection-manager#selectItem 
        contextmenu->collection-manager#handleContextMenu {# <-- AJOUTEZ CETTE LIGNE #}
    "
    data-id="{{ item.id }}"
>
    <div class="item-icon">
        <twig:ux:icon name="mingcute:task-2-fill" style="width: 35px;" />
    </div>
    <div class="item-text">
        <div class="text-main">{{ item.description }}</div>
        <div class="text-secondary">
            <em>
                {% if item.closed == true %}
                    Clôturée par {{ item.executor.nom }}
                {% else %}
                    Expire le : {{ item.toBeEndedAt|date('d/m/Y') }} - A exécuter par : {{ item.executor.nom }}
                {% endif %}
            </em>
        </div>
    </div>
    <div class="item-actions">
        <button type="button" class="btn btn-sm btn-edit" data-action="click->collection-manager#editItem" title="Modifier">
            <twig:ux:icon name="tabler:edit" style="width: 20px;" />
        </button>
        <button type="button" class="btn btn-sm btn-delete" data-action="click->collection-manager#deleteItem" title="Supprimer">
            <twig:ux:icon name="fluent:delete-20-filled" style="width: 20px;" />
        </button>
    </div>
</div>