{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
		<h3>{{ pageName }}</h3>
		<div class="card m-2 shadow-sm bg-body" style="width: 40rem;">
			<div class="card-body">
				<form method="post">
                    <p>
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        {% if app.user %}
                            Bonjour <strong>{{ app.user.nom }}</strong>,</br>
                            Vous êtes déjà connecté en tant que <strong>{{ app.user.userIdentifier }}</strong>.</br>
                            Si vous voulez vous déconnecter, cliquez <a href="{{ path('app_logout') }}">ici</a>.
                            {% if app.user.verified == false %}
                                </br><span class="text-danger">Notez que nous n'avons pas encore validé votre adresse mail. Veuillez cliquer <a href="{{ path('app_reverify_email') }}">ici</a> afin que nous puissions vous renvoyer le lien de validation de votre adresse mail.</span>
                            {% endif %}
                        {% else %}
                            Bonjour cher <strong>visiteur</strong>, 
                            <br>Veuillez renseigner vos identifiants de connexion.
                        {% endif %}
                    </p>
                    <p class="d-flex justify-content-center">
                        <img class="rounded" src="/images/utilisateurs/default_login.jpg" alt="Image de l'entreprise" width="620px" height="350px">
                    </p>
                    <hr>
                    {# Email #}
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    {# Mot de passe #}
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    {# Champ caché #}
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                    {# Remember me #}
                    <div class="checkbox mt-2 mb-2">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi (garder ma session ouverte)
                        </label>
                    </div>
                    {# Bouton connexion #}
                    <button class="btn btn-lg btn-primary" type="submit">
                        Connexion
                    </button>
                </form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
