{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
		<h3>{{ pageName }}</h3>
		<div class="card m-2 shadow-sm bg-body" style="width: 40rem;">
			<div class="card-body">
				<form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <p>
                        {% if app.user %}
                            Bonjour <strong>{{ app.user.nom }}</strong>,</br>
                            Vous êtes déjà connecté en tant que <strong>{{ app.user.userIdentifier }}</strong>.</br>
                            Si vous voulez vous déconnecter, cliquez <a href="{{ path('app_logout') }}">ici</a>.
                        {% else %}
                            Bonjour cher <strong>visiteur</strong>, 
                            <br>Veuillez renseigner vos identifiants de connexion.
                        {% endif %}
                        <hr>
                    </p>
                    
                    {# Email #}
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    {# Mot de passe #}
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    {# Champ caché #}
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                    {# Remember me #}
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    {# Bouton connexion #}
                    <button class="btn btn-lg btn-primary" type="submit">
                        Connexion
                    </button>
                </form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
