{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{ pageName }}</h1>
		<p>
			<strong>{{ utilisateur.nom }}</strong>, vous êtes sur le point de créer une entreprise. Merci de fournir vos informations dans le formulaire ci-dessous.
		</p>
		<p>
			{{ form(form) }}
			{# {{ form_start(form) }}
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Infos génériques</button>
					<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Fiscalité</button>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
					<div class="m-4">
						<div class='row'>
							<div class='col-sm col-8'>{{ form_row(form.nom) }}</div>
							<div class='col-sm col-4'>{{ form_row(form.licence) }}</div>
						</div>
						<div class='row'>
							<div class='col-sm col-8'>{{ form_row(form.adresse) }}</div>
							<div class='col-sm col-4'>{{ form_row(form.telephone) }}</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
					<div class='row m-4'>
						<div class='col-sm col-4'>{{ form_row(form.rccm) }}</div>
						<div class='col-sm col-4'>{{ form_row(form.idnat) }}</div>
						<div class='col-sm col-4'>{{ form_row(form.numimpot) }}</div>
					</div>
				</div>
			</div>
			{{ form_end(form) }} #}
		</p>
	</p>
</div>{% endblock %}
