{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}


{% block pageIndex %}
	<span class="text-center">{{ pageName }}</span>
  <p>
      <h1 class="text-center"><strong>{{ "security_Work_faster_and_efficiently" | trans }}</strong></h1>
      <h4 class="text-center text-secondary">{{ "security_Work_faster__description" | trans | raw}}</h4>
  </p>
  <p class="text-center m-5">
      {% if app.user %}
        <a href="{{ path('app_login')}}" type="button" class="btn btn-primary p-3 shadow">
          <strong>{{ "security_my_work_space" | trans }}</strong>
        </a>
      {% else %}
        <a href="{{ path('app_register', {idUtilisateur:-1})}}" type="button" class="btn btn-primary p-3 shadow">
          <strong>{{ "security_new_account" | trans }}</strong>
        </a>
      {% endif %}
      <a href="#" type="button" class="btn btn-outline-secondary p-3 shadow">
        {# {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }} #}
        <strong>{{ "security_tarif" | trans }}</strong>
      </a>
  </p>
  </br>
  </br>
  <p class="text-center m-5">
      <h1 class="text-center"><strong>{{ "security_some_key_fitures" | trans }}</strong></h1>
      <h4 class="text-center text-secondary">{{ "security_some_key_fitures_description" | trans | raw}}</h4>
  </p>
  {# tableau des fonctions clées #}
  <div class="m-5">
     {# Ligne 1 #}
    <div class="row justify-content-md-center bg-secondary bg-gradient rounded m-3 p-3">
      <div class="col-5">
        {# Marketing & CRM #}
        <p>
          <h5 class="">
            <strong class="text-light">
              {{ ux_icon('nimbus:marketing', {height: '20px', width: '20px'}) }} 
              {{ "security_fitures_marketing_crm" | trans }}
            </strong>
          </h5>
          <h6 class="text-light">
            {{ "security_fitures_marketing_crm_description" | trans | raw}}
          </h6>
          <span class="text-light">
            {{ "security_fitures_to_achieve_this" | trans }}
            <ul>
              <li>{{ "security_fitures_crm_task" | trans }}</li>
              <li>{{ "security_fitures_crm_feedback" | trans }}</li>
              <li>{{ "security_fitures_crm_prospect" | trans }}</li>
              <li>{{ "security_fitures_crm_action_plan" | trans }}</li>
            </ul>
          </span>
        </p>

        {# Production #}
        <p>
          <h5 class="">
            <strong class="text-light">
              {{ ux_icon('emojione-monotone:umbrella-with-rain-drops', {height: '20px', width: '20px'}) }} 
              {{ "security_fitures_production" | trans }}
            </strong>
          </h5>
          <h6 class="text-light">
            {{ "security_fitures_production_description" | trans | raw}}
          </h6>
          <span class="text-light">
            {{ "security_fitures_to_achieve_this" | trans }}
            <ul>
              <li>{{ "security_fitures_production_clients" | trans }}</li>
              <li>{{ "security_fitures_production_insurers" | trans }}</li>
              <li>{{ "security_fitures_production_contacts" | trans }}</li>
              <li>{{ "security_fitures_production_products" | trans }}</li>
              <li>{{ "security_fitures_production_revenus" | trans }}</li>
              <li>{{ "security_fitures_production_partners" | trans }}</li>
              <li>{{ "security_fitures_production_reinsurers" | trans }}</li>
              <li>{{ "security_fitures_production_policies" | trans }}</li>
            </ul>
          </span>
        </p>
      </div>
      <div class="col-6">
				<img class="rounded shadow" src="{{ asset('images/fitures/marketing_crm.jpg') }}" alt="" width="490px" height="550px">
      </div>
    </div>

    {# Ligne 2 #}
    <div class="row justify-content-md-center bg-white bg-gradient rounded m-3 p-3">
      <div class="col-5">
        {# Claims #}
        <p>
          <h5 class="">
            <strong>
              {{ ux_icon('hugeicons:accident', {height: '20px', width: '20px'}) }} 
              {{ "security_fitures_claims" | trans }}
            </strong>
          </h5>
          <h6 class="text-secondary">
            {{ "security_fitures_claims_description" | trans | raw}}
          </h6>
          <span class="text-secondary">
            {{ "security_fitures_to_achieve_this" | trans }}
            <ul>
              <li>{{ "security_fitures_claims_victimes" | trans }}</li>
              <li>{{ "security_fitures_claims_assessors" | trans }}</li>
              <li>{{ "security_fitures_claims_settlements" | trans }}</li>
              <li>{{ "security_fitures_claims_claims_registry" | trans }}</li>
              <li>{{ "security_fitures_claims_documentation" | trans }}</li>
            </ul>
          </span>
        </p>

      </div>
      <div class="col-6">
				<img class="rounded shadow" src="{{ asset('images/fitures/claims.jpg') }}" alt="" width="490px" height="250px">
      </div>
    </div>

    {# Ligne suivante #}
    <div class="row justify-content-md-center">
      <div class="col-5">
        {# Claims #}
        <p>
          <h5 class="">
            <strong>
              {{ ux_icon('hugeicons:accident', {height: '20px', width: '20px'}) }} 
              {{ "security_fitures_claims" | trans }}
            </strong>
          </h5>
          <h6 class="text-secondary">
            {{ "security_fitures_claims_description" | trans | raw}}
          </h6>
          <span class="text-secondary">
            {{ "security_fitures_to_achieve_this" | trans }}
            <ul>
              <li>{{ "security_fitures_claims_victimes" | trans }}</li>
              <li>{{ "security_fitures_claims_assessors" | trans }}</li>
              <li>{{ "security_fitures_claims_settlements" | trans }}</li>
              <li>{{ "security_fitures_claims_claims_registry" | trans }}</li>
            </ul>
          </span>
        </p>

        {# Finance #}
        <p>
          <h5 class="">
            <strong>
              {{ ux_icon('carbon:finance', {height: '20px', width: '20px'}) }} 
              {{ "security_fitures_finance" | trans }}
            </strong>
          </h5>
          <h6 class="text-secondary">
            {{ "security_fitures_finance_description" | trans | raw}}
          </h6>
          <span class="text-secondary">
            {{ "security_fitures_to_achieve_this" | trans }}
            <ul>
              <li>{{ "security_fitures_finance_currencies" | trans }}</li>
              <li>{{ "security_fitures_finance_taxes" | trans }}</li>
              <li>{{ "security_fitures_finance_revenues" | trans }}</li>
              <li>{{ "security_fitures_finance_invoices" | trans }}</li>
              <li>{{ "security_fitures_finance_paiments" | trans }}</li>
              <li>{{ "security_fitures_finance_bank_accounts" | trans }}</li>
              <li>{{ "security_fitures_finance_provider" | trans }}</li>
            </ul>
          </span>
        </p>
        
      </div>
      <div class="col-6">
				<img class="rounded shadow" src="{{ asset('images/fitures/claims.jpg') }}" alt="" width="480px" height="530px">
      </div>
    </div>
</div>
{% endblock %}


{% block body %}
{% endblock %}
