{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}


{% block pageIndex %}
	<span class="text-center">{{ pageName }}</span>
  <p>
      <h1 class="text-center"><strong>{{ "security_Work_faster_and_efficiently" | trans }}</strong></h1>
      <h4 class="text-center text-secondary">{{ "security_Work_faster__description" | trans | raw}}</h4>
  </p>
  <p class="text-center m-5">
      {% if app.user %}
        <a href="{{ path('app_login')}}" type="button" class="btn btn-primary p-3">
          <strong>{{ "security_my_work_space" | trans }}</strong>
        </a>
      {% else %}
        <a href="{{ path('app_register', {idUtilisateur:-1})}}" type="button" class="btn btn-primary p-3">
          <strong>{{ "security_new_account" | trans }}</strong>
        </a>
      {% endif %}
      <a href="#" type="button" class="btn btn-outline-secondary p-3">
        {# {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }} #}
        <strong>{{ "security_tarif" | trans }}</strong>
      </a>
  </p>
  </br>
  </br>
  <p class="text-center m-5">
      <h1 class="text-center"><strong>{{ "security_some_key_fitures" | trans }}</strong></h1>
      <h4 class="text-center text-secondary">{{ "security_some_key_fitures_description" | trans | raw}}</h4>
  </p>
  <div class="m-5">
    <div class="row justify-content-md-center">
      <div class="col-4">
        {# Marketing & CRM #}
        <p>
          <h5 class="">
            <strong>
              {{ ux_icon('emojione-v1:key', {height: '20px', width: '20px'}) }} 
              {{ "security_fitures_marketing_crm" | trans }}
            </strong>
          </h5>
          <h6 class="text-secondary">
            {{ "security_fitures_marketing_crm_description" | trans | raw}}
          </h6>
          <span class="text-secondary">
            To achieve this we'll help you manage:
            {# {{ "security_fitures_marketing_crm_description" | trans | raw}} #}
            <ul>
              <li>Tasks: actions that need to be taken</li>
              <li>Feedbcks: minutes of interaction / action</li>
              <li>Prospects: potential client or lead</li>
              <li>Daily action plan: ordered tasks per user</li>
            </ul>
          </span>
        </p>
        {# Marketing & CRM #}
        <p>
          <h5 class=""><strong>{{ ux_icon('emojione-v1:key', {height: '20px', width: '20px'}) }} {{ "security_fitures_marketing_crm" | trans }}</strong></h5>
          <h6 class="text-secondary">{{ "security_fitures_marketing_crm_description" | trans | raw}}</h6>
        </p>
        {# Marketing & CRM #}
        <p>
          <h5 class=""><strong>{{ ux_icon('emojione-v1:key', {height: '20px', width: '20px'}) }} {{ "security_fitures_marketing_crm" | trans }}</strong></h5>
          <h6 class="text-secondary">{{ "security_fitures_marketing_crm_description" | trans | raw}}</h6>
        </p>
        {# Marketing & CRM #}
        <p>
          <h5 class=""><strong>{{ ux_icon('emojione-v1:key', {height: '20px', width: '20px'}) }} {{ "security_fitures_marketing_crm" | trans }}</strong></h5>
          <h6 class="text-secondary">{{ "security_fitures_marketing_crm_description" | trans | raw}}</h6>
        </p>
        {# Marketing & CRM #}
        <p>
          <h5 class=""><strong>{{ ux_icon('emojione-v1:key', {height: '20px', width: '20px'}) }} {{ "security_fitures_marketing_crm" | trans }}</strong></h5>
          <h6 class="text-secondary">{{ "security_fitures_marketing_crm_description" | trans | raw}}</h6>
        </p>
      </div>
      <div class="col-4">
				<img class="rounded" src="{{ asset('images/fitures/marketing_crm.jpg') }}" alt="" width="450px" height="700px">
      </div>
    </div>
</div>
{% endblock %}


{% block body %}
{% endblock %}
