{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}


{% block section_utilisateur %}
	<div>
		<a href="{{ path('app_broker_registration', { 'idUtilisateur':utilisateur.id, 'idEntreprise':-1 })}}" type="button" class="btn btn-primary">Créer une entreprise</a>
		<a href="{{ path('app_index')}}" type="button" class="btn btn-outline-danger">Déconnexion</a>
	</div>
{% endblock %}


{% block body %}
	<div class="container">
		<p>
			<h1>{{ pageName }}</h1>
			Liste des entreprises de votre protefeuil, y compris les celles auxquelles vous êtes invité.
		</p>

		<div class="d-flex">
			{# Boucler les entreprises #}
			{% for entreprise in listeEntreprises %}
				<div class="card m-2" style="width: 18rem;">
					{# <img class="card-img-top" src="..." alt="Card image cap"> #}
					<div class="card-body">
						<h5 class="card-title">
							<a href="#" class="text-primary">{{ entreprise.nom }}</a>
						</h5>
						<p class="card-text">{{ entreprise.adresse }}</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">RCCM: {{ entreprise.rccm }}| IDNAT: {{ entreprise.idnat }} | NIF:{{ entreprise.numimpot }}</li>
						<li class="list-group-item">{{ entreprise.telephone }}</li>
						<li class="list-group-item">
							<em>Créée le {{ entreprise.createdAt | date("d/m/Y") }}</em>
						</li>
					</ul>
					<div class="card-body">
						<a href="#" class="m-2">Ouvrir</a>
						<a href="{{ path('app_broker_registration', { 'idUtilisateur':utilisateur.id, 'idEntreprise':entreprise.id })}}" class="m-2">Modifier</a>
						<a href="#" class="m-2">Supprimer</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
