<div>
    {% if app.current_route starts with 'admin.invite' %}
        <a href="{{ path('admin.invite.create')}}" type="button" class="btn btn-secondary">
          {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
          {{ "entreprise_bouton_new_invite" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.monnaie' %}
        <a href="{{ path('admin.monnaie.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
          {{ "entreprise_bouton_new_monnaie" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.taxe' %}
        <a href="{{ path('admin.taxe.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
          {{ "entreprise_bouton_new_taxe" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.comptebancaire' %}
        <a href="{{ path('admin.comptebancaire.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
          {{ "entreprise_bouton_new_comptebancaire" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.revenu' %}
        <a href="{{ path('admin.revenu.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
          {{ "entreprise_bouton_new_revenu" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.risque' %}
        <a href="{{ path('admin.risque.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
          {{ "entreprise_bouton_new_risque" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.chargement' %}
        <a href="{{ path('admin.chargement.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
          {{ "entreprise_bouton_new_chargement" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.classeur' %}
        <a href="{{ path('admin.classeur.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
          {{ "entreprise_bouton_new_classeur" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.assureur' %}
        <a href="{{ path('admin.assureur.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
          {{ "entreprise_bouton_new_assureur" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.client' %}
        <a href="{{ path('admin.client.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
          {{ "entreprise_bouton_new_client" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.partenaire' %}
        <a href="{{ path('admin.partenaire.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
          {{ "entreprise_bouton_new_partenaire" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.contact' %}
        <a href="{{ path('admin.contact.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
          {{ "entreprise_bouton_new_contact" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.entreprise' %}
      <ul class="mb-2 mb-lg-0 btn btn-secondary">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
            {{ "entreprise_bouton_add" | trans }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{{ path('app_register', {idUtilisateur:-1})}}">
                {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
                {{ "entreprise_bouton_new_lead" | trans }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ path('app_register', {idUtilisateur:-1})}}">
                {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
                {{ "entreprise_bouton_new_product" | trans }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ path('app_register', {idUtilisateur:-1})}}">
                {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
                {{ "entreprise_bouton_new_insurer" | trans }}
              </a>
            </li>
             <li>
              <a class="dropdown-item" href="{{ path('app_register', {idUtilisateur:-1})}}">
                {{ ux_icon('gridicons:add', {height: '18px', width: '18px'}) }}
                {{ "entreprise_bouton_new_client" | trans }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    {% endif %}
    <a href="{{ path('admin.entreprise.index')}}" type="button" class="btn border-0 btn-outline-danger">
      {{ ux_icon('hugeicons:logout-04', {height: '18px', width: '18px'}) }}
      {{ "entreprise_bouton_exit" | trans }}
    </a>
    <a href="{{ path('app_register')}}" type="button" class="btn border-0 btn-outline-secondary">
      {{ ux_icon('material-symbols:settings', {height: '18px', width: '18px'}) }}
      {{ "entreprise_bouton_user_settings" | trans }}
    </a>
</div>