<div>
    {% if app.current_route starts with 'admin.monnaie' %}
        <a href="{{ path('admin.monnaie.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_monnaie" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.taxe' %}
        <a href="{{ path('admin.taxe.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_taxe" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.comptebancaire' %}
        <a href="{{ path('admin.comptebancaire.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_comptebancaire" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.typerevenu' %}
        <a href="{{ path('admin.typerevenu.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_typerevenu" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.risque' %}
        <a href="{{ path('admin.risque.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_risque" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.chargement' %}
        <a href="{{ path('admin.chargement.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_chargement" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.classeur' %}
        <a href="{{ path('admin.classeur.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_classeur" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.assureur' %}
        <a href="{{ path('admin.assureur.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_assureur" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.client' %}
        <a href="{{ path('admin.client.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_client" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.partenaire' %}
        <a href="{{ path('admin.partenaire.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_partenaire" | trans }}
        </a>
    {% endif %}
    {# {% if app.current_route starts with 'admin.contact' %}
        <a href="{{ path('admin.contact.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_contact" | trans }}
        </a>
    {% endif %} #}
    {% if app.current_route starts with 'admin.modelepiecesinistre' %}
        <a href="{{ path('admin.modelepiecesinistre.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_modelepiecesinistre" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.tache' %}
        <a href="{{ path('admin.tache.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_tache" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.document' %}
        <a href="{{ path('admin.document.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_document" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.piste' %}
        <a href="{{ path('admin.piste.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_piste" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.invite' %}
        <a href="{{ path('admin.invite.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_invite" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.notificationsinistre' %}
        <div data-controller="dialogue">
          <button type="button" data-action="dialogue#open" class="btn btn-secondary">
            {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
            {{ "entreprise_bouton_new_notificationsinistre" | trans }}
          </button>
          <div class="modal fade" data-dialogue-target="boite" id="maModal" tabindex="-1" aria-labelledby="maModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                  {# <div>
                    <button data-action="dialogue#close">Fermer</button><br/>
                    Contenu de la boîte ici.
                  </div> #}

                  <div class="modal-header">
                    <h5 class="modal-title" id="maModalLabel">Titre de la boîte de dialogue</h5>
                    {# Le bouton de fermeture n'a plus data-bs-dismiss #}
                    <button type="button" class="btn-close" data-action="dialogue#close" aria-label="Fermer"></button>
                  </div>
                  <div class="modal-body">
                      Contenu de la boîte de dialogue.
                  </div>
                  <div class="modal-footer">
                      {# Le bouton de fermeture du footer n'a plus data-bs-dismiss #}
                      <button type="button" class="btn btn-secondary" data-action="dialogue#close">Fermer</button>
                      <button type="button" class="btn btn-primary">Enregistrer</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
        {# Ancien code: il s'agissait d'un simple lien
        <a href="{{ path('admin.notificationsinistre.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_notificationsinistre" | trans }}
        </a> #}

    {% endif %}
    {# {% if app.current_route starts with 'admin.feedback' %}
        <a href="{{ path('admin.feedback.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_feedback" | trans }}
        </a>
    {% endif %} #}
    {% if app.current_route starts with 'admin.groupe' %}
        <a href="{{ path('admin.groupe.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_groupe" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.bordereau' %}
        <a href="{{ path('admin.bordereau.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_bordereau" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.cotation' %}
        <a href="{{ path('admin.cotation.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_cotation" | trans }}
        </a>
    {% endif %}
    {# {% if app.current_route starts with 'admin.revenucourtier' %}
        <a href="{{ path('admin.revenucourtier.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_revenucourtier" | trans }}
        </a>
    {% endif %} #}
    {# {% if app.current_route starts with 'admin.avenant' %}
        <a href="{{ path('admin.avenant.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_avenant" | trans }}
        </a>
    {% endif %} #}
    {# {% if app.current_route starts with 'admin.tranche' %}
        <a href="{{ path('admin.tranche.create', {'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_tranche" | trans }}
        </a>
    {% endif %} #}
    {% if app.current_route starts with 'admin.note' %}
        <a href="{{ path('admin.note.create', {'idNote':-1, 'page':1, 'idEntreprise': entreprise.id})}}" type="button" class="btn btn-secondary">
          {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
          {{ "entreprise_bouton_new_note" | trans }}
        </a>
    {% endif %}
    {% if app.current_route starts with 'admin.entreprise' %}
      <ul class="mb-2 mb-lg-0 btn btn-secondary">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
            {{ "entreprise_bouton_add" | trans }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item text-secondary" href="{{ path('admin.piste.create', {'idEntreprise': entreprise.id})}}">
                {{ include('segments/icones/piste.html.twig', {size:'20px'}) }}
                {{ "entreprise_bouton_new_lead" | trans }}
              </a>
            </li>
            <li>
              <a class="dropdown-item text-secondary" href="{{ path('admin.risque.create', {'idEntreprise': entreprise.id})}}">
                {{ include('segments/icones/risque.html.twig', {size:'20px'}) }}
                {{ "entreprise_bouton_new_product" | trans }}
              </a>
            </li>
            <li>
              <a class="dropdown-item text-secondary" href="{{ path('admin.assureur.create', {'idEntreprise': entreprise.id})}}">
                {{ include('segments/icones/assureur.html.twig', {size:'20px'}) }}
                {{ "entreprise_bouton_new_insurer" | trans }}
              </a>
            </li>
             <li>
              <a class="dropdown-item text-secondary" href="{{ path('admin.client.create', {'idEntreprise': entreprise.id})}}">
                {{ include('segments/icones/client.html.twig', {size:'20px'}) }}
                {{ "entreprise_bouton_new_client" | trans }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    {% endif %}
    <a href="{{ path('admin.entreprise.index')}}" type="button" class="btn border-0 btn-outline-danger">
      {{ include('segments/icones/actions/exit.html.twig', {size:'18px'}) }}
      {{ "entreprise_bouton_exit" | trans }}
    </a>
    <a href="{{ path('app_register')}}" type="button" class="btn border-0 btn-outline-secondary">
      {{ include('segments/icones/actions/settings.html.twig', {size:'18px'}) }}
      {{ "entreprise_bouton_user_settings" | trans }}
    </a>
</div>