<div 
  id = "barre-outils" 
  data-controller="barre-outils" 
  class="btn-toolbar shadow-bottom p-2" 
  role="toolbar" 
  aria-label="Toolbar with button groups"
>
  <div class="btn-group me-2 border-end" role="group" aria-label="Second group">
    <button 
      data-barre-outils-target="btquitter" 
      data-action="barre-outils#action_quitte" 
      type="button" 
      class="btn btn-outline-danger btn-sm border-0" 
      style="display:block" 
      data-bs-toggle="tooltip" data-bs-title="Quitter cet espace de travail"
    >
      {{ include('segments/icones/actions/exit.html.twig', {size:'22px'}) }}
    </button>
    <button 
      data-barre-outils-target="btparametres" 
      data-action="barre-outils#action_parametrer" 
      type="button" 
      class="btn btn-outline-secondary btn-sm border-0" 
      style="display:block" 
      data-bs-toggle="tooltip" data-bs-title="Paramètres"
    >
      {{ include('segments/icones/actions/settings.html.twig', {size:'22px'}) }}
    </button>
  </div>
  <div class="btn-group me-2 border-end" role="group" aria-label="First group">
    {# Ajout #}
    <button 
      data-barre-outils-target="btajouter" 
      data-action="barre-outils#action_ajouter" 
      type="button" 
      class="btn btn-outline-secondary btn-sm border-0 fw-bold" 
      style="display:none" 
      data-bs-toggle="tooltip" data-bs-title="Ajouter"
    >
      {{ include('segments/icones/actions/add.html.twig', {size:'22px'}) }}
      Nouveau
    </button>
    {# Tout Cocher #}
    <button 
      data-barre-outils-target="bttoutcocher" 
      data-action="barre-outils#action_tout_cocher" 
      type="button" 
      class="btn btn-outline-secondary btn-sm border-0 fw-bold" 
      style="display:none" 
      data-bs-toggle="tooltip" data-bs-title="Tout Cocher"
    >
      {{ include('segments/icones/actions/check.html.twig', {size:'22px'}) }}
    </button>
    {# Développer #}
    <button 
      data-barre-outils-target="btdevelopper" 
      data-action="barre-outils#action_developper" 
      type="button" 
      class="btn btn-outline-secondary btn-sm border-0 fw-bold" 
      style="display:none" 
      data-bs-toggle="tooltip" data-bs-title="Développer"
    >
      {{ include('segments/icones/actions/open.html.twig', {size:'22px'}) }}
    </button>
    {# Actualiser #}
    <button 
      data-barre-outils-target="btrecharger" 
      data-action="barre-outils#action_recharger" 
      type="button" 
      class="btn btn-outline-secondary btn-sm border-0 fw-bold" 
      style="display:none" 
      data-bs-toggle="tooltip" data-bs-title="Recharger"
    >
      {{ include('segments/icones/actions/reload.html.twig', {size:'22px'}) }}
    </button>
    {# Edition #}
    <button 
      data-barre-outils-target="btmodifier" 
      data-action="barre-outils#action_modifier" 
      type="button" 
      class="btn btn-outline-secondary btn-sm border-0" 
      style="display:none" 
      data-bs-toggle="tooltip" data-bs-title="Modifier"
    >
      {{ include('segments/icones/actions/edit.html.twig', {size:'22px'}) }}
    </button>
    {# Suppression #}
    <button 
      data-barre-outils-target="btsupprimer" 
      data-action="barre-outils#action_supprimer" 
      type="button" 
      class="btn btn-outline-secondary btn-sm border-0" 
      style="display:none" 
      data-bs-toggle="tooltip" data-bs-title="Supprimer"
    >
      {{ include('segments/icones/actions/delete.html.twig', {size:'22px'}) }}
    </button>
  </div>
</div>