{# Le nouveau Menu #}
<div class="list-group">
    {# <a href="{{ path('admin.entreprise.dashbord', {'id': entreprise.id})}}" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.entreprise.dashbord' ? 'active' : '' }}"> #}
    <a href="{{ path('admin.entreprise.dashbord', {'id': entreprise.id})}}" class="text-secondary sensible {{ app.current_route starts with 'admin.entreprise.dashbord' ? 'bg-secondary text-white' : '' }} p-3 mb-2">
        <div class="d-flex justify-content-between">
            <h6>
                <strong>
                    &nbsp;
                    {{ include('segments/icones/dashboard.html.twig', {size:'25px'}) }}
                    {{ "company_menu_dashboard" | trans }}
                </strong>
            </h6>
            <span>
                {{ include('segments/icones/actions/premium.html.twig', {size:'25px'}) }}
            </span>
        </div>
    </a>
</div>
<div class="accordion" id="accMenuEntreprise">
    {% include 'segments/menu_entreprise/menu_entreprise_finances.html.twig' %}
    {% include 'segments/menu_entreprise/menu_entreprise_marketing.html.twig' %}
    {% include 'segments/menu_entreprise/menu_entreprise_production.html.twig' %}
    {% include 'segments/menu_entreprise/menu_entreprise_sinistres.html.twig' %}
    {# {% include 'segments/menu_entreprise/menu_entreprise_reporting.html.twig' %} #}
    {% include 'segments/menu_entreprise/menu_entreprise_administration.html.twig' %}
</div>





