<div>
  {% if panier != null %}
      
          {% if panier.idNote != null %}
          <hr>
            <p>
              {{ ux_icon('pepicons-print:cart', {height: '18px', width: '18px'}) }}{{ panier }}, créer le {{ panier.createdAt|format_datetime('short', 'short', locale: utilisateur.locale)}}:</br>
              - {{ panier.nomNote }} / {{ panier.reference }} / {{ panier.nbTranche }} tranche(s)</br>
              {% set currentURL = absolute_url(path(app.current_route, app.request.attributes.get('_route_params'))) %}
              <a class="m-2" href="{{ path('admin.note.viderpanier', {'idEntreprise': entreprise.id, 'currentURL': currentURL})}}">
                Vider le panier
              </a>
            </p>
          <hr>
          {% endif %}
       
	{% endif %}
</div>