{% if panier != null and note != null %}
  <div class="sensible mt-3">
      {% if panier.idNote != null %}
      {# <hr> #}
        {# <p> #}
          {{ ux_icon('pepicons-print:cart', {height: '18px', width: '18px'}) }}{{ panier }}, créer le {{ panier.createdAt|format_datetime('short', 'short', locale: utilisateur.locale)}}:</br>
          <a class="m-2" href="{{ path('admin.note.edit', {'page':1, 'idNote':panier.idnote, 'idEntreprise': entreprise.id})}}">
            {{ ux_icon('hugeicons:invoice', {height: '18px', width: '18px'}) }}{{ constante.Note_getNameOfTypeNote(note) }} • {{ panier.nomNote }} • {{ panier.reference }} • {{ panier.nbTranche }} tranche(s) • {{ constante.Note_getNameOfAddressedTo(note) }}</br>
          </a>
          <small class ="m-2">
            <span class="text-secondary fw-bold">Montant dû: {{ constante.Note_getMontant_payable(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
            <span class="text-secondary"> • Montant payé: {{ constante.Note_getMontant_paye(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
            <span class="text-secondary"> • Solde: {{ constante.Note_getMontant_solde(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
          </small></br>
          {% set currentURL = absolute_url(path(app.current_route, app.request.attributes.get('_route_params'))) %}
          <a class="m-2 btn btn-danger border-0 btn-sm" href="{{ path('admin.note.viderpanier', {'idEntreprise': entreprise.id, 'currentURL': currentURL})}}">
            {{ ux_icon('fluent:delete-20-filled', {height: '18px', width: '18px'}) }}
            Vider le panier
          </a>
        {# </p> #}
      {# <hr> #}
      {% endif %}
  </div>
{% endif %}