<div class="card h-100 shadow">
{# <img src="..." class="card-img-top" alt="..."> #}
<div class="card-header bg-secondary">
    <h5 class="card-title text-center text-light">
        {{ "security_pricing_intermediaire" | trans }}
    </h5>
</div>
<div class="card-body">
    <h1 class="card-title text-center">{{ "security_pricing_intermediaire_price" | trans }}</h1>
    <hr>
    <p class="card-text">
    <blockquote class="blockquote mb-0 text-center">
        <p>
            <span class="badge rounded-pill bg-warning text-dark">
                {{ "security_pricing_intermediaire_mode" | trans }}
            </span>
        </p>
        <footer class="blockquote-footer">
            {{ "security_pricing_intermediaire_profil" | trans }}
        </footer>
    </blockquote>
    </p>
    <hr>
    <p class="card-text">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            {{ "security_pricing_intermediaire_option_assistance" | trans }}
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            {{ "security_pricing_intermediaire_option_invite" | trans }}
            <strong class="text-dark">
                [{{ "security_pricing_intermediaire_option_invite_value" | trans }}]
            </strong>
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            {{ "security_pricing_intermediaire_option_donnees" | trans }}
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            {{ "security_pricing_intermediaire_option_volume" | trans }}
            <strong class="text-dark">
                [{{ "security_pricing_intermediaire_option_volume_value" | trans }}]
            </strong>
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            {{ "security_pricing_intermediaire_option_entreprise" | trans }}
            <strong class="text-dark">
                [{{ "security_pricing_intermediaire_option_entreprise_value" | trans }}]
            </strong>
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            {{ "security_pricing_intermediaire_option_dashboard" | trans }}
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            {{ "security_pricing_intermediaire_option_email" | trans }}
            <strong class="text-dark">
                [{{ "security_pricing_intermediaire_option_email_value" | trans }}]
            </strong>
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            {{ "security_pricing_intermediaire_option_fonctions" | trans }}
        </a>
    </div>
    </p>
</div>
<div class="card-footer text-center">
    <small class="text-muted">
    <a href="#" type="button" class="btn btn-outline-secondary">
        {{ "security_pricing_free" | trans }}
    </a>
    </small>
</div>
</div>