<div class="card h-100 shadow">
{# <img src="..." class="card-img-top" alt="..."> #}
<div class="card-header bg-secondary">
    <h5 class="card-title text-center text-light">INTERMEDIARE</h5>
</div>
<div class="card-body">
    <h1 class="card-title text-center">10$/Invité/Mois</h1>
    <hr>
    <p class="card-text">
    <blockquote class="blockquote mb-0 text-center">
        <p><span class="badge rounded-pill bg-warning text-dark">Payable chaque mois</span></p>
        <footer class="blockquote-footer">Courtier, vous travaillez avec des collaborateurs mais ne voulez qu'un abonnement à court terme.</footer>
    </blockquote>
    </p>
    <hr>
    <p class="card-text">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            Assistance technique personnalisée
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            Peut inviter d'utilisateurs <strong class="text-dark">[Illimité]</strong>
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            Importer et d'exporter des données
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            Volume des données <strong class="text-dark">[Illimité]</strong>
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            Nombre d'entreprises <strong class="text-dark">[Illimité]</strong>
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            Accès au tableau de bord
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            Envoie d'emails <strong class="text-dark">[Illimité]</strong>
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            Accès à toutes les autres fonctions
        </a>
    </div>
    </p>
</div>
<div class="card-footer text-center">
    <small class="text-muted">
    <a href="#" type="button" class="btn btn-outline-secondary">
        {{ "security_pricing_free" | trans }}
    </a>
    </small>
</div>
</div>