<div class="card h-100 shadow">
{# <img src="..." class="card-img-top" alt="..."> #}
<div class="card-header bg-secondary">
    <h5 class="card-title text-center text-light">PROFESSIONNEL</h5>
</div>
<div class="card-body">
    <h1 class="card-title text-center">72$/Invité/An</h1>
    <hr>
    <p class="card-text">
    <blockquote class="blockquote mb-0 text-center">
        <p><span class="badge rounded-pill bg-warning text-dark">Payable par an</span></p>
        <footer class="blockquote-footer">Vous êtes un individu, vous travaillez seul sans collaborateur et n'effectuez pas beaucoup d'opérations.</footer>
    </blockquote>
    </p>
    <hr>
    <p class="card-text">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action text-danger">
            {{ ux_icon('healthicons:no', {height: '20px', width: '20px'}) }}
            Pas d'assistance technique
        </a>
        <a class="list-group-item list-group-item-action text-danger">
            {{ ux_icon('healthicons:no', {height: '20px', width: '20px'}) }}
            Ne peut pas inviter d'utilisateurs
        </a>
        <a class="list-group-item list-group-item-action text-danger">
            {{ ux_icon('healthicons:no', {height: '20px', width: '20px'}) }}
            Pas d'importation ou d'exportation
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            Volume des données <strong>[200 max]</strong>
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            Nombre d'entreprises <strong class="text-dark">[Une seule]</strong>
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            Accès au tableau de bord
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            Envoie d'emails <strong class="text-dark">[Illimité]</strong>
        </a>
        <a class="list-group-item list-group-item-action text-muted">
            {{ ux_icon('mdi:check-bold', {height: '20px', width: '20px'}) }}
            Accès à toutes les autres fonctions
        </a>
    </div>
    </p>
</div>
<div class="card-footer text-center">
    <small class="text-muted">
    <a href="#" type="button" class="btn btn-outline-secondary">
        {{ "security_pricing_free" | trans }}
    </a>
    </small>
</div>
</div>