{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "tache_creation_description_message" | trans({
		":user": utilisateur.nom, 
		":company": entreprise.nom, 
	}) | raw}}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	{# {{ form(form) }} #}
	{{ form_start(form, {
		'attr': {
			'data-controller': 'tache-formulaire', 
			'data-tache-formulaire-idtache-value': tache.id,
			'data-tache-formulaire-identreprise-value': entreprise.id,
			}
		}) 
	}}
	<div class="d-flex shadow-sm card bg-body sensible bg-white">
		<div class="card-body">
			<div>
				<div class="row">
					<div class="col">
						{{ form_row(form.description, {'attr': {'data-tache-formulaire-target': 'description'}}) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.executor) }}
					</div>
					<div class="col">
						{{ form_row(form.toBeEndedAt) }}
					</div>
					<div class="col">
						{{ form_row(form.closed) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.feedbacks) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.enregistrer, {
							'attr': {
								'data-tache-formulaire-target': 'btEnregistrer'
								}
							}) 
						}}
					</div>
				</div>
			</div>
			<small>
				<span class="text-secondary m-2 fw-bold" data-tache-formulaire-target="display" style="display:block;">Message d'infos ici</span>
			</small>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
