{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "partenaire_creation_description_message" | trans({
		":user": utilisateur.nom, 
		":company": entreprise.nom, 
	}) | raw}}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	{# {{ form(form) }} #}
	{{ form_start(form, {
		'attr': {
			'data-controller': 'partenaire-formulaire', 
			'data-partenaire-formulaire-idpartenaire-value': partenaire.id,
			'data-partenaire-formulaire-identreprise-value': entreprise.id,
			'data-partenaire-formulaire-nbconditions-value': partenaire.conditionPartages|length,
			'data-partenaire-formulaire-nbdocuments-value': partenaire.documents|length,
			}
		}) 
	}}
	<div class="d-flex shadow-sm card bg-body sensible bg-white">
		<div class="card-body">
			<div>
				{# Les onglets #}
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						{# Onglet Principale - tittre #}
						<button class="nav-link fw-bold text-secondary active" id="nav-partenaire-tab" data-bs-toggle="tab" data-bs-target="#nav-partenaire" type="button" role="tab" aria-controls="nav-partenaire" aria-selected="true">
							<small>
								{{ include('segments/icones/partenaire.html.twig', {size:'20px'}) }}
								PRINCIPAL 
							</small>
						</button>
						{# Onglet Condition - tittre #}
						<button class="nav-link fw-bold text-secondary" id="nav-condition-tab" data-bs-toggle="tab" data-bs-target="#nav-condition" type="button" role="tab" aria-controls="nav-condition" aria-selected="false">
							<small>
								{{ include('segments/icones/actions/settings.html.twig', {size:'20px'}) }}
								CONDITION 
								<span 
									data-partenaire-formulaire-target = "displaycondition"
								>
								<span>
							</small>
						</button>
						{# Onglet Document - tittre #}
						<button class="nav-link fw-bold text-secondary" id="nav-document-tab" data-bs-toggle="tab" data-bs-target="#nav-document" type="button" role="tab" aria-controls="nav-document" aria-selected="false">
							<small>
								{{ include('segments/icones/document.html.twig', {size:'20px'}) }}
								DOCUMENTS 
								<span 
									data-partenaire-formulaire-target = "displaydocument"
								>
								<span>
							</small>
						</button>
					</div>
				</nav>
				{# Contenu de chaque Onglet #}
				<div class="tab-content" id="nav-tabContent">
					{# Onglet Principale - corps #}
					<div class="tab-pane fade m-2 show active" id="nav-partenaire" role="tabpanel" aria-labelledby="nav-partenaire-tab" tabindex="0">
						<div class="row">
							<div class="col-8">
								{{ form_row(form.nom, {'attr': {'data-partenaire-formulaire-target': 'nom'}}) }}
							</div>
							<div class="col-4">
								{{ form_row(form.adressePhysique) }}
							</div>
						</div>
						<div class="row">
							<div class="col">
								{{ form_row(form.telephone) }}
							</div>
							<div class="col">
								{{ form_row(form.email) }}
							</div>
							<div class="col">
								{{ form_row(form.numimpot) }}
							</div>
						</div>
						<div class="row">
							<div class="col">
								{{ form_row(form.idnat) }}
							</div>
							<div class="col">
								{{ form_row(form.rccm) }}
							</div>
							<div class="col">
								{{ form_row(form.part) }}
							</div>
						</div>
					</div>

					{# Onglet Conditions - corps #}
					<div class="tab-pane fade m-2" id="nav-condition" role="tabpanel" aria-labelledby="nav-condition-tab" tabindex="1">
						<div class="row">
							<div class="col">
								{{ form_row(form.conditionPartages) }}
							</div>
						</div>
					</div>

					{# Onglet Documents - corps #}
					<div class="tab-pane fade m-2" id="nav-document" role="tabpanel" aria-labelledby="nav-document-tab" tabindex="2">
						<div class="row">
							<div class="col">
								{{ form_row(form.documents) }}
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						{{ form_widget(form.enregistrer, {
							'attr': {
								'data-partenaire-formulaire-target': 'btEnregistrer'
								}
							}) 
						}}
					</div>
				</div>
			</div>
			<small>
				<span class="text-secondary m-2 fw-bold" data-partenaire-formulaire-target="display" style="display:block;">Prêt</span>
			</small>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
