{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "risque_form_description" | trans({
		":user": utilisateur.nom, 
		":cotation": cotation.nom, 
	}) | raw }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	{# {{ form(form) }} #}
	{{ form_start(form, {
		'attr': {
			'data-controller': 'cotation-formulaire', 
			'data-cotation-formulaire-idcotation-value': cotation.id,
			'data-cotation-formulaire-identreprise-value': entreprise.id,

			'data-cotation-formulaire-nbchargements-value': cotation.chargements|length,
			'data-cotation-formulaire-nbrevenus-value': partenaire.revenus|length,
			'data-cotation-formulaire-nbavenants-value': partenaire.avenants|length,
			'data-cotation-formulaire-nbtranches-value': partenaire.tranches|length,
			'data-cotation-formulaire-nbtaches-value': partenaire.taches|length,
			'data-cotation-formulaire-nbdocuments-value': partenaire.documents|length,
			}
		}) 
	}}
	<div class="d-flex shadow-sm card bg-body sensible bg-white">
		<div class="card-body">
			<div>
				<div class="row">
					<div class="col-6">
						{{ form_row(form.nom, {'attr': {'data-cotation-formulaire-target': 'nom'}}) }}
					</div>
					<div class="col-2">
						{{ form_row(form.duree) }}
					</div>
					<div class="col-4">
						{{ form_row(form.assureur) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.chargements) }}
					</div>
				</div>
				<div class="row">
					{% if cotation != null %}
						<div class="col">
							{{ form_row(form.prime) }}
						</div>
					{% endif %}
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.revenus) }}
					</div>
				</div>
				{% if cotation != null %}
					<div class="row">
						<div class="col">
							{{ form_row(form.commissionNette) }}
						</div>
						<div class="col">
							{{ form_row(form.commissionNetteTva) }}
						</div>
						<div class="col">
							{{ form_row(form.commissionTTC) }}
						</div>
					</div>
				{% endif %}
				<div class="row">
					<div class="col">
						{{ form_row(form.tranches) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.documents) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.taches) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.avenants) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.enregistrer, {
							'attr': {
								'data-cotation-formulaire-target': 'btEnregistrer'
								}
							}) 
						}}
					</div>
				</div>
			</div>
			<small>
				<span class="text-secondary m-2 fw-bold" data-cotation-formulaire-target="display" style="display:block;">Prêt</span>
			</small>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
