{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "risque_form_description" | trans({
		":user": utilisateur.nom, 
		":cotation": cotation.nom, 
	}) | raw }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	{# {{ form(form) }} #}
	{{ form_start(form, {
		'attr': {
			'data-controller': 'cotation-formulaire', 
			'data-cotation-formulaire-idcotation-value': cotation.id,
			'data-cotation-formulaire-identreprise-value': entreprise.id,

			'data-cotation-formulaire-nbchargements-value': cotation.chargements|length,
			'data-cotation-formulaire-nbrevenus-value': cotation.revenus|length,
			'data-cotation-formulaire-nbavenants-value': cotation.avenants|length,
			'data-cotation-formulaire-nbtranches-value': cotation.tranches|length,
			'data-cotation-formulaire-nbtaches-value': cotation.taches|length,
			'data-cotation-formulaire-nbdocuments-value': cotation.documents|length,
			}
		}) 
	}}
	<div class="d-flex shadow-sm card bg-body sensible bg-white">
		<div class="card-body">
			<div>
				{# Les onglets #}
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						{# Onglet Principale - tittre #}
						<button class="nav-link fw-bold text-secondary active" id="nav-cotation-tab" data-bs-toggle="tab" data-bs-target="#nav-cotation" type="button" role="tab" aria-controls="nav-cotation" aria-selected="true">
							<small>
								{{ include('segments/icones/cotation.html.twig', {size:'18px'}) }}
								INDEX
							</small>
						</button>
						{# Onglet Chargement pour prime - tittre #}
						<button class="nav-link fw-bold text-secondary" id="nav-chargement-tab" data-bs-toggle="tab" data-bs-target="#nav-chargement" type="button" role="tab" aria-controls="nav-chargement" aria-selected="false">
							<small>
								{{ include('segments/icones/client.html.twig', {size:'18px'}) }}
								PRIME
								<span 
									data-cotation-formulaire-target = "displayprime"
								>
								<span>
							</small>
						</button>
						{# Onglet Revenu de courtage - tittre #}
						<button class="nav-link fw-bold text-secondary" id="nav-revenu-tab" data-bs-toggle="tab" data-bs-target="#nav-revenu" type="button" role="tab" aria-controls="nav-revenu" aria-selected="false">
							<small>
								{{ include('segments/icones/revenu.html.twig', {size:'18px'}) }}
								REVENU
								<span 
									data-cotation-formulaire-target = "displaycommission"
								>
								<span>
							</small>
						</button>
						{# Onglet Tranche ou Plan de paiement - tittre #}
						<button class="nav-link fw-bold text-secondary" id="nav-tranche-tab" data-bs-toggle="tab" data-bs-target="#nav-tranche" type="button" role="tab" aria-controls="nav-tranche" aria-selected="false">
							<small>
								{{ include('segments/icones/tranche.html.twig', {size:'18px'}) }}
								TRANCHE
								<span 
									data-cotation-formulaire-target = "displaytranche"
								>
								<span>
							</small>
						</button>
						{# Onglet Avenant - tittre #}
						<button class="nav-link fw-bold text-secondary" id="nav-avenant-tab" data-bs-toggle="tab" data-bs-target="#nav-avenant" type="button" role="tab" aria-controls="nav-avenant" aria-selected="false">
							<small>
								{{ include('segments/icones/avenant.html.twig', {size:'18px'}) }}
								AVEN.
								<span 
									data-cotation-formulaire-target = "displayavenant"
								>
								<span>
							</small>
						</button>
						{# Onglet Document - tittre #}
						<button class="nav-link fw-bold text-secondary" id="nav-document-tab" data-bs-toggle="tab" data-bs-target="#nav-document" type="button" role="tab" aria-controls="nav-document" aria-selected="false">
							<small>
								{{ include('segments/icones/document.html.twig', {size:'18px'}) }}
								DOC.
								<span 
									data-cotation-formulaire-target = "displaydocument"
								>
								<span>
							</small>
						</button>
						{# Onglet Tâche - tittre #}
						<button class="nav-link fw-bold text-secondary" id="nav-tache-tab" data-bs-toggle="tab" data-bs-target="#nav-tache" type="button" role="tab" aria-controls="nav-tache" aria-selected="false">
							<small>
								{{ include('segments/icones/tache.html.twig', {size:'18px'}) }}
								TACHE
								<span 
									data-cotation-formulaire-target = "displaytache"
								>
								<span>
							</small>
						</button>
					</div>
				</nav>
				{# Contenu de chaque Onglet #}
				<div class="tab-content" id="nav-tabContent">
					{# Onglet Principale - corps #}
					<div class="tab-pane fade m-2 show active" id="nav-cotation" role="tabpanel" aria-labelledby="nav-cotation-tab" tabindex="0">
						<div class="row">
							<div class="col" data-cotation-formulaire-target = "viewpiste">
								{% include 'admin/piste/view/simpleinfos.html.twig' %}
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								{{ form_row(form.nom, {'attr': {'data-cotation-formulaire-target': 'nom'}}) }}
							</div>
							<div class="col-2">
								{{ form_row(form.duree) }}
							</div>
							<div class="col-4">
								{{ form_row(form.assureur) }}
							</div>
						</div>
					</div>

					{# Onglet Chargement pour prime - corps #}
					<div class="tab-pane fade m-2" id="nav-chargement" role="tabpanel" aria-labelledby="nav-chargement-tab" tabindex="1">
						<div class="row">
							<div class="col" data-cotation-formulaire-target = "viewprime">
								{% include 'admin/cotation/view/prime.html.twig' %}
							</div>
						</div>
						<div class="row">
							<div class="col">
								{{ form_row(form.chargements) }}
							</div>
						</div>
					</div>

					{# Onglet Revenu - corps #}
					<div class="tab-pane fade m-2" id="nav-revenu" role="tabpanel" aria-labelledby="nav-revenu-tab" tabindex="2">
						<div class="row">
							<div class="col" data-cotation-formulaire-target = "viewrevenu">
								{% include 'admin/cotation/view/revenucourtier.html.twig' %}
							</div>
						</div>
						<div class="row">
							<div class="col">
								{{ form_row(form.revenus) }}
							</div>
						</div>
					</div>

					{# Onglet Tranche ou termes de paiement - corps #}
					<div class="tab-pane fade m-2" id="nav-tranche" role="tabpanel" aria-labelledby="nav-tranche-tab" tabindex="3">
						<div class="row">
							<div class="col">
								{{ form_row(form.tranches) }}
							</div>
						</div>
					</div>

					{# Onglet Avenant - corps #}
					<div class="tab-pane fade m-2" id="nav-avenant" role="tabpanel" aria-labelledby="nav-avenant-tab" tabindex="4">
						<div class="row">
							<div class="col">
								{{ form_row(form.avenants) }}
							</div>
						</div>
					</div>

					{# Onglet Document - corps #}
					<div class="tab-pane fade m-2" id="nav-document" role="tabpanel" aria-labelledby="nav-document-tab" tabindex="5">
						<div class="row">
							<div class="col">
								{{ form_row(form.documents) }}
							</div>
						</div>
					</div>

					{# Onglet Tâche - corps #}
					<div class="tab-pane fade m-2" id="nav-tache" role="tabpanel" aria-labelledby="nav-tache-tab" tabindex="6">
						<div class="row">
							<div class="col">
								{{ form_row(form.taches) }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.enregistrer, {
							'attr': {
								'data-cotation-formulaire-target': 'btEnregistrer'
								}
							})
						}}
					</div>
				</div>
			</div>
			<small>
				<span class="text-secondary m-2 fw-bold" data-cotation-formulaire-target="display" style="display:block;">Prêt</span>
			</small>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
