{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_entreprise_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "cotation_description" | trans }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div>
		<div class="d-flex shadow-sm sensible bg-white">
			<table class="table table-hover table-sm caption-top p-3">
				<caption>
                    {% if cotations|length == 0 %}
                        {{ "list_filter_result_empty" | trans }}
                    {% else %}
                        {{ "list_filter_result_elements" | trans({
                            ':number': cotations|length
                        })}}
                    {% endif %}
                    <div class="d-flex gap-1">
                        {{ knp_pagination_render(cotations) }}
                    </div>
                </caption>
                {% if cotations|length != 0 %}
                    <thead class="table-light">
						<tr>
							<th scope="col">
								<div class='d-flex justify-content-start text-secondary'>
									{{ "list_of_object" | trans }}
								</div>
							</th>
							<th scope="col" style="width:100px" >
								<div class='d-flex justify-content-end'>
									{# {{ "note_list_actions" | trans }} #}
								</div>
							</th>
						</tr>
					</thead>
                    <tbody class="table-group-divider">
                        {# Boucler les donnees #}
                        {% for cotation in cotations %}
                            <tr id="row_cotation_{{ cotation.id }}" class="element-a-encadrer parent-a-options">
                                <td>
                                    <a class="m-2 fw-bold" href="{{ path('admin.cotation.edit', {'idCotation':cotation.id, 'idEntreprise': entreprise.id})}}">
                                        {{ include('segments/icones/cotation.html.twig', {size:'18px'}) }}
                                        {% if constante.Cotation_isBound(cotation) %}
                                            <span class="text-success">
                                                {{ include('segments/icones/actions/completed.html.twig', {size:'18px'}) }}
                                            </span>
                                        {% endif %}
                                        {{ constante.Cotation_getRisque(cotation).nomComplet }} de {{ constante.Cotation_getAssureur(cotation).nom }} pour {{ constante.Cotation_getClient(cotation).nom }}<br/>
                                    </a>
                                    {{ constante.Cotation_getTrancheDiagnostic(cotation)|raw }}
                                    {# Section prime #}
                                    <small class="m-2">
                                        <span class="text-secondary fw-bold">
                                            {{ include('segments/icones/actions/description.html.twig', {size:'16px'}) }}
                                            Prime: {{ constante.Cotation_getMontant_prime_payable_par_client(cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
                                        </span> 
                                        <span class="text-secondary fw-bold"> • Prime payée: {{ constante.Cotation_getMontant_prime_payable_par_client_payee(cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                        {% set couleur = "text-secondary" %}
                                        {% if constante.Cotation_getMontant_prime_payable_par_client_solde(cotation) != 0 %}
                                            {% set couleur = "text-danger" %}
                                        {% endif %}
                                        <span class="{{couleur}} fw-bold"> • Solde dû: {{ constante.Cotation_getMontant_prime_payable_par_client_solde(cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    </small><br/>
                                    {# Section commissions #}
                                    <small class="m-2">
                                        <span class="text-secondary">
                                            {{ include('segments/icones/revenu.html.twig', {size:'16px'}) }}
                                            Com. pure: {{ constante.Cotation_getMontant_commission_pure(cotation, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
                                        </span> 
                                        <span class="text-secondary"> • Ht: {{ constante.Cotation_getMontant_commission_ht(cotation, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                        <span class="text-secondary"> • Totale: {{ constante.Cotation_getMontant_commission_ttc(cotation, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                        <span class="text-secondary"> • Collectée: {{ constante.Cotation_getMontant_commission_ttc_collectee(cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                        {% set couleur = "text-secondary" %}
                                        {% if constante.Cotation_getMontant_commission_ttc_solde(cotation, -1, false) != 0 %}
                                            {% set couleur = "text-danger" %}
                                        {% endif %}
                                        <span class="{{couleur}}"> • Solde: {{ constante.Cotation_getMontant_commission_ttc_solde(cotation, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    </small><br/>
                                    {# La reserve du courtier = ce qui revient au courtier après avoir payé tous les partenaires #}
                                    <small class="m-2">
                                        <span class="text-secondary">
                                            {{ include('segments/icones/revenu.html.twig', {size:'16px'}) }}
                                            La réserve finale pour {{ entreprise.nom }} est de {{ constante.Cotation_getReserve(cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
                                        </span> 
                                    </small><br>
                                    {% for taxe in serviceTaxe.taxes %}
                                        {% if taxe.redevable == 0 %}
                                            {# Section Taxes : TVA#}
                                            <small class="m-2">
                                                <span class="text-secondary">
                                                    {{ include('segments/icones/taxe.html.twig', {size:'16px'}) }}
                                                    {{ taxe.code }}: {{ constante.Cotation_getMontant_taxe_payable_par_assureur(cotation, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
                                                </span> 
                                                <span class="text-secondary"> • {{ taxe.code }} payée: {{ constante.Cotation_getMontant_taxe_payable_par_assureur_payee(cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                                {% set couleur = "text-secondary" %}
                                                {% if constante.Cotation_getMontant_taxe_payable_par_assureur_solde(cotation, false) != 0 %}
                                                    {% set couleur = "text-danger" %}
                                                {% endif %}
                                                <span class="{{couleur}}"> • Solde: {{ constante.Cotation_getMontant_taxe_payable_par_assureur_solde(cotation, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                            </small><br/>
                                        {% endif %}
                                        {% if taxe.redevable == 1 %}
                                            {# Section Taxe: ARCA #}
                                            <small class="m-2">
                                                <span class="text-secondary">
                                                    {{ include('segments/icones/cotation.html.twig', {size:'16px'}) }}
                                                    {{ taxe.code }}: {{ constante.Cotation_getMontant_taxe_payable_par_courtier(cotation, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
                                                </span> 
                                                <span class="text-secondary"> • {{ taxe.code }} payée: {{ constante.Cotation_getMontant_taxe_payable_par_courtier_payee(cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                                {% set couleur = "text-secondary" %}
                                                {% if constante.Cotation_getMontant_taxe_payable_par_courtier_solde(cotation, false) != 0 %}
                                                    {% set couleur = "text-danger" %}
                                                {% endif %}
                                                <span class="{{couleur}}"> • Solde dû: {{ constante.Cotation_getMontant_taxe_payable_par_courtier_solde(cotation, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                            </small><br/>
                                        {% endif %}
                                    {% endfor %}
                                    {% set partenaire = constante.Cotation_getPartenaire(cotation) %}
                                    {% if partenaire != null %}
                                        {# Retro-commission #}
                                        <small class="m-2">
                                            <span class="text-secondary">
                                                {{ include('segments/icones/partenaire.html.twig', {size:'16px'}) }}
                                                Assiette: {{ constante.Cotation_getMontant_commission_pure(cotation, -1, true)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}
                                            </span> 
                                            <span class="text-secondary">Rétro-com {{ partenaire }}: {{ constante.Cotation_getMontant_retrocommissions_payable_par_courtier(cotation, partenaire, -1, true)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                            <span class="text-secondary"> • Payée: {{ constante.Cotation_getMontant_retrocommissions_payable_par_courtier_payee(cotation, partenaire)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                            {% set couleur = "text-secondary" %}
                                            {% if constante.Cotation_getMontant_retrocommissions_payable_par_courtier_solde(cotation, partenaire, -1, true) != 0 %}
                                                {% set couleur = "text-danger" %}
                                            {% endif %}
                                            <span class="{{couleur}}"> • Solde dû: {{ constante.Cotation_getMontant_retrocommissions_payable_par_courtier_solde(cotation, partenaire, -1, true)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span>
                                            {% if constante.Cotation_hasConditionsSpeciales(cotation) %}
                                                <span class="text-secondary fw-bold"> | Conditions spéciales (taux:{{ constante.Cotation_getTauxConditionsSpecialePiste(cotation, partenaire) }}).</span>
                                            {% endif %}
                                        </small><br>
                                        {% if constante.Partenaire_hasConditionsSpeciales(partenaire) %}
                                            <small class="m-2">
                                                {% for condition in constante.Partenaire_getDescriptionsConditionSpecialePartage(partenaire) %}
                                                    <span class="text-danger">
                                                        {{ include('segments/icones/partenaire.html.twig', {size:'16px'}) }}
                                                        {{ condition }}
                                                    </span>
                                                {% endfor %}
                                            </small><br>
                                        {% endif %}
                                    {% endif %}
                                    <small class="m-2">
                                        <span class="text-secondary">
                                            {{ include('segments/icones/piste.html.twig', {size:'16px'}) }}
                                            {{ cotation.piste }}
                                        </span> 
                                    </small>
                                </td>
                                <td>
                                    <div class="options-du-parent">
                                        <div class="d-flex gap-1 d-flex justify-content-end">
                                            {# Les actions sur l element de la liste #}
                                            <a class= "btn btn-outline-primary btn-sm border-0" href="{{ path('admin.cotation.edit', {'idEntreprise': entreprise.id, 'idCotation':cotation.id })}}" class="" mthod = 'POST'>
                                                {{ include('segments/icones/actions/edit.html.twig', {size:'18px'}) }}
												{# Modifier #}
                                            </a>
                                            <form action="{{ path('admin.cotation.remove', {'idCotation':cotation.id, 'idEntreprise': entreprise.id})}}" method='POST'>
                                                <input type='hidden' name='_method' value='DELETE'>
                                                <button class='btn btn-outline-danger border-0 btn-sm' type='submit'>
                                                    {{ include('segments/icones/actions/delete.html.twig', {size:'18px'}) }}
													{# Supprimer #}
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
