{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_entreprise_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "feedback_description" | trans }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="d-flex">
        <table class="table table-hover table-sm caption-top">
            <caption>
                {% if feedbacks|length == 0 %}
                    {{ "feedback_filter_result_empty" | trans}}
                {% else %}
                    {{ "feedback_filter_result_elements" | trans({
                        ':number': feedbacks|length
                    })}}
                {% endif %}
                <div class="d-flex gap-1">
                    {{ knp_pagination_render(feedbacks) }}
                </div>
            </caption>
            {% if feedbacks|length != 0 %}
                <thead class="table-light">
                    <tr>
                        <th scope="col"><div class='d-flex justify-content-start'>{{ "feedback_list_title" | trans }}</div></th>
                        <th scope="col" style="width:100px" ><div class='d-flex justify-content-end'>{{ "feedback_list_actions" | trans }}</div></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {# Boucler les donnees #}
                    {% for feedback in feedbacks %}
                        <tr id="row_feedback_{{ feedback.id }}">
                            <td>
                                <a class="m-2 fw-bold" href="{{ path('admin.feedback.edit', {'idFeedback':feedback.id, 'idEntreprise': entreprise.id})}}">
                                    "{{ feedback.description }}"
                                </a><br/>
                                {% if feedback.tache != null %}
                                    <small class="m-2">
                                        <span class="text-secondary fw-bold">Tâche: "{{ feedback.tache.description }}"</span> 
                                        {% set couleur = "text-success" %}
                                        {% if constante.Tache_getExecutionStatus(feedback.tache)['remaining days'] < 0 %}
                                            {% set couleur = "text-danger" %}
                                        {% endif %}
                                        <span class="{{ couleur }}"> • Status: {{ constante.Tache_getExecutionStatus(feedback.tache)['text'] }}</span> 
                                    </small><br/>
                                {% endif %}
                                {% if feedback.tache.piste != null %}
                                    <small class="m-2">
                                        <span class="text-secondary fw-bold">Piste: {{ feedback.tache.piste }}</span> 
                                    </small><br/>
                                {% endif %}
                                {% if feedback.tache.cotation != null %}
                                    <small class="m-2">
                                        <span class="text-secondary">Proposition: {{ feedback.tache.cotation }}</span> 
                                    </small><br/>
                                {% endif %}
                                {% if feedback.tache.notificationSinistre != null %}
                                    <small class="m-2">
                                        <span class="text-secondary">Déclaration sinistre: {{ feedback.tache.notificationSinistre }}</span> 
                                    </small><br/>
                                {% endif %}
                                {% if feedback.tache.offreIndemnisationSinistre != null %}
                                    <small class="m-2">
                                        <span class="text-secondary">Offre de réglèment sinistre: {{ feedback.tache.offreIndemnisationSinistre }}</span> 
                                    </small><br/>
                                {% endif %}
                                <small class="m-2">
                                    <span class="text-secondary fw-bold">Réponse créée le {{ feedback.createdAt|format_datetime('short', 'short', locale: utilisateur.locale) }}</span> 
                                    <span class="text-secondary"> • Modifiée le {{ feedback.updatedAt|format_datetime('short', 'short', locale: utilisateur.locale) }}</span> 
                                    {% if feedback.tache != null %}
                                        <span class="text-secondary"> par {{ feedback.tache.executor }}</span> 
                                    {% endif %}
                                </small><br/>
                            </td>
                            <td>
                                <div class="d-flex gap-1 d-flex justify-content-end">
                                    {# Les actions sur l element de la liste #}
                                    <a class= "btn btn-outline-primary btn-sm border-0" href="{{ path('admin.feedback.edit', {'idEntreprise': entreprise.id, 'idFeedback':feedback.id })}}" class="" mthod = 'POST'>
                                        {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                        {# Modifier #}
                                    </a>
                                    <form action="{{ path('admin.feedback.remove', {'idFeedback':feedback.id, 'idEntreprise': entreprise.id})}}" method='POST'>
                                        <input type='hidden' name='_method' value='DELETE'>
                                        <button class='btn btn-outline-danger border-0 btn-sm' type='submit'>
                                            {{ ux_icon('fluent:delete-20-filled', {height: '18px', width: '18px'}) }}
                                            {# Supprimer #}
                                        </button>
                                    </form>
                                    <div class="dropdown">
                                        <a class="btn btn-outline-secondary dropdown-toggle border-0 btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ ux_icon('gravity-ui:dots-9', {height: '18px', width: '18px'}) }}
                                            {# Autres #}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                                    {{ "feedback_item_set_as_display_feedback" | trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                                    {{ "feedback_item_set_as_input_feedback" | trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                                    {{ "feedback_item_set_as_display_and_input_feedback" | trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
{% endblock %}
