{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "bordereau_form_description" | trans({
		":user": utilisateur.nom, 
		":bordereau": bordereau.nom, 
	}) | raw }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	{# {{ form(form) }} #}
	{{ form_start(form, {
		'attr': {
			'data-controller': 'bordereau-formulaire', 
			'data-bordereau-formulaire-idbordereau-value': bordereau.id,
			'data-bordereau-formulaire-identreprise-value': entreprise.id,
			}
		}) 
	}}
	<div class="d-flex shadow-sm card bg-body sensible bg-white">
		<div class="card-body">
			<div>
				<div class="row">
					<div class="col-8">
						{{ form_row(form.nom, {'attr': {'data-bordereau-formulaire-target': 'nom'}}) }}
					</div>
					<div class="col-4">
						{{ form_row(form.type) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.montantTTC) }}
					</div>
					<div class="col">
						{{ form_row(form.receivedAt) }}
					</div>
					<div class="col">
						{{ form_row(form.assureur) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.documents) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.enregistrer, {
								'attr': {
									'data-bordereau-formulaire-target': 'btEnregistrer'
									}
								})
							}}
					</div>
				</div>
			</div>
			<small>
				<span class="text-secondary m-2 fw-bold" data-bordereau-formulaire-target="display" style="display:block;">Message d'infos ici</span>
			</small>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
