{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "note_description" | trans }}
	<p>
		{{ panier }}:</br>
		- {{ panier.note.id }} / {{ panier.note.nom }} / sign:{{ panier.note.signature }} / ref:{{ panier.note.reference }}</br>
		{% set currentURL = absolute_url(path(app.current_route, app.request.attributes.get('_route_params'))) %}
		<a class="m-2" href="{{ path('admin.note.viderpanier', {'idEntreprise': entreprise.id, 'currentURL': currentURL})}}">
			Vider le panier
		</a>
	</p>
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container">
		{# {{ form(form) }} #}
		<div class="card m-2 shadow-sm bg-body" style="width: 40rem;">
			<div class="card-body">
				<p>
					{{ "note_creation_description_message" | trans({
						":user": utilisateur.nom, 
						":company": entreprise.nom, 
					}) | raw}}
					<hr>
				</p>
				{% if page == pageMax %}
					Vous êtes sur la dernière page du formulaire, il ne vous reste plus qu'à terminer l'édition.
				{% else %}
					Vous êtes sur la page {{ page }} sur {{ pageMax }}.
				{% endif %}
				{# {{ form(form) }} #}
				{{ form(form, {action: path('admin.note.create', {
						idEntreprise:entreprise.id,
						idNote:idNote,
						page:page,
						})}) 
					}}
				</div>
			</div>
		</div>	
	</div>
{% endblock %}
