{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "note_creation_description_message" | trans({
		":user": utilisateur.nom, 
		":company": entreprise.nom, 
	}) | raw}}
	{% include 'segments/panier_pour_note.html.twig' %}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	{# {{ form(form) }} #}
	{{ form_start(form, {'attr': {'data-controller': 'note-formulaire'}}) }}
	<div class="d-flex shadow-sm card bg-body sensible bg-white">
		<div class="card-body">
			<div>
				<div class="row">
					<div class="col">
						{{ form_row(form.nom) }}
					</div>
					<div class="col">
						{{ form_row(form.reference) }}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form_row(form.description) }}
					</div>
					<div class="col-3">
						{{ form_row(form.type) }}
					</div>
					<div class="col-3">
						{{ form_row(form.addressedTo) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.signedBy) }}
					</div>
					<div class="col">
						{{ form_row(form.titleSignedBy) }}
					</div>
					<div class="col">
						{{ form_row(form.sentAt) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.montantDue) }}
					</div>
					<div class="col">
						{{ form_row(form.montantPaye) }}
					</div>
					<div class="col">
						{{ form_row(form.montantSolde) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.paiements) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.assureur) }}
					</div>
					<div class="col">
						{{ form_row(form.client) }}
					</div>
					<div class="col">
						{{ form_row(form.partenaire) }}
					</div>
					<div class="col">
						{{ form_row(form.autoritefiscale) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.comptes) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.articles) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.precedent, {'attr': {'data-action': 'note-formulaire#precedent'}}) }}
						{{ form_widget(form.suivant) }}
						{{ form_widget(form.delete) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
