{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_entreprise_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "note_description" | trans }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div>
		<div class="d-flex">
			<table class="table table-hover table-sm caption-top">
				<caption>
					{% if notes|length == 0 %}
						{{ "note_filter_result_empty" | trans}}
					{% else %}
						{{ "note_filter_result_elements" | trans({
							':number': notes|length
						})}}
					{% endif %}
					<div class="d-flex gap-1">
						{{ knp_pagination_render(notes) }}
					</div>
				</caption>
				{% if notes|length != 0 %}
					<thead class="table-light">
						<tr>
							<th scope="col"><div class='d-flex justify-content-start'>{{ "note_list_title" | trans }}</div></th>
							<th scope="col" style="width:100px" ><div class='d-flex justify-content-end'>{{ "note_list_actions" | trans }}</div></th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						{# Boucler les donnees #}
						{% for note in notes %}
							<tr id="row_note_{{ note.id }}">
								<td>
									<a class="m-2" href="{{ path('admin.note.edit', {'idNote':note.id, 'idEntreprise': entreprise.id})}}">
										{{ note.nom }} - {{ note.description }}
									</a>
								</td>
								<td>
									<div class="d-flex gap-1 d-flex justify-content-end">
										{# Les actions sur l element de la liste #}
										<a class= "btn btn-outline-primary btn-sm border-0" href="{{ path('admin.note.edit', {'idEntreprise': entreprise.id, 'idNote':note.id })}}" class="" mthod = 'POST'>
											{{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
											{# Modifier #}
										</a>
										<form action="{{ path('admin.note.remove', {'idNote':note.id, 'idEntreprise': entreprise.id})}}" method='POST'>
											<input type='hidden' name='_method' value='DELETE'>
											<button class='btn btn-outline-danger border-0 btn-sm' type='submit'>
												{{ ux_icon('fluent:delete-20-filled', {height: '18px', width: '18px'}) }}
												{# Supprimer #}
											</button>
										</form>
										<div class="dropdown">
											<a class="btn btn-outline-secondary dropdown-toggle border-0 btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												{{ ux_icon('gravity-ui:dots-9', {height: '18px', width: '18px'}) }}
												{# Autres #}
											</a>
											<ul class="dropdown-menu">
												<li>
													<a class="dropdown-item" href="#">
														{{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
														{{ "currency_item_set_as_display_note" | trans }}
													</a>
												</li>
												<li>
													<a class="dropdown-item" href="#">
														{{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
														{{ "note_item_set_as_input_note" | trans }}
													</a>
												</li>
												<li>
													<a class="dropdown-item" href="#">
														{{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
														{{ "note_item_set_as_display_and_input_note" | trans }}
													</a>
												</li>
											</ul>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				{% endif %}
			</table>
		</div>
	</div>
{% endblock %}
