<div class="tab-pane fade table-responsive" id="nav-production-insurer" role="tabpanel" aria-labelledby="nav-production-insurer-tab" tabindex="0">
    <div class="card m-2">
        <div class="card-header text-center">
            {# Monthly Production per Insurer #}
            {{ include('segments/icones/assureur.html.twig', {size:'20px'}) }}
            {{ "company_dashboard_section_principale_insurers_header" | trans() | raw }}
        </div>
        {% if dashboard.productionTabs['tabProductionPerInsurerPerMonth'] > 13 %}
            {# Tableau de production par assureur #}
            <table class="table table-hover table-sm">
                <caption class="text-center">
                    {{ "company_dashboard_section_principale_insurers_caption" | trans() | raw }}
                </caption>
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">{{ "company_dashboard_section_principale_insurers_colonne_assureur" | trans() | raw }}</th>
                        <th scope="col" class="text-end">{{ "company_dashboard_section_principale_insurers_colonne_prime" | trans() | raw }}</th>
                        <th scope="col" class="text-end">{{ "company_dashboard_section_principale_insurers_colonne_net_com" | trans() | raw }}</th>
                        <th scope="col" class="text-end">{{ "company_dashboard_section_principale_insurers_colonne_taxes" | trans() | raw }}</th>
                        <th scope="col" class="text-end">{{ "company_dashboard_section_principale_insurers_colonne_gross_com" | trans() | raw }}</th>
                        <th scope="col" class="text-end">{{ "company_dashboard_section_principale_insurers_colonne_received" | trans() | raw }}</th>
                        <th scope="col" class="text-end">{{ "company_dashboard_section_principale_insurers_colonne_balance" | trans() | raw }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reposertSet in dashboard.productionTabs['tabProductionPerInsurerPerMonth'] %}
                        {% if reposertSet.type == 0 %}
                            <tr style="
                                border-style: solid;
                                border-top: 0px;
                                border-left: 0px;
                                border-right: 0px;
                                border-width: 1px;
                                border-color: black;
                                background: #f6f6f6;
                            ">
                                <td><small><strong class="text-secondary">
                                    &nbsp;{{ include('segments/icones/datetime.html.twig', {size:'16px'}) }}
                                    {{ reposertSet.label }}</strong></small>
                                </td>
                                <td class="text-end" style="color: #0d6efd;"><strong><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                <td class="text-end" style="color: #198754;"><strong><small>{{ reposertSet.net_com|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                <td class="text-end" style="color: #e29c1d;"><strong><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                <td class="text-end"><strong><small>{{ reposertSet.gros_commission|number_format(2, ',', ' ')  ~ " " ~ reposertSet.currency_code}}</small></strong></td>
                                <td class="text-end"><strong><small>{{ reposertSet.commission_received|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                <td class="text-end text-danger"><strong><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                            </tr>
                        {% endif %}
                        {% if reposertSet.type == 1 %}
                            <tr>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <small class="text-secondary">
                                        {{ include('segments/icones/assureur.html.twig', {size:'16px'}) }}
                                        {{ reposertSet.label }}
                                    </small>
                                </td>
                                <td class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                <td class="text-end" style="color: #198754;"><small>{{ reposertSet.net_com|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                <td class="text-end" style="color: #e29c1d;"><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                <td class="text-end"><small>{{ reposertSet.gros_commission|number_format(2, ',', ' ')  ~ " " ~ reposertSet.currency_code}}</small></td>
                                <td class="text-end"><small>{{ reposertSet.commission_received|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                <td class="text-end text-danger"><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
                <thead class="table-secondary">
                    <tr>
                        {% for reposertSet in dashboard.productionTabs['tabProductionPerInsurerPerMonth'] %}
                            {% if reposertSet.type == 2 %}
                                <th scope="col"><small>{{ reposertSet.label }}</small></th>
                                <th scope="col" class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                <th scope="col" class="text-end" style="color: #198754;"><small>{{ reposertSet.net_com|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                <th scope="col" class="text-end" style="color: #e29c1d;"><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                <th scope="col" class="text-end"><small>{{ reposertSet.gros_commission|number_format(2, ',', ' ')  ~ " " ~ reposertSet.currency_code}}</small></th>
                                <th scope="col" class="text-end"><small>{{ reposertSet.commission_received|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                <th scope="col" class="text-end text-danger"><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
            </table>
        {% else %}
            <div class="text-center m-2">
                <strong class="rounded text-secondary">
                    {{ include('segments/icones/empty.html.twig', {size:'50px'}) }}
                    Oups! Il n'y a pas d'élément pour l'instant.
                </strong>
            </div>
        {% endif %}
    </div>
</div>