<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        {# <link rel="stylesheet" href="mystyle.css"> #}
        <style>
            .grand_titre {
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 18px;
                color: black;
                text-transform: uppercase;
                font-weight: bold;
                padding: 15px;
            }
            .moyen_titre {
                text-transform: uppercase;
                text-align: left;
                font-family: Arial, sans-serif;
                font-size: 16px;
                font-weight: bold;
                color: black;
                /* padding: 3px; */
            }
            .normal_texte {
                text-align: left;
                font-weight: normal;
                font-family: Georgia, Arial;
                font-style: normal;
                font-size: 12px;
                color: black;
            }
            .petit_texte {
                text-align: left;
                font-weight: normal;
                font-family: Georgia, Arial;
                font-style: normal;
                font-size: 10px;
                color: black;
            }
            .tableau_vaste{
                width: 100%;
                border-collapse: collapse;
            }
            table{
                border-collapse: collapse;
            }
            th, td{
                border: 1px solid darkgray;
                padding: 3px;
                text-align: left;
                font-size: 10px;
            }
            thead{
                background-color: lightgray;
            }
            .gras {
                font-weight: bold;
            }
            .droite {
                position: relative;
                left: 40%;
            }
            .texte-centre {
                text-align: center;
            }
            .texte-droite {
                text-align: right;
            }
            .center {
                margin: auto;
            }
            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
                font-weight: bold;
            }

            a:active {
                text-decoration: underline;
            }
            .bas-de-page {
                position: fixed;
                bottom: 0;
                right: 0;
                width: 100%;
                /* border: 3px solid #73AD21; */
            }
        </style>
    </head>
    <body>
        <div class = "container">
            {# Titre du bordereau #}
            <p class="normal_texte">
                <span class="moyen_titre">
                    BORDEREAU DE LA {{ constante.Note_getNameOfTypeNote(note) }} Réf.:<span class="gras">{{ note.reference }}</span>
                </span></br>
                Adressée à :
                {% if note.addressedto == 0 %}
                    {# Client #}
                    <span class="gras">{{ note.client.nom }}</span>
                {% endif %}
                {% if note.addressedto == 1 %}
                    {# Assureur #}
                    <span class="gras">{{ note.assureur.nom }}</span>
                {% endif %}
                {% if note.addressedto == 2 %}
                    {# Partenaire #}
                    <span class="gras">{{ note.partenaire.nom }}</span>
                {% endif %}
                {% if note.addressedto == 3 %}
                    {# Autorité fiscale #}
                    <span class="gras">{{ note.autoritefiscale.abreviation }}</span>
                {% endif %}
                 • Description: <span class="gras">{{ note.description }}</span>
            </p>

            {# {% for i in 0..20 %}
                - Serge {{ i }}<br>
            {% endfor %} #}

            {# Contenu du boredereau - Grand Tableau #}
            <table class="center" style="width: 100%;">
                <thead>
                    <th class="texte-centre">N°</th>
                    <th class="texte-centre">Réf. Police</th>
                    <th class="texte-centre">Période</th>
                    <th class="texte-centre">Produit</th>
                    <th class="texte-centre">Tranche</th>
                    <th class="texte-centre">Client</th>
                    <th class="texte-centre">Prime Nette</th>
                    <th class="texte-centre">Taux</th>
                    <th class="texte-centre">Com. pure</th>
                    <th class="texte-centre">Tva (16%)</th>
                    <th class="texte-centre">Com. Totale</th>
                </thead>
                {% for i in 1..10 %}
                    <tr>
                        <td class="petit_texte texte-droite"> {{ i }} </td>
                        <td class="petit_texte">33002-0002-102-0013322/0002</td>
                        <td class="petit_texte texte-centre">01/01/2025 - 31/12/2025</td>
                        <td class="petit_texte ">MOTOR</td>
                        <td class="petit_texte texte-centre">Tranche1</td>
                        <td class="petit_texte ">BGFibank RDC SA</td>
                        <td class="petit_texte texte-droite">{{ constante.Note_getMontant_payable(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</td>
                        <td class="petit_texte texte-droite">100,00 %</td>
                        <td class="petit_texte texte-droite">{{ constante.Note_getMontant_paye(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</td>
                        <td class="petit_texte texte-droite">{{ constante.Note_getMontant_paye(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</td>
                        <td class="petit_texte texte-droite">{{ constante.Note_getMontant_paye(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</td>
                    </tr>
                {% endfor %}
                <thead>
                    <th class="petit_texte "></th>
                    <th class="petit_texte "></th>
                    <th class="petit_texte "></th>
                    <th class="petit_texte "></th>
                    <th class="petit_texte "></th>
                    <th class="petit_texte "></th>
                    <th class="petit_texte texte-droite gras">{{ constante.Note_getMontant_payable(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</th>
                    <th class="petit_texte texte-droite gras">{{ constante.Note_getMontant_payable(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</th>
                    <th class="petit_texte texte-droite gras">{{ constante.Note_getMontant_payable(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</th>
                    <th class="petit_texte texte-droite gras">{{ constante.Note_getMontant_payable(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</th>
                    <th class="petit_texte texte-droite gras">{{ constante.Note_getMontant_payable(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</th>
                </thead>
            </table>


            {# Bas de page #}
            <p class="petit_texte texte-centre bas-de-page" style="">
                <span class="gras normal_texte">{{ entreprise.nom }}</span>
                </br>
                Adresse: <span class="gras">{{ entreprise.adresse }}</span>
                 • Téléphone: <span class="gras">{{ entreprise.telephone }}</span>
                 • Licence: <span class="gras">{{ entreprise.licence }}</span>
                 • Capital social: <span class="gras">{{ entreprise.capitalSociale|format_currency(serviceMonnaie.codeMonnaieLocale, locale: utilisateur.locale) }}</span>
                </br>
                RCCM: <span class="gras">{{ entreprise.rccm }}</span>
                 • ID. NAT: <span class="gras">{{ entreprise.idnat }}</span>
                 • Num. Impôt: <span class="gras">{{ entreprise.numimpot }}</span>
                </br>
                <a href="{{ entreprise.siteweb }}"><span class="">{{ entreprise.siteweb }}</span></a>
            </p>
        </div>
    </body>
</html>