<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        {# <link rel="stylesheet" href="mystyle.css"> #}
        <style>
            .texte_grand {
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
                padding: 15px;
            }
            .texte_noire {
                color: black;
            }
            .texte_moyen {
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: bold;
            }
            .texte_normal {
                text-align: left;
                font-weight: normal;
                font-family: Georgia, Arial;
                font-style: normal;
                text-transform: capitalize;
                font-size: 10px;
            }
            .texte_petit {
                text-align: left;
                font-weight: normal;
                font-family: Georgia, Arial;
                font-style: normal;
                font-size: 10px;
            }
            table, th, td{
                border-collapse: collapse;
                border: none;
            }
            .bordure {
                border: 1px solid darkgray;
            }
            .thead{
                background-color: lightgray;
                font-weight: bold;
            }
            .gras {
                font-weight: bold;
            }
            .droite {
                position: relative;
                left: 40%;
            }
            .texte_centre {
                text-align: center;
            }
            .texte_droite {
                text-align: right;
            }
            .texte_gauche {
                text-align: left;
            }
            .center {
                margin: auto;
            }
            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
                font-weight: bold;
            }
            a:active {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        {# Titre de la note #}
        <div class="texte_moyen" style=''>
        BOREDEREAU DE LA {{ constante.Note_getNameOfTypeNote(note) }} n°{{note.reference}}<br/>
            <span class="texte_normal">Description: <span class="gras">{{note.description}}</span>
                {% if note.addressedto == 0 %}{# Client #}
                    {% if note.client.nom != null %}
                        • Client: <span class="gras">{{ note.client.nom }}</span>
                    {% endif %}
                {% endif %}
                {% if note.addressedto == 1 %}{# Assureur #}
                    {% if note.assureur.nom != null %}
                        • Assureur: <span class="gras">{{ note.assureur.nom }}</span>
                    {% endif %}
                {% endif %}
                {% if note.addressedto == 2 %}{# Partenaire #}
                    {% if note.partenaire.nom != null %}
                        • Client: <span class="gras">{{ note.partenaire.nom }}</span>
                    {% endif %}
                {% endif %}
                {% if note.addressedto == 3 %}{# Autorité fiscale #}
                    {% if note.partenaire.nom != null %}
                        • Autorité: <span class="gras">{{ note.autoritefiscale.nom }}</span>
                    {% endif %}
                {% endif %}
                  • Date: <span class="gras">{{ date|format_datetime('short', 'short', locale: utilisateur.locale)}}</span>
            </span>
        </div>
        
        {# Contenu du tableau détailés du bordereau #}
        <div class="texte_petit">
            <table>
                {# Barre des titres #}
                <tr>
                    <td class="thead" style=''>N°</td>
                    <td class="thead">REF. POLICE</td>
                    <td class="thead">TRANCHE</td>
                    <td class="thead">PRODUIT</td>
                    <td class="thead">AVENANT</td>
                    <td class="thead">PERIODE</td>
                    <td class="thead">CLIENT</td>
                    <td class="thead">PRIME TTC</td>
                    <td class="thead">PRIME NETTE</td>
                    <td class="thead">FRONTING</td>
                    <td class="thead">TAUX</td>
                    <td class="thead">COM. HT</td>
                    <td class="thead">TVA</td>
                    <td class="thead">COM. TTC</td>
                </tr>
                {# Contenu ou corps du tableau #}
                {% for item in 1..20 %}
                    <tr>
                        <td class="" style=''>{{ item }}</td>
                        <td class="">REF. POLICE</td>
                        <td class="">TRANCHE</td>
                        <td class="">PRODUIT</td>
                        <td class="">AVENANT</td>
                        <td class="">PERIODE</td>
                        <td class="">CLIENT</td>
                        <td class="">PRIME TTC</td>
                        <td class="">PRIME NETTE</td>
                        <td class="">FRONTING</td>
                        <td class="">TAUX</td>
                        <td class="">COM. HT</td>
                        <td class="">TVA</td>
                        <td class="">COM. TTC</td>
                    </tr>
                {% endfor %}
                {# Barre des totaux #}
                <tr>
                    <td class="thead" style=''></td>
                    <td class="thead">TOTAL</td>
                    <td class="thead"></td>
                    <td class="thead"></td>
                    <td class="thead"></td>
                    <td class="thead"></td>
                    <td class="thead"></td>
                    <td class="thead">100000000</td>
                    <td class="thead">100000000</td>
                    <td class="thead">100000000</td>
                    <td class="thead"></td>
                    <td class="thead">100000000</td>
                    <td class="thead">100000000</td>
                    <td class="thead">100000000</td>
                </tr>
            </table>
        </div>


    </body>
</html>