<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        {# <link rel="stylesheet" href="mystyle.css"> #}
        <style>
            .texte_grand {
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
                padding: 15px;
            }
            .texte_noire {
                color: black;
            }
            .texte_moyen {
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: bold;
            }
            .texte_normal {
                text-align: left;
                font-weight: normal;
                font-family: Georgia, Arial;
                font-style: normal;
                text-transform: capitalize;
                font-size: 10px;
            }
            .texte_petit {
                text-align: left;
                font-weight: normal;
                font-family: Georgia, Arial;
                font-style: normal;
                font-size: 10px;
            }
            .texte_tres_petit {
                text-align: left;
                font-weight: normal;
                font-family: Georgia, Arial;
                font-style: normal;
                font-size: 8px;
            }
            table, th, td{
                border-collapse: collapse;
                /* border: none; */
                border: 1px solid darkgray;
            }
            .bordure {
                border: 1px solid darkgray;
            }
            .thead{
                background-color: lightgray;
                font-weight: bold;
            }
            .gras {
                font-weight: bold;
            }
            .droite {
                position: relative;
                left: 40%;
            }
            .texte_centre {
                text-align: center;
            }
            .texte_droite {
                text-align: right;
            }
            .texte_gauche {
                text-align: left;
            }
            .center {
                margin: auto;
            }
            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
                font-weight: bold;
            }
            a:active {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        {# Titre de la note #}
        <div class="texte_moyen" style=''>
        BOREDEREAU DE LA {{ constante.Note_getNameOfTypeNote(note) }} n°{{note.reference}}<br/>
            <span class="texte_normal">Description: <span class="gras">{{note.description}}</span>
                {% if note.addressedto == 0 %}{# Client #}
                    {% if note.client.nom != null %}
                        • Client: <span class="gras">{{ note.client.nom }}</span>
                    {% endif %}
                {% endif %}
                {% if note.addressedto == 1 %}{# Assureur #}
                    {% if note.assureur.nom != null %}
                        • Assureur: <span class="gras">{{ note.assureur.nom }}</span>
                    {% endif %}
                {% endif %}
                {% if note.addressedto == 2 %}{# Partenaire #}
                    {% if note.partenaire.nom != null %}
                        • Client: <span class="gras">{{ note.partenaire.nom }}</span>
                    {% endif %}
                {% endif %}
                {% if note.addressedto == 3 %}{# Autorité fiscale #}
                    {% if note.autoritefiscale.nom != null %}
                        • Autorité: <span class="gras">{{ note.autoritefiscale.nom }}</span>
                    {% endif %}
                {% endif %}
                  • Date: <span class="gras">{{ date|format_datetime('short', 'short', locale: utilisateur.locale)}}</span>
            </span>
        </div>
        
        {# Contenu du tableau détailés du bordereau #}
        {% if note.addressedto == 0 or note.addressedto == 1 %}{# Client #}
            {% include 'admin/etats/note/tabs/tab_com.html.twig' %}
        {% endif %}
        {% if note.addressedto == 3 %}{# Client #}
            {% include 'admin/etats/note/tabs/tab_tax.html.twig' %}
        {% endif %}

    </body>
</html>