<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        {# <link rel="stylesheet" href="mystyle.css"> #}
        <style>
            .grand_titre {
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 18px;
                color: black;
                text-transform: uppercase;
                font-weight: bold;
                padding: 15px;
            }
            .moyen_titre {
                text-transform: uppercase;
                text-align: left;
                font-family: Arial, sans-serif;
                font-size: 16px;
                font-weight: bold;
                color: black;
                padding: 3px;
            }
            .normal_texte {
                text-align: left;
                font-weight: normal;
                font-family: Georgia, Arial;
                font-style: normal;
                font-size: 12px;
                color: black;
            }
            .petit_texte {
                text-align: left;
                font-weight: normal;
                font-family: Georgia, Arial;
                font-style: normal;
                font-size: 10px;
                color: black;
            }
            /* .tableau_vaste{
                width: 100%;
                border-collapse: collapse;
            } */
            /* table{
                border-collapse: collapse;
                border: none;
            } */
            table, th, td{
                border-collapse: collapse;
                border: none;
                /* margin: auto; Ceci ne marche pas */
            }
            .bordure {
                border: 1px solid darkgray;
            }
            .thead{
                background-color: lightgray;
                font-weight: bold;
            }
            .gras {
                font-weight: bold;
            }
            .droite {
                position: relative;
                left: 40%;
            }
            .texte-centre {
                text-align: center;
            }
            .texte-rouge {
                color: red;
            }
            .texte-droite {
                text-align: right;
            }
            .texte-gauche {
                text-align: left;
            }
            .center {
                margin: auto;
            }
            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
                font-weight: bold;
            }

            a:active {
                text-decoration: underline;
            }
            /* .bas-de-page {
                position: fixed;
                bottom: 0;
                right: 0;
                width: 100%;
            } */
        </style>
    </head>
    <body>
        {# Titre de la note #}
        <div class="grand_titre">{{ constante.Note_getNameOfTypeNote(note) }}</div>
        
        {# Date de création et description de la note #}
        <p class="normal_texte">Référence: <span class="gras">{{ note.reference }}</span><br/>
            Date: <span class="gras">{{ date|format_datetime('short', 'short', locale: utilisateur.locale)}}</span><br/>
            Utilisateur: <span class="gras">{{ utilisateur.nom }} - {{ utilisateur.email }}</span><br/>
            Description: <span class="gras">{{ note.description }}</span><br/>
            Modalité et conditions de paiement: <span class="gras">sans échéance.</span><br/>         
        </p>
        

        {# Détails sur le bénéficiaire de la note = AddressedTo #}
        <br/>
        <p class="texte-centre">
            <table>
                <tr>
                    <td class="texte-droite normal_texte">
                        Note adressée à 
                    </td>
                    <td class="texte-gauche normal_texte">
                        {% if note.addressedto == 0 %}
                            {# Client #}
                            {% if note.client.nom != null %}
                                <span class="gras">{{ note.client.nom }}</span><br/>
                            {% endif %}
                            {% if note.client.adresse != null %}
                                • Adresse: <span class="gras">{{ note.client.adresse }}</span><br/>
                            {% endif %}
                            {% if note.client.numimpot != null %}
                                • Nif: <span class="gras">{{ note.client.numimpot }}</span><br/>
                            {% endif %}
                            {% if note.client.rccm != null %}
                                • Rccm: <span class="gras">{{ note.client.rccm }}</span><br/>
                            {% endif %}
                            {% if  note.client.idnat != null %}
                                • Idnat: <span class="gras">{{ note.client.idnat }}</span><br/>
                            {% endif %}
                            {% if  note.client.telephone != null %}
                                • Téléphone: <span class="gras">{{ note.client.telephone }}</span><br/>
                            {% endif %}
                            {% if  note.client.email != null %}
                                • Email: <span class="gras">{{ note.client.email }}</span><br/>
                            {% endif %}
                        {% endif %}
                        {% if note.addressedto == 1 %}
                            {# Assureur #}
                            {% if note.assureur.nom != null %}
                                <span class="gras">{{ note.assureur.nom }}</span><br/>
                            {% endif %}
                            {% if note.assureur.adressePhysique != null %}
                                • Adresse: <span class="gras">{{ note.assureur.adressePhysique }}</span><br/>
                            {% endif %}
                            {% if note.assureur.numimpot != null %}
                                • Nif: <span class="gras">{{ note.assureur.numimpot }}</span><br/>
                            {% endif %}
                            {% if note.assureur.rccm != null %}
                                • Rccm: <span class="gras">{{ note.assureur.rccm }}</span><br/>
                            {% endif %}
                            {% if note.assureur.idnat != null %}
                                • Idnat: <span class="gras">{{ note.assureur.idnat }}</span><br/>
                            {% endif %}
                            {% if note.assureur.url != null %}
                                • Site web: <span class="gras">{{ note.assureur.url }}</span><br/>
                            {% endif %}
                            {% if note.assureur.email != null %}
                                • Email: <span class="gras">{{ note.assureur.email }}</span><br/>
                            {% endif %}
                        {% endif %}
                        {% if note.addressedto == 2 %}
                            {# Partenaire #}
                            {% if note.partenaire.nom != null %}
                                <span class="gras">{{ note.partenaire.nom }}</span><br/>
                            {% endif %}
                            {% if note.partenaire.adressePhysique != null %}
                                • Adresse: <span class="gras">{{ note.partenaire.adressePhysique }}</span><br/>
                            {% endif %}
                            {% if note.partenaire.numimpot != null %}
                                • Nif: <span class="gras">{{ note.partenaire.numimpot }}</span><br/>
                            {% endif %}
                            {% if note.partenaire.rccm != null %}
                                • Rccm: <span class="gras">{{ note.partenaire.rccm }}</span><br/>
                            {% endif %}
                            {% if note.partenaire.idnat != null %}
                                • Idnat: <span class="gras">{{ note.partenaire.idnat }}</span><br/>
                            {% endif %}
                            {% if note.partenaire.telephone != null %}
                                • Téléphone: <span class="gras">{{ note.partenaire.telephone }}</span><br/>
                            {% endif %}
                            {% if note.partenaire.email != null %}
                                • Email: <span class="gras">{{ note.partenaire.email }}</span><br/>
                            {% endif %}
                        {% endif %}
                        {% if note.addressedto == 3 %}
                            {# Autorité fiscale #}
                            <span class="gras">{{ note.autoritefiscale.abreviation }}</span><br/>
                            • <span class="gras">{{ note.autoritefiscale.nom }}</span><br/>
                            • Taxe: <span class="gras">{{ note.autoritefiscale.taxe.description }} - {{ note.autoritefiscale.taxe.code }}</span><br/>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </p>
        
        {# Tableau de synthèse #}
        <div class="normal_texte texte-centre">
            <span class="normal_texte texte-centre">Synthèse</span><br/>
            {# Note de débit vers l'Assureur: il faut afficher le montant Ht et sa Tva #}
            {# VERS ASSUREUR OU CLIENT #}
            {% if note.addressedto == 1 or note.addressedto == 0 %}
                {# Tableau des commmissions #}
                <table style="width: 100%;">
                    <tr class="texte-centre">
                        <td></td>
                        <td class="thead bordure bordure">Description</td>
                        <td class="thead bordure bordure">Valeur</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texte-gauche bordure">Commission hors taxe</td>
                        <td class="texte-droite bordure">{{ constante.Note_getMontant_ht(note, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texte-gauche bordure">{{ constante.Note_getNames_taxes_assureur() }}</td>
                        <td class="texte-droite bordure">{{ constante.Note_getMontant_taxes(note, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texte-gauche bordure gras">Montant Payable</td>
                        <td class="texte-droite bordure gras">{{ constante.Note_getMontant_payable(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texte-gauche bordure">Montant Payé</td>
                        <td class="texte-droite texte-rouge bordure">- {{ constante.Note_getMontant_paye(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                    <tr>  
                        <td></td>
                        <td class="thead texte-gauche bordure">Solde restant dû</td>
                        <td class="thead texte-droite bordure">{{ constante.Note_getMontant_solde(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                </table>
            {% endif %}
            {% if note.addressedto == 3 %}
                {# VERS AUTORITE FISCALES #}
                <table style="width: 100%;">
                    <tr class="texte-centre">
                        <td></td>
                        <td class="thead bordure">Description</td>
                        <td class="thead bordure">Valeur</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texte-gauche bordure">Commission Hors Taxe</td>
                        <td class="texte-droite bordure">{{ constante.Note_getMontant_commissions_ht(note, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texte-gauche texte-rouge bordure">{{ constante.Note_toStringTaxeFacturee(note) }} dûe</td>
                        <td class="texte-droite texte-rouge bordure">- {{ constante.Note_getMontant_taxe_facturee(note, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texte-gauche bordure gras">Montant prêt à payer</td>
                        <td class="texte-droite bordure gras">{{ constante.Note_getMontant_payable(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texte-gauche texte-rouge bordure">Montant Payé</td>
                        <td class="texte-droite texte-rouge bordure">- {{ constante.Note_getMontant_paye(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="thead texte-gauche bordure">Solde dû à {{ constante.Note_getNameOfAddressedTo(note) }}</td>
                        <td class="thead texte-droite bordure">{{ constante.Note_getMontant_solde(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                </table>
            {% endif %}
            {% if note.addressedto == 2 %}
                {# VERS INTERMEDIAIRE OU PARTENAIRE OU APPORTEUR D'AFFAIRES #}
                <table style="width: 100%;">
                    <tr class="texte-centre">
                        <td></td>
                        <td class="thead bordure">Description</td>
                        <td class="thead bordure">Valeur</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texte-gauche bordure">Commission ht</td>
                        <td class="texte-droite bordure">{{ constante.Note_getMontant_ht(note, -1, true)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texte-gauche texte-rouge bordure">{{ constante.Note_getNames_taxes_courtier }}</td>
                        <td class="texte-droite texte-rouge bordure">- {{ constante.Note_getMontant_taxes(note, -1, true)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texte-gauche bordure">Assiette partageable</td>
                        <td class="texte-droite bordure">{{ constante.Note_getMontant_commission_assiette(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texte-gauche bordure">{{ constante.Note_toStringPartenaireFacture(note) }}</td>
                        <td class="texte-droite bordure">{{ constante.Note_getMontant_Retrocom(note, -1, true)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texte-gauche bordure gras">Montant prêt à payer</td>
                        <td class="texte-droite bordure gras">{{ constante.Note_getMontant_payable(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="texte-gauche texte-rouge bordure">Montant Payé</td>
                        <td class="texte-droite texte-rouge bordure">- {{ constante.Note_getMontant_paye(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="thead texte-gauche bordure">Solde dû à {{ constante.Note_getNameOfAddressedTo(note) }}</td>
                        <td class="thead texte-droite bordure">{{ constante.Note_getMontant_solde(note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: 'en') }}</td>
                        <td></td>
                    </tr>
                </table>
            {% endif %}
        </div>


        {# Signature #}
        <br/>
        <table style="width: 100%;">
            <tr>
                <td>
                    <p class="normal_texte texte-droite" style="padding:5px;">
                        <span>Signature</span>
                    </p>
                    <p class="normal_texte texte-droite" style="padding:5px;">
                        <span class="normal_titre gras">{{ note.signedBy }}</span><br/>
                        <span class="">{{ note.titleSignedBy }}</span>
                    </p>
                </td>
            </tr>
        </table>



        {# Liste des comptes banciares #}
        <br/><br/><br/>
        {% if note.type == 0 and note.comptes | length != 0 %}
            {# Note de débit #}
            <span class="normal_texte">Payez cash ou par virement à l'un des comptes ci-dessous:
                <ol>
                    {% for compte in note.comptes %}
                        <li>
                            <span class="petit_texte">
                                <span class="gras">{{ compte.banque }}</span>
                                • Nom: <span class="gras">{{ compte.intitule }}</span>
                                • N°.:<span class="gras">{{ compte.numero }}</span>
                                • Swift:<span class="gras">{{ compte.codeSwift }}</span>
                            </span>
                        </li>
                    {% endfor %}
                </ol>
            </span>
        {% else %}
            {% for item in 1..5 %}
                <br/>
            {% endfor %}
        {% endif %}
    </body>
</html>