<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        {# <link rel="stylesheet" href="mystyle.css"> #}
        <style>
            .texte_grand {
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
                padding: 15px;
            }
            .texte_noire {
                color: black;
            }
            .texte_moyen {
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: bold;
            }
            .texte_normal {
                text-align: left;
                font-weight: normal;
                font-family: Georgia, Arial;
                font-style: normal;
                text-transform: capitalize;
                font-size: 10px;
            }
            .texte_petit {
                text-align: left;
                font-weight: normal;
                font-family: Georgia, Arial;
                font-style: normal;
                font-size: 10px;
            }
            .texte_tres_petit {
                text-align: left;
                font-weight: normal;
                font-family: Georgia, Arial;
                font-style: normal;
                font-size: 8px;
            }
            table, th, td{
                border-collapse: collapse;
                /* border: none; */
                border: 1px solid darkgray;
            }
            .bordure {
                border: 1px solid darkgray;
            }
            .thead{
                background-color: lightgray;
                font-weight: bold;
            }
            .gras {
                font-weight: bold;
            }
            .droite {
                position: relative;
                left: 40%;
            }
            .texte_centre {
                text-align: center;
            }
            .texte_droite {
                text-align: right;
            }
            .texte_gauche {
                text-align: left;
            }
            .center {
                margin: auto;
            }
            a:link {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: none;
                font-weight: bold;
            }
            a:active {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        {# Titre de la note #}
        <div class="texte_moyen" style=''>
        BOREDEREAU DE LA {{ constante.Note_getNameOfTypeNote(note) }} n°{{note.reference}}<br/>
            <span class="texte_normal">Description: <span class="gras">{{note.description}}</span>
                {% if note.addressedto == 0 %}{# Client #}
                    {% if note.client.nom != null %}
                        • Client: <span class="gras">{{ note.client.nom }}</span>
                    {% endif %}
                {% endif %}
                {% if note.addressedto == 1 %}{# Assureur #}
                    {% if note.assureur.nom != null %}
                        • Assureur: <span class="gras">{{ note.assureur.nom }}</span>
                    {% endif %}
                {% endif %}
                {% if note.addressedto == 2 %}{# Partenaire #}
                    {% if note.partenaire.nom != null %}
                        • Client: <span class="gras">{{ note.partenaire.nom }}</span>
                    {% endif %}
                {% endif %}
                {% if note.addressedto == 3 %}{# Autorité fiscale #}
                    {% if note.partenaire.nom != null %}
                        • Autorité: <span class="gras">{{ note.autoritefiscale.nom }}</span>
                    {% endif %}
                {% endif %}
                  • Date: <span class="gras">{{ date|format_datetime('short', 'short', locale: utilisateur.locale)}}</span>
            </span>
        </div>
        
        {# Contenu du tableau détailés du bordereau #}
        <div class="texte_tres_petit">
            <table>
                {# Barre des titres #}
                <tr>
                    <td class="thead" style="width: 3%;">N°</td>
                    <td class="thead" style="width: 12%;">REF. POLICE</td>
                    <td class="thead" style="width: 5%;">TRANCHE</td>
                    <td class="thead" style="width: 8%;">PRODUIT</td>
                    <td class="thead" style="width: 5%;">AVENANT</td>
                    <td class="thead" style="width: 9%;">PERIODE</td>
                    <td class="thead" style="width: 12%;">CLIENT</td>
                    <td class="thead" style="width: 7%;">PRIME TTC</td>
                    <td class="thead" style="width: 7%;">PRIME NETTE</td>
                    <td class="thead" style="width: 7%;">FRONTING</td>
                    <td class="thead" style="width: 5%;">TAUX</td>
                    <td class="thead" style="width: 6%;">COM. HT</td>
                    <td class="thead" style="width: 6%;">TVA</td>
                    <td class="thead" style="width: 6%;">COM. TTC</td>
                </tr>
                {# Contenu ou corps du tableau #}
                {% set item = 1 %}
                {% for article in note.articles %}
                    <tr>
                        <td class="" style=''>{{ item }}</td>
                        <td class="">{{ constante.ARTICLE_getReferencePolice(article) }}</td>
                        <td class="">{{ article.tranche.nom }}</td>
                        <td class="">{{ article.tranche.cotation.piste.risque.code }}</td>
                        <td class="">{{ constante.Piste_getAvenant(article.tranche.cotation.piste) }}</td>
                        <td class="">PERIODE</td>
                        <td class="">CLIENT</td>
                        <td class="">PRIME TTC</td>
                        <td class="">PRIME NETTE</td>
                        <td class="">FRONTING</td>
                        <td class="">TAUX</td>
                        <td class="">COM. HT</td>
                        <td class="">TVA</td>
                        <td class="">COM. TTC</td>
                    </tr>
                    {% set item = item + 1 %}
                {% endfor %}
                {# Barre des totaux #}
                <tr>
                    <td class="thead" style=''></td>
                    <td class="thead">TOTAL</td>
                    <td class="thead"></td>
                    <td class="thead"></td>
                    <td class="thead"></td>
                    <td class="thead"></td>
                    <td class="thead"></td>
                    <td class="thead">100000000</td>
                    <td class="thead">100000000</td>
                    <td class="thead">100000000</td>
                    <td class="thead"></td>
                    <td class="thead">100000000</td>
                    <td class="thead">100000000</td>
                    <td class="thead">100000000</td>
                </tr>
            </table>
        </div>


    </body>
</html>