{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "paiement_creation_description_message" | trans({
		":user": utilisateur.nom, 
		":company": entreprise.nom, 
	}) | raw}}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	{# {{ form(form) }} #}
	{{ form_start(form) }}
	<div class="d-flex shadow-sm card bg-body sensible bg-white">
		<div class="card-body">
			<div>
				{% if paiement.note != null %}
					<div class="row">
						<div class="col">
							{{ form_row(form.referenceNote) }}
						</div>
						<div class="col">
							{{ form_row(form.montantPayable) }}
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{ form_row(form.montantPaye) }}
						</div>
						<div class="col">
							{{ form_row(form.montantSolde) }}
						</div>
					</div>
				{% endif %}
				<div class="row">
					<div class="col">
						{{ form_row(form.reference) }}
					</div>
					<div class="col">
						{{ form_row(form.montant) }}
					</div>
					<div class="col">
						{{ form_row(form.paidAt) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.description) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.CompteBancaire) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.preuves) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.enregistrer) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
