{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "paiement_form_description" | trans({
		":user": utilisateur.nom, 
		":paiement": paiement.description, 
	}) | raw }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	{# {{ form(form) }} #}
	{{ form_start(form, {
		'attr': {
			'data-controller': 'paiement-formulaire', 
			'data-paiement-formulaire-idpaiement-value': paiement.id,
			'data-paiement-formulaire-identreprise-value': entreprise.id,
			}
		}) }}
	<div class="d-flex shadow-sm card bg-body sensible bg-white">
		<div class="card-body">
			<div>
				<p class="">
					{# Champs dont les valeurs seront calculé depuis le serveur #}
					<span class="fw-bold">Informations relatives à la note en cours de paiement:</span>
					<div class="row">
						<div class="col">
							{{ form_row(form.referenceNote, {'attr': {'data-paiement-formulaire-target': 'referencenote'}}) }}
						</div>
						<div class="col">
							{{ form_row(form.montantPayable, {'attr': {'data-paiement-formulaire-target': 'montantpayable'}}) }}
						</div>
						<div class="col">
							{{ form_row(form.montantPaye, {'attr': {'data-paiement-formulaire-target': 'montantpaye'}}) }}
						</div>
						<div class="col">
							{{ form_row(form.montantSolde, {'attr': {'data-paiement-formulaire-target': 'montantsolde'}}) }}
						</div>
					</div>
					<a href="" class="fw-bold btn btn-outline-secondary" data-action="paiement-formulaire#voirnotepdf" data-paiement-formulaire-target="btvoirnotepdf">Voir la note</a>
					<a href="" class="fw-bold btn btn-outline-secondary" data-action="paiement-formulaire#voirbordereaupdf" data-paiement-formulaire-target="btvoirbordereaupdf">Voir le bordereau y relatif</a>
					{# fin #}
				</p>
				<p class="">
					<span class="fw-bold">Paiement en cours:</span>
					<div class="row">
						<div class="col">
							{{ form_row(form.reference, {'attr': {'data-paiement-formulaire-target': 'reference'}}) }}
						</div>
						<div class="col">
							{{ form_row(form.montant) }}
						</div>
						<div class="col">
							{{ form_row(form.paidAt) }}
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{ form_row(form.description) }}
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{ form_row(form.CompteBancaire) }}
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{ form_row(form.preuves) }}
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{ form_widget(form.enregistrer, {
								'attr': {
									'data-paiement-formulaire-target': 'btEnregistrer'
									}
								}) 
							}}
						</div>
					</div>
				</p>
			</div>
			<small>
				<span class="text-secondary m-2 fw-bold" data-paiement-formulaire-target="display" style="display:block;">Message d'infos ici</span>
			</small>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
