{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_entreprise_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "paiement_description" | trans }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="d-flex">
        <table class="table table-hover table-sm caption-top">
            <caption>
                {% if paiements|length == 0 %}
                    {{ "paiement_filter_result_empty" | trans}}
                {% else %}
                    {{ "paiement_filter_result_elements" | trans({
                        ':number': paiements|length
                    })}}
                {% endif %}
                <div class="d-flex gap-1">
                    {{ knp_pagination_render(paiements) }}
                </div>
            </caption>
            {% if paiements|length != 0 %}
                <thead class="table-light">
                    <tr>
                        <th scope="col"><div class='d-flex justify-content-start'>{{ "paiement_list_title" | trans }}</div></th>
                        <th scope="col" style="width:100px" ><div class='d-flex justify-content-end'>{{ "paiement_list_actions" | trans }}</div></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {# Boucler les donnees #}
                    {% for paiement in paiements %}
                        <tr id="row_paiement_{{ paiement.id }}">
                            <td>
                                <a class="m-2 fw-bold" href="{{ path('admin.paiement.edit', {'idPaiement':paiement.id, 'idEntreprise': entreprise.id})}}">
                                    {# {{ paiement.description }} #}
                                    Réf.: {{ paiement.reference }} • {{ paiement.description }}
                                </a><br/>
                                {% if paiement.note != null %}
                                    <small class ="m-2">
                                        {% set coleur = 'text-danger' %}
                                        {% if paiement.note.getType == 0 %}
                                            {% set coleur = 'text-success' %}
                                        {% endif %}
                                        <span class="{{coleur}} fw-bold">
                                            {{ paiement.montant|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }} payé le {{paiement.paidAt|format_datetime('short', 'none', locale: utilisateur.locale)}}
                                            {% if paiement.comptebancaire != null %}
                                                dans {{ paiement.comptebancaire.intitule }} / {{ paiement.comptebancaire.banque }}
                                            {% endif %}
                                        </span>
                                    </small><br/>
                                {% endif %}
                                <small class ="m-2">
                                    <span class="text-secondary fw-bold">Montant dû: {{ constante.Note_getMontant_payable(paiement.note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    <span class="text-secondary"> • Montant payé: {{ paiement.montant|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    <span class="text-secondary"> • Solde: {{ constante.Note_getMontant_solde(paiement.note)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                </small><br/>
                                {% if paiement.note != null %}
                                    <small class ="m-2">
                                        <span class="text-secondary">{{ constante.Note_getNameOfTypeNote(paiement.note) }} • {{ paiement.note.nom }} • {{ paiement.note.reference }}</span>
                                    </small>
                                {% endif %}
                            </td>
                            <td>
                                <div class="d-flex gap-1 d-flex justify-content-end">
                                    {# Les actions sur l element de la liste #}
                                    <a class= "btn btn-outline-primary btn-sm border-0" href="{{ path('admin.paiement.edit', {'idEntreprise': entreprise.id, 'idPaiement':paiement.id })}}" class="" mthod = 'POST'>
                                        {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                        {# Modifier #}
                                    </a>
                                    <form action="{{ path('admin.paiement.remove', {'idPaiement':paiement.id, 'idEntreprise': entreprise.id})}}" method='POST'>
                                        <input type='hidden' name='_method' value='DELETE'>
                                        <button class='btn btn-outline-danger border-0 btn-sm' type='submit'>
                                            {{ ux_icon('fluent:delete-20-filled', {height: '18px', width: '18px'}) }}
                                            {# Supprimer #}
                                        </button>
                                    </form>
                                    <div class="dropdown">
                                        <a class="btn btn-outline-secondary dropdown-toggle border-0 btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ ux_icon('gravity-ui:dots-9', {height: '18px', width: '18px'}) }}
                                            {# Autres #}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                                    {{ "paiement_item_set_as_display_paiement" | trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                                    {{ "paiement_item_set_as_input_paiement" | trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                                    {{ "paiement_item_set_as_display_and_input_paiement" | trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
{% endblock %}
