{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "avenant_creation_description_message" | trans({
		":user": utilisateur.nom, 
		":company": entreprise.nom, 
	}) | raw}}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	{# {{ form(form) }} #}
	{{ form_start(form, {
		'attr': {
			'data-controller': 'avenant-formulaire', 
			'data-avenant-formulaire-idavenant-value': avenant.id,
			'data-avenant-formulaire-identreprise-value': entreprise.id,
			'data-avenant-formulaire-nbdocuments-value': avenant.documents|length,
			}
		}) 
	}}
	<div class="d-flex shadow-sm card bg-body sensible bg-white">
		<div class="card-body">
			<div>
				{# Les onglets #}
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						{# Onglet Principale - tittre #}
						<button class="nav-link fw-bold text-secondary active" id="nav-avenant-tab" data-bs-toggle="tab" data-bs-target="#nav-avenant" type="button" role="tab" aria-controls="nav-avenant" aria-selected="true">
							<small>
								{{ include('segments/icones/avenant.html.twig', {size:'20px'}) }}
								PRINCIPAL 
							</small>
						</button>
						{# Onglet Document - tittre #}
						<button class="nav-link fw-bold text-secondary" id="nav-document-tab" data-bs-toggle="tab" data-bs-target="#nav-document" type="button" role="tab" aria-controls="nav-document" aria-selected="false">
							<small>
								{{ include('segments/icones/document.html.twig', {size:'20px'}) }}
								DOCUMENTS 
								<span 
									data-avenant-formulaire-target = "displaydocument"
								>
								<span>
							</small>
						</button>
					</div>
				</nav>
				{# Contenu de chaque Onglet #}
				<div class="tab-content" id="nav-tabContent">
					{# Onglet Principale - corps #}
					<div class="tab-pane fade m-2 show active" id="nav-avenant" role="tabpanel" aria-labelledby="nav-avenant-tab" tabindex="0">
						<div class="row">
							<div class="col-10">
								{{ form_row(form.referencePolice, {'attr': {'data-avenant-formulaire-target': 'reference'}}) }}
							</div>
							<div class="col-2">
								{{ form_row(form.numero) }}
							</div>
						</div>
						<div class="row">
							<div class="col">
								{{ form_row(form.description) }}
							</div>
						</div>
						<div class="row">
							<div class="col">
								{{ form_row(form.startingAt) }}
							</div>
							<div class="col">
								{{ form_row(form.endingAt) }}
							</div>
						</div>
					</div>

					{# Onglet Documents - corps #}
					<div class="tab-pane fade m-2" id="nav-document" role="tabpanel" aria-labelledby="nav-document-tab" tabindex="1">
						<div class="row">
							<div class="col">
								{{ form_row(form.documents) }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.enregistrer, {
							'attr': {
								'data-avenant-formulaire-target': 'btEnregistrer'
								}
							}) 
						}}
					</div>
				</div>
			</div>
			<small>
				<span class="text-secondary m-2 fw-bold" data-avenant-formulaire-target="display" style="display:block;">Prêt</span>
			</small>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
