{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_entreprise_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "avenant_description" | trans }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="d-flex">
        <table class="table table-hover table-sm caption-top">
            <caption>
                {% if avenants|length == 0 %}
                    {{ "avenant_filter_result_empty" | trans }}
                {% else %}
                    {{ "avenant_filter_result_elements" | trans({
                        ':number': avenants|length
                    })}}
                {% endif %}
                <div class="d-flex gap-1">
                    {{ knp_pagination_render(avenants) }}
                </div>
            </caption>
            {% if avenants|length != 0 %}
                <thead class="table-light">
                    <tr>
                        {# <th scope="col"><div class='d-flex justify-content-start'>Code</div></th> #}
                        <th scope="col"><div class='d-flex justify-content-start'>{{ "avenant_list_title" | trans }}</div></th>
                        <th scope="col" style="width:100px" ><div class='d-flex justify-content-end'>{{ "avenant_list_actions" | trans }}</div></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {# Boucler les donnees #}
                    {% for avenant in avenants %}
                        <tr id="row_avenant_{{ avenant.id }}">
                            <td>
                                <a class="m-2 fw-bold" href="{{ path('admin.avenant.edit', {'idAvenant':avenant.id, 'idEntreprise': entreprise.id})}}">
                                    {{ constante.getTypeAvenant(avenant.cotation.piste.typeavenant) }} • Avenant n°{{ avenant.numero }} • Police: {{ avenant.referencePolice }} • Du {{ avenant.startingAt|format_datetime('short', 'none', locale: utilisateur.locale) }} au {{ avenant.endingAt|format_datetime('short', 'none', locale: utilisateur.locale) }}
                                </a><br/>
                                <small class="m-2 fw-bold">
                                    <span class="text-secondary">Exercice {{ avenant.cotation.piste.exercice }}</span> 
                                    <span class="text-secondary"> • {{ avenant.cotation.assureur }}</span> 
                                    <span class="text-secondary"> • {{ avenant.cotation.piste.client }}</span> 
                                    <span class="text-secondary"> • {{ avenant.cotation.piste.risque.code }}</span> 
                                    <span class="text-secondary"> • par {{ avenant.cotation.piste.invite.nom }}</span> 
                                    <span class="text-secondary"> le  {{ avenant.createdAt|format_datetime('short', 'none', locale: utilisateur.locale) }}</span> 
                                </small><br/>
                                {# Section prime #}
                                <small class="m-2">
                                    <span class="text-secondary fw-bold">Prime: {{ constante.Cotation_getMontant_prime_payable_par_client(avenant.cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    <span class="text-secondary fw-bold"> • Prime payée: {{ constante.Cotation_getMontant_prime_payable_par_client_payee(avenant.cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    {% set couleur = "text-secondary" %}
                                    {% if constante.Cotation_getMontant_prime_payable_par_client_solde(avenant.cotation) != 0 %}
                                        {% set couleur = "text-danger" %}
                                    {% endif %}
                                    <span class="{{couleur}} fw-bold"> • Solde dû: {{ constante.Cotation_getMontant_prime_payable_par_client_solde(avenant.cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                </small><br/>
                                {# Section commissions #}
                                <small class="m-2">
                                    <span class="text-secondary">Com. pure: {{ constante.Cotation_getMontant_commission_pure(avenant.cotation, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    <span class="text-secondary"> • Com. ht: {{ constante.Cotation_getMontant_commission_ht(avenant.cotation, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    <span class="text-secondary"> • C. totale: {{ constante.Cotation_getMontant_commission_ttc(avenant.cotation, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    <span class="text-secondary"> • C. collectée: {{ constante.Cotation_getMontant_commission_ttc_collectee(avenant.cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    {% set couleur = "text-secondary" %}
                                    {% if constante.Cotation_getMontant_commission_ttc_solde(avenant.cotation, -1, false) != 0 %}
                                        {% set couleur = "text-danger" %}
                                    {% endif %}
                                    <span class="{{couleur}}"> • Solde: {{ constante.Cotation_getMontant_commission_ttc_solde(avenant.cotation, -1, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                </small><br/>
                                {% for taxe in serviceTaxe.taxes %}
                                     {% if taxe.redevable == 0 %}
                                        {# Section Taxes : TVA#}
                                        <small class="m-2">
                                            <span class="text-secondary">{{ taxe.code }}: {{ constante.Cotation_getMontant_taxe_payable_par_assureur(avenant.cotation, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                            <span class="text-secondary"> • {{ taxe.code }} payée: {{ constante.Cotation_getMontant_taxe_payable_par_assureur_payee(avenant.cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                            {% set couleur = "text-secondary" %}
                                            {% if constante.Cotation_getMontant_taxe_payable_par_assureur_solde(avenant.cotation, false) != 0 %}
                                                {% set couleur = "text-danger" %}
                                            {% endif %}
                                            <span class="{{couleur}}"> • Solde: {{ constante.Cotation_getMontant_taxe_payable_par_assureur_solde(avenant.cotation, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                        </small><br/>
                                     {% endif %}
                                     {% if taxe.redevable == 1 %}
                                        {# Section Taxe: ARCA #}
                                        <small class="m-2">
                                            <span class="text-secondary">{{ taxe.code }}: {{ constante.Cotation_getMontant_taxe_payable_par_courtier(avenant.cotation, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                            <span class="text-secondary"> • {{ taxe.code }} payée: {{ constante.Cotation_getMontant_taxe_payable_par_courtier_payee(avenant.cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                            {% set couleur = "text-secondary" %}
                                            {% if constante.Cotation_getMontant_taxe_payable_par_courtier_solde(avenant.cotation, false) != 0 %}
                                                {% set couleur = "text-danger" %}
                                            {% endif %}
                                            <span class="{{couleur}}"> • Solde dû: {{ constante.Cotation_getMontant_taxe_payable_par_courtier_solde(avenant.cotation, false)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                        </small><br/>
                                     {% endif %}
                                {% endfor %}
                                {% set partenaire = constante.Cotation_getPartenaire(avenant.cotation) %}
                                {% if partenaire != null %}
                                    {# Retro-commission #}
                                    <small class="m-2">
                                        <span class="text-secondary">Assiette: {{ constante.Cotation_getMontant_commission_pure(avenant.cotation, -1, true)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                        <span class="text-secondary"> • Rétro-com dûe à {{ partenaire }}: {{ constante.Cotation_getMontant_retrocommissions_payable_par_courtier(avenant.cotation, partenaire, -1, true)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                        <span class="text-secondary"> • Rétro-com payée: {{ constante.Cotation_getMontant_retrocommissions_payable_par_courtier_payee(avenant.cotation, partenaire)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                        {% set couleur = "text-secondary" %}
                                        {% if constante.Cotation_getMontant_retrocommissions_payable_par_courtier_solde(avenant.cotation, partenaire, -1, true) != 0 %}
                                            {% set couleur = "text-danger" %}
                                        {% endif %}
                                        <span class="{{couleur}}"> • Solde dû: {{ constante.Cotation_getMontant_retrocommissions_payable_par_courtier_solde(avenant.cotation, partenaire, -1, true)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span>
                                    </small><br>
                                    {% if constante.Partenaire_hasConditionsSpeciales(partenaire) %}
                                        <small class="m-2">
                                            {% for condition in constante.Partenaire_getDescriptionsConditionSpecialePartage(partenaire) %}
                                                <span class="text-danger"> • {{ condition }}</span>
                                            {% endfor %}
                                        </small><br>
                                    {% endif %}
                                {% endif %}
                                {# La reserve du courtier = ce qui revient au courtier après avoir payé tous les partenaires #}
                                <small class="m-2">
                                    <span class="text-secondary">La réserve finale pour {{ entreprise.nom }} est de {{ constante.Avenant_getReserve(avenant)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                </small><br>
                                <small class="m-2">
                                    <span class="text-secondary">Piste: {{ avenant.cotation.piste.nom }}</span>
                                    <span class="text-secondary"> • Créée le {{ avenant.cotation.piste.createdAt|format_datetime('short', 'none', locale: utilisateur.locale) }}</span>
                                </small><br>
                                <small class="m-2">
                                    <span class="text-secondary">Condition: {{ constante.Piste_getTexteRenewalCondition(avenant.cotation.piste) }}</span> 
                                    <span class="text-secondary"> • Type d'avenant: {{ constante.getTypeAvenant(avenant.cotation.piste.typeAvenant) }}</span> 
                                    <span class="text-secondary"> • Renewal status: {{ constante.Avenant_getRenewalStatus(avenant)['text'] }}</span> 
                                </small><br>
                            </td>
                            <td>
                                <div class="d-flex gap-1 d-flex justify-content-end">
                                    {# Les actions sur l element de la liste #}
                                    <a class= "btn btn-outline-primary btn-sm border-0" href="{{ path('admin.avenant.edit', {'idEntreprise': entreprise.id, 'idAvenant':avenant.id })}}" class="" mthod = 'POST'>
                                        {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                        {# Modifier #}
                                    </a>
                                    <form action="{{ path('admin.avenant.remove', {'idAvenant':avenant.id, 'idEntreprise': entreprise.id})}}" method='POST'>
                                        <input type='hidden' name='_method' value='DELETE'>
                                        <button class='btn btn-outline-danger border-0 btn-sm' type='submit'>
                                            {{ ux_icon('fluent:delete-20-filled', {height: '18px', width: '18px'}) }}
                                            {# Supprimer #}
                                        </button>
                                    </form>
                                    <div class="dropdown">
                                        <a class="btn btn-outline-secondary dropdown-toggle border-0 btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ ux_icon('gravity-ui:dots-9', {height: '18px', width: '18px'}) }}
                                            {# Autres #}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <span class="dropdown-header">
                                                    {# {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }} #}
                                                    Mouvements
                                                </span>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{ path('admin.piste.endorse', {'idAvenant':avenant.id, 'mouvement': 1, 'idEntreprise': entreprise.id}) }}">
                                                    {{ ux_icon('material-symbols:add-ad-outline-rounded', {height: '18px', width: '18px'}) }}
                                                    Incorporation
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{ path('admin.piste.endorse', {'idAvenant':avenant.id, 'mouvement': 2, 'idEntreprise': entreprise.id}) }}">
                                                    {{ ux_icon('iconoir:truck-length', {height: '18px', width: '18px'}) }}
                                                    Prorogation
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{ path('admin.piste.endorse', {'idAvenant':avenant.id, 'mouvement': 3, 'idEntreprise': entreprise.id}) }}">
                                                    {{ ux_icon('fluent:calendar-cancel-24-regular', {height: '18px', width: '18px'}) }}
                                                    Annulation
                                                </a>
                                            </li>
                                            {% if avenant.cotation.piste.renewalCondition != 2 %}
                                                <li>
                                                    <a class="dropdown-item" href="{{ path('admin.piste.endorse', {'idAvenant':avenant.id, 'mouvement': 5, 'idEntreprise': entreprise.id}) }}">
                                                        {{ ux_icon('carbon:renew', {height: '18px', width: '18px'}) }}
                                                        Rénouvellement
                                                    </a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a class="dropdown-item" href="{{ path('admin.piste.endorse', {'idAvenant':avenant.id, 'mouvement': 4, 'idEntreprise': entreprise.id}) }}">
                                                    {{ ux_icon('gravity-ui:hand-stop', {height: '18px', width: '18px'}) }}
                                                    Résiliation
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
{% endblock %}
