{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "piste_creation_description_message" | trans({
		":user": utilisateur.nom, 
		":company": entreprise.nom, 
	}) | raw}}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	{# {{ form(form) }} #}
	{{ form_start(form, {
		'attr': {
			'data-controller': 'piste-formulaire', 
			'data-piste-formulaire-idpiste-value': piste.id,
			'data-piste-formulaire-identreprise-value': entreprise.id,
			'data-piste-formulaire-nbcotations-value': piste.cotations|length,
			'data-piste-formulaire-nbtaches-value': piste.taches|length,
			'data-piste-formulaire-nbdocuments-value': piste.documents|length,
			'data-piste-formulaire-nbconditionspartage-value': piste.conditionsPartageExceptionnelles|length,
			}
		}) 
	}}
	<div class="d-flex shadow-sm card bg-body sensible bg-white">
		<div class="card-body">
			<div>
				<div class="row">
					<div class="col">
						{{ form_row(form.nom, {'attr': {'data-piste-formulaire-target': 'nom'}}) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.descriptionDuRisque) }}
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						{{ form_row(form.client) }}
					</div>
					<div class="col-3">
						{{ form_row(form.typeAvenant) }}
					</div>
					<div class="col-5">
						{{ form_row(form.renewalCondition) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.risque) }}
					</div>
				</div>
				<div class="row">
					<div class="col-2">
						{{ form_row(form.exercice) }}
					</div>
					<div class="col-3">
						{{ form_row(form.primePotentielle) }}
					</div>
					<div class="col-3">
						{{ form_row(form.commissionPotentielle) }}
					</div>
					<div class="col-4">
						{{ form_row(form.partenaires) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{# Les onglets #}
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								{# Onglet cotattion - tittre #}
								<button class="nav-link fw-bold text-secondary active" id="nav-cotation-tab" data-bs-toggle="tab" data-bs-target="#nav-cotation" type="button" role="tab" aria-controls="nav-cotation" aria-selected="true">
									{{ include('segments/icones/cotation.html.twig', {size:'20px'}) }}
									COTATIONS 
									<span 
										data-piste-formulaire-target = "displaycotation"
									>
									<span>
								</button>
								{# Onglet tache - tittre #}
								<button class="nav-link fw-bold text-secondary" id="nav-tache-tab" data-bs-toggle="tab" data-bs-target="#nav-tache" type="button" role="tab" aria-controls="nav-tache" aria-selected="false">
									{{ include('segments/icones/tache.html.twig', {size:'20px'}) }}
									TACHES 
									<span 
										data-piste-formulaire-target = "displaytache"
									>
									<span>
								</button>
								{# Onglet document - tittre #}
								<button class="nav-link fw-bold text-secondary" id="nav-document-tab" data-bs-toggle="tab" data-bs-target="#nav-document" type="button" role="tab" aria-controls="nav-document" aria-selected="false">
									{{ include('segments/icones/document.html.twig', {size:'20px'}) }}
									DOCUMENTS 
									<span 
										data-piste-formulaire-target = "displaydocument"
									>
									<span>
								</button>
								{# Onglet conditions de partage - tittre #}
								<button class="nav-link fw-bold text-secondary" id="nav-condition-partage-tab" data-bs-toggle="tab" data-bs-target="#nav-condition-partage" type="button" role="tab" aria-controls="nav-condition-partage" aria-selected="false">
									{{ include('segments/icones/partenaire.html.twig', {size:'20px'}) }}
									CONDITIONS DE PARTAGE 
									<span 
										data-piste-formulaire-target = "displayconditionspartage"
									>
									<span>
								</button>
							</div>
						</nav>
						{# Contenu de chaque Onglet #}
						<div class="tab-content" id="nav-tabContent">
							{# Onglet cotattion - corps #}
							<div class="tab-pane fade table-responsive m-2 show active" id="nav-cotation" role="tabpanel" aria-labelledby="nav-cotation-tab" tabindex="0">
								{{ form_row(form.cotations) }}
							</div>
							{# Onglet taches - corps #}
							<div class="tab-pane fade table-responsive m-2" id="nav-tache" role="tabpanel" aria-labelledby="nav-tache-tab" tabindex="1">
								{{ form_row(form.taches) }}
							</div>
							{# Onglet document - corps #}
							<div class="tab-pane fade table-responsive m-2" id="nav-document" role="tabpanel" aria-labelledby="nav-document-tab" tabindex="2">
								{{ form_row(form.documents) }}
							</div>
							{# Onglet Conditions de partage - corps #}
							<div class="tab-pane fade table-responsive m-2" id="nav-condition-partage" role="tabpanel" aria-labelledby="nav-condition-partage-tab" tabindex="3">
								{{ form_row(form.conditionsPartageExceptionnelles) }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.enregistrer, {
							'attr': {
								'data-piste-formulaire-target': 'btEnregistrer'
								}
							})
						}}
					</div>
				</div>
			</div>
			<small>
				<span class="text-secondary m-2 fw-bold" data-piste-formulaire-target="display" style="display:block;">Message d'infos ici</span>
			</small>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
