{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "piste_form_description" | trans({
		":user": utilisateur.nom, 
		":piste": piste.nom, 
	}) | raw }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	{# {{ form(form) }} #}
	{{ form_start(form, {
		'attr': {
			'data-controller': 'piste-formulaire', 
			'data-piste-formulaire-idpiste-value': piste.id,
			'data-piste-formulaire-identreprise-value': entreprise.id,
			}
		}) 
	}}
	<div class="d-flex shadow-sm card bg-body sensible bg-white">
		<div class="card-body">
			<div>









				{# pour les onglets #}
				<div class="col-md">
					<div class="card">
						<div class="card-header text-center">
							Titre de la carte
						</div>
						<div class="card-body">
							{# Texte introductif #}
							Texte introductif de la page à onglets
							{# Tableau d'onglets #}
							{# Barre de navigation #}
							<nav>
								<div class="nav nav-tabs" id="nav-tab" role="tablist">
									{{ include('admin/piste/onglets/cotations/onglet.html.twig') }}
								</div>
							</nav>
							{# Contenu de chaque Onglet #}
							<div class="tab-content" id="nav-tabContent">
								{{ include('admin/piste/onglets/cotations/corps.html.twig') }}
							</div>
						</div>
						<div class="card-footer text-muted text-center">
							Merci.
						</div>
					</div>
				</div>


















				<div class="row">
					<div class="col">
						{{ form_row(form.nom, {'attr': {'data-piste-formulaire-target': 'nom'}}) }}
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						{{ form_row(form.client) }}
					</div>
					<div class="col-3">
						{{ form_row(form.typeAvenant) }}
					</div>
					<div class="col-5">
						{{ form_row(form.renewalCondition) }}
					</div>
				</div>
				<div class="row">
					<div class="col-2">
						{{ form_row(form.exercice) }}
					</div>
					<div class="col-3">
						{{ form_row(form.primePotentielle) }}
					</div>
					<div class="col-3">
						{{ form_row(form.commissionPotentielle) }}
					</div>
					<div class="col-4">
						{{ form_row(form.partenaires) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.risque) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.descriptionDuRisque) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.conditionsPartageExceptionnelles) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.taches) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.cotations) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.documents) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.enregistrer, {
							'attr': {
								'data-piste-formulaire-target': 'btEnregistrer'
								}
							})
						}}
					</div>
				</div>
			</div>
			<small>
				<span class="text-secondary m-2 fw-bold" data-piste-formulaire-target="display" style="display:block;">Message d'infos ici</span>
			</small>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
