{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_entreprise_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "comptebancaire_description" | trans }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="d-flex">
        <table class="table table-hover table-sm caption-top">
            <caption>
                {% if comptebancaires|length == 0 %}
                    {{ "comptebancaires_filter_result_empty" | trans }}
                {% else %}
                    {{ "comptebancaires_filter_result_elements" | trans({
                        ':number': comptebancaires|length
                    })}}
                {% endif %}
                <div class="d-flex gap-1">
                    {{ knp_pagination_render(comptebancaires) }}
                </div>
            </caption>
            {% if comptebancaires|length != 0 %}
                <thead class="table-light">
                    <tr>
                        {# <th scope="col"><div class='d-flex justify-content-start'>Code</div></th> #}
                        <th scope="col"><div class='d-flex justify-content-start'>{{ "comptebancaire_list_title" | trans }}</div></th>
                        <th scope="col" style="width:100px" ><div class='d-flex justify-content-end'>{{ "comptebancaire_list_actions" | trans }}</div></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {# Boucler les donnees #}
                    {% for comptebancaire in comptebancaires %}
                        <tr id="row_taxe_{{ comptebancaire.id }}">
                            <td>
                                <a class="m-2 fw-bold" href="{{ path('admin.comptebancaire.edit', {'idCompteBancaire':comptebancaire.id, 'idEntreprise': entreprise.id})}}">
                                    {{ include('segments/icones/comptebancaire.html.twig', {size:'18px'}) }}
                                    {{ comptebancaire.nom }} • N°: {{ comptebancaire.numero }} • Banque: {{ comptebancaire.banque }}
                                </a><br/>
                                <small class="m-2">
                                    <span class="text-secondary">Intitulé: {{ comptebancaire.intitule }} • Code Swift: {{ comptebancaire.codeSwift }}</span> 
                                </small><br/>
                                <small class="m-2 fw-bold">
                                    <span class="text-secondary">Débit: {{ constante.CompteBancaire_getMontantDebit(comptebancaire)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    <span class="text-secondary"> • Crédit: {{ constante.CompteBancaire_getMontantCredit(comptebancaire)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                    <span class="text-secondary"> • Solde: {{ constante.CompteBancaire_getMontantSolde(comptebancaire)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}</span> 
                                </small><br/>
                            </td>
                            <td>
                                <div class="d-flex gap-1 d-flex justify-content-end">
                                    {# Les actions sur l element de la liste #}
                                    <a class= "btn btn-outline-primary btn-sm border-0" href="{{ path('admin.comptebancaire.edit', {'idEntreprise': entreprise.id, 'idCompteBancaire':comptebancaire.id })}}" class="" mthod = 'POST'>
                                        {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                        {# Modifier #}
                                    </a>
                                    <form action="{{ path('admin.comptebancaire.remove', {'idCompteBancaire':comptebancaire.id, 'idEntreprise': entreprise.id})}}" method='POST'>
                                        <input type='hidden' name='_method' value='DELETE'>
                                        <button class='btn btn-outline-danger border-0 btn-sm' type='submit'>
                                            {{ ux_icon('fluent:delete-20-filled', {height: '18px', width: '18px'}) }}
                                            {# Supprimer #}
                                        </button>
                                    </form>
                                    <div class="dropdown">
                                        <a class="btn btn-outline-secondary dropdown-toggle border-0 btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ ux_icon('gravity-ui:dots-9', {height: '18px', width: '18px'}) }}
                                            {# Autres #}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                                    {{ "comptebancaire_item_set_as_display_comptebancaire" | trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                                    {{ "comptebancaire_item_set_as_input_comptebancaire" | trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    {{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
                                                    {{ "comptebancaire_item_set_as_display_and_input_comptebancaire" | trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
{% endblock %}
