{% if cotation is defined %}
	{% set tabAvenants = cotation.avenants %}
{% else %}
	{% if avenants is defined %}
		{% set tabAvenants = avenants %}
	{% endif %}
{% endif %}
{% if tabAvenants is defined %}
	{% if tabAvenants|length != 0 %}
		<div class="border border-light mb-2 rounded">
			<div class="fw-bold text-secondary">
				{{ include('segments/icones/actions/information.html.twig', {size:'17px'}) }}
				Aperçu des termes
			</div>
			<small>
				<ul class="list-group list-group-flush">
					{% for avenant in tabAvenants %}
						<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
							<div class="ms-2 text-secondary">
								<div class="fw-bold fw-italic text-dark">
									{{ include('segments/icones/avenant.html.twig', {size:'16px'}) }}
									{{ constante.getTypeAvenant(avenant.cotation.piste.getTypeAvenant()) }} n°{{ avenant.numero }}.
								</div>
								<span class="fw-italic">
									Réf. police: {{ avenant.referencePolice }}<br/>
									Descrp.: {{ avenant.description }}<br/>
									Risque: {{ avenant.cotation.piste.risque.nomComplet }}<br/>
									Client: {{ avenant.cotation.piste.client.nom }}
								</span>
							</div>
							<span class="fw-bold">
								Prime TTC: {{ constante.Cotation_getMontant_prime_payable_par_client(avenant.cotation)|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}<br/>
								<span class="text-secondary">
									Effet: {{ avenant.startingAt|format_datetime('short', 'none', locale: utilisateur.locale)}}<br/>
									Echéance: {{ avenant.endingAt|format_datetime('short', 'none', locale: utilisateur.locale)}}<br/>
									Assureur: {{ avenant.cotation.assureur.nom }}<br/>
								</span>
							</span>
						</li>
					{% endfor %}
				</ul>
			</small>
		</div>
	{% else %}
		<div class="border border-light m-2 rounded">
			<div class="text-danger">
				{{ include('segments/icones/actions/information.html.twig', {size:'17px'}) }}
				Aucune police.
				<span class="fw-italic">
					La référence fournie n'est pas valide.
				</span>
			</div>
		</div>
	{% endif %}
{% endif %}