{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block body %}
	<div class="container">
		<h2>{{ pageName }}</h2>
		
		<div class="card m-2 shadow-sm bg-body" style="width: 40rem;">
			<div class="card-body">
				<p>
					{% if user %}
						{{ "contact_email_laisser_message" | trans({':userName': user.nom}) | raw }}
					{% else %}
						{{ "contact_email_laisser_message" | trans({':userName': 'visiteur'}) | raw }}
					{% endif %}
				</p>
				{{ form_start(form) }}
				<div class='row'>
					<div class='col-sm'>{{ form_row(form.name) }}</div>
					<div class='col-sm'>{{ form_row(form.email) }}</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>{% endblock %}
