{# Une brique est element html de la classe COL #}
<div class="col-md border border-2 border-secondary rounded-3 m-1 p-2 shadow-sm mb-10 bg-white">
    {# Le filtre sera ici {{ data }} #}
    {{ form_start(formulaire_recherche) }}
        {# Ici on va afficher les erreurs #}
		{# {{ form_errors(formulaire_recherche) }} #}
        <div class="row">
            <div class="col">
                {{ form_row(formulaire_recherche.entreprises) }}
            </div>
            <div class="col">
                {{ form_row(formulaire_recherche.chercher) }}
            </div>
        </div>
        {# {{ form_row(formulaire_recherche.entreprises) }} #}
        {# {{ form_row(formulaire_recherche.chercher) }} #}
    {{ form_end(formulaire_recherche) }}


    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-secondary" type="button" id="button-addon2">Filtrer</button>
    </div>
</div>