{# Une brique est element html de la classe COL #}
<div class="col-md border border-0 border-secondary rounded-3 m-1 p-2 shadow-sm mb-10 bg-white">
    {# Le filtre sera ici {{ data }} #}
    {{ form_start(formulaire_recherche) }}
        <div class="input-group p-2">
            {{ form_widget(formulaire_recherche.entreprises) }}
            {{ form_widget(formulaire_recherche.chercher) }}
        </div>
    {{ form_end(formulaire_recherche) }}


    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
            <a href="#" style="text-decoration: none;" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Définir d'autres critères avancés
            </a>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
        </div>
    </div>
</div>