{# Une brique est element html de la classe COL #}
<div class="col-md border border-2 border-secondary rounded-3 m-1 p-2 shadow-sm mb-10 bg-white">
    {# Le filtre sera ici {{ data }} #}
    {{ form_start(formulaire_recherche) }}
        <div class="input-group">
            {{ form_widget(formulaire_recherche.entreprises) }}
            {{ form_widget(formulaire_recherche.chercher) }}
        </div>
    {{ form_end(formulaire_recherche) }}
</div>