{# Une brique est element html de la classe COL #}
<div class="col-md border border-2 border-secondary rounded-3 m-1 p-2 shadow-sm mb-10 sensible">
    <div class="card">
        <div class="card-header text-center">
            {{ "company_dashboard_section_principale_title" | trans({':companyName': entreprise.nom}) | raw }}
        </div>
        <div class="card-body">
            {# Texte introductif #}
            <blockquote class="blockquote mb-0 text-center">
                <p>{{ "company_dashboard_section_principale_description" | trans({':companyName': entreprise.nom}) | raw }}</p>
                <footer class="blockquote-footer">{{ "company_dashboard_section_principale_description_footer" | trans({':companyName': entreprise.nom}) | raw }}<cite title="Source Title">JS Brokers!</cite></footer>
            </blockquote>
            {# Tableau d'onglets #}
            {# Barre de navigation #}
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-graphs-tab" data-bs-toggle="tab" data-bs-target="#nav-graphs" type="button" role="tab" aria-controls="nav-graphs" aria-selected="true">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_graphs_titre" | trans() | raw }}
                    </button>
                    <button class="nav-link" id="nav-production-insurer-tab" data-bs-toggle="tab" data-bs-target="#nav-production-insurer" type="button" role="tab" aria-controls="nav-production-insurer" aria-selected="false">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_insurers_titre" | trans() | raw }}
                    </button>
                    <button class="nav-link" id="nav-production-partner-tab" data-bs-toggle="tab" data-bs-target="#nav-production-partner" type="button" role="tab" aria-controls="nav-production-partner" aria-selected="false">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_partners_titre" | trans() | raw }}
                    </button>
                    <button class="nav-link" id="nav-topclients-tab" data-bs-toggle="tab" data-bs-target="#nav-topclients" type="button" role="tab" aria-controls="nav-topclients" aria-selected="false">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_clients_titre" | trans() | raw }}
                    </button>
                    <button class="nav-link" id="nav-tasks-tab" data-bs-toggle="tab" data-bs-target="#nav-tasks" type="button" role="tab" aria-controls="nav-tasks" aria-selected="false">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_tasks_titre" | trans() | raw }}
                    </button>
                    <button class="nav-link" id="nav-renewals-tab" data-bs-toggle="tab" data-bs-target="#nav-renewals" type="button" role="tab" aria-controls="nav-renewals" aria-selected="false">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_renewals_titre" | trans() | raw }}
                    </button>
                    <button class="nav-link" id="nav-claims-tab" data-bs-toggle="tab" data-bs-target="#nav-claims" type="button" role="tab" aria-controls="nav-claims" aria-selected="false">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_claims_titre" | trans() | raw }}
                    </button>
                    <button class="nav-link" id="nav-cash-tab" data-bs-toggle="tab" data-bs-target="#nav-cash" type="button" role="tab" aria-controls="nav-cash" aria-selected="false">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_cashflow_titre" | trans() | raw }}
                    </button>
                </div>
            </nav>
            {# Contenu de chaque Onglet #}
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade table-responsive" id="nav-production-insurer" role="tabpanel" aria-labelledby="nav-production-insurer-tab" tabindex="0">
                    <div class="card m-2">
                        <div class="card-header text-center">
                            {# Monthly Production per Insurer #}
                            {{ "company_dashboard_section_principale_insurers_header" | trans() | raw }}
                        </div>
                        {# Tableau de production par assureur #}
                        <table class="table table-hover table-sm">
                            <caption class="text-center">
                                {{ "company_dashboard_section_principale_insurers_caption" | trans() | raw }}
                            </caption>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col">{{ "company_dashboard_section_principale_insurers_colonne_assureur" | trans() | raw }}</th>
                                    <th scope="col" class="text-end">{{ "company_dashboard_section_principale_insurers_colonne_prime" | trans() | raw }}</th>
                                    <th scope="col" class="text-end">{{ "company_dashboard_section_principale_insurers_colonne_net_com" | trans() | raw }}</th>
                                    <th scope="col" class="text-end">{{ "company_dashboard_section_principale_insurers_colonne_taxes" | trans() | raw }}</th>
                                    <th scope="col" class="text-end">{{ "company_dashboard_section_principale_insurers_colonne_gross_com" | trans() | raw }}</th>
                                    <th scope="col" class="text-end">{{ "company_dashboard_section_principale_insurers_colonne_received" | trans() | raw }}</th>
                                    <th scope="col" class="text-end">{{ "company_dashboard_section_principale_insurers_colonne_balance" | trans() | raw }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reposertSet in dashboard.productionTabs['tabProductionPerInsurerPerMonth'] %}
                                    {% if reposertSet.type == 0 %}
                                        <tr style="
                                            border-style: solid;
                                            border-top: 0px;
                                            border-left: 0px;
                                            border-right: 0px;
                                            border-width: 1px;
                                            border-color: black;
                                            background: #f6f6f6;
                                        ">
                                            <td><small><strong>{{ ux_icon('mdi-light:plus-box', {height: '16px', width: '16px'}) }}&nbsp;{{ reposertSet.label }}</strong></small></td>
                                            <td class="text-end" style="color: #0d6efd;"><strong><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end" style="color: #198754;"><strong><small>{{ reposertSet.net_com|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end" style="color: #e29c1d;"><strong><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end"><strong><small>{{ reposertSet.gros_commission|number_format(2, ',', ' ')  ~ " " ~ reposertSet.currency_code}}</small></strong></td>
                                            <td class="text-end"><strong><small>{{ reposertSet.commission_received|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end text-danger"><strong><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                        </tr>
                                    {% endif %}
                                    {% if reposertSet.type == 1 %}
                                        <tr>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ reposertSet.label }}</small></td>
                                            <td class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #198754;"><small>{{ reposertSet.net_com|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #e29c1d;"><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.gros_commission|number_format(2, ',', ' ')  ~ " " ~ reposertSet.currency_code}}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.commission_received|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end text-danger"><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <thead class="table-secondary">
                                <tr>
                                    {% for reposertSet in dashboard.productionTabs['tabProductionPerInsurerPerMonth'] %}
                                        {% if reposertSet.type == 2 %}
                                            <th scope="col"><small>{{ reposertSet.label }}</small></th>
                                            <th scope="col" class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end" style="color: #198754;"><small>{{ reposertSet.net_com|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end" style="color: #e29c1d;"><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end"><small>{{ reposertSet.gros_commission|number_format(2, ',', ' ')  ~ " " ~ reposertSet.currency_code}}</small></th>
                                            <th scope="col" class="text-end"><small>{{ reposertSet.commission_received|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end text-danger"><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade table-responsive" id="nav-production-partner" role="tabpanel" aria-labelledby="nav-production-partner-tab" tabindex="0">
                    <div class="card m-2">
                        <div class="card-header text-center">
                            {{ "company_dashboard_section_principale_partners_header" | trans() | raw}}
                        </div>
                        {# Tableau de production par partenaire #}
                        <table class="table table-hover table-sm">
                            <caption class="text-center">
                                {{ "company_dashboard_section_principale_partners_caption" | trans() | raw }}
                            </caption>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col">{{ "company_dashboard_section_principale_partners_colonne_partenaire" | trans() | raw}} </th>
                                    <th scope="col" class="text-end">{{ "company_dashboard_section_principale_partners_colonne_prime" | trans() | raw}} </th>
                                    <th scope="col" class="text-end"> {{ "company_dashboard_section_principale_partners_colonne_com_nette" | trans() | raw}}</th>
                                    <th scope="col" class="text-end">{{ "company_dashboard_section_principale_partners_colonne_taxes" | trans() | raw}} </th>
                                    <th scope="col" class="text-end"> {{ "company_dashboard_section_principale_partners_colonne_retro_com" | trans() | raw}}</th>
                                    <th scope="col" class="text-end">{{ "company_dashboard_section_principale_partners_colonne_payee" | trans() | raw}} </th>
                                    <th scope="col" class="text-end">{{ "company_dashboard_section_principale_partners_colonne_solde" | trans() | raw}} </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reposertSet in dashboard.productionTabs['tabProductionPerPartnerPerMonth'] %}
                                    {% if reposertSet.type == 0 %}
                                        <tr style="
                                            border-style: solid;
                                            border-top: 0px;
                                            border-left: 0px;
                                            border-right: 0px;
                                            border-width: 1px;
                                            border-color: black;
                                            background: #f6f6f6;
                                        ">
                                            <td><small><strong>{{ ux_icon('mdi-light:plus-box', {height: '16px', width: '16px'}) }}&nbsp;{{ reposertSet.label }}</strong></small></td>
                                            <td class="text-end" style="color: #0d6efd;"><strong><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end" style="color: #198754;"><strong><small>{{ reposertSet.net_com|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end" style="color: #e29c1d;"><strong><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end"><strong><small>{{ reposertSet.co_brokerage|number_format(2, ',', ' ')  ~ " " ~ reposertSet.currency_code}}</small></strong></td>
                                            <td class="text-end"><strong><small>{{ reposertSet.amount_paid|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end text-danger"><strong><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                        </tr>
                                    {% endif %}
                                    {% if reposertSet.type == 1 %}
                                        <tr>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ reposertSet.label }}</small> <span class="badge text-bg-secondary">{{ reposertSet.partner_rate }}%</span></td>
                                            <td class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #198754;"><small>{{ reposertSet.net_com|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #e29c1d;"><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.co_brokerage|number_format(2, ',', ' ')  ~ " " ~ reposertSet.currency_code}}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.amount_paid|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end text-danger"><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <thead class="table-secondary">
                                <tr>
                                    {% for reposertSet in dashboard.productionTabs['tabProductionPerPartnerPerMonth'] %}
                                        {% if reposertSet.type == 2 %}
                                            <th scope="col"><small>{{ reposertSet.label }}</small></th>
                                            <th scope="col" class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end" style="color: #198754;"><small>{{ reposertSet.net_com|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end" style="color: #e29c1d;"><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end"><small>{{ reposertSet.co_brokerage|number_format(2, ',', ' ')  ~ " " ~ reposertSet.currency_code}}</small></th>
                                            <th scope="col" class="text-end"><small>{{ reposertSet.amount_paid|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end text-danger"><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="nav-graphs" role="tabpanel" aria-labelledby="nav-graphs-tab" tabindex="0">
                    <div class="row">
                        <div class="col">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    {# Revenue graphs per month #}
                                    <small class="m-2 text-secondary ">
                                        <span class="fw-bold">
                                            {{ dashboard.productionCharts['chartPerMonth']['titre'] }}
                                        </span>
                                    </small>
                                </div>
                                {{ render_chart(dashboard.productionCharts['chartPerMonth']['chart'], {'class': 'my-chart'}) }}
                                <div class="card-body text-center">
                                    <p class="card-text">
                                        <small class="m-2 text-secondary ">
                                            <span class="fw-bold">Notes:</span> 
                                            {{ dashboard.productionCharts['chartPerMonth']['notes'] }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    <small class="m-2 text-secondary ">
                                        <span class="fw-bold">
                                            {{ dashboard.productionCharts['chartPerInsurer']['titre'] }}
                                        </span>
                                    </small>
                                </div>
                                {{ render_chart(dashboard.productionCharts['chartPerInsurer']['chart'], {'class': 'my-chart'}) }}
                                <div class="card-body text-center">
                                    <p class="card-text">
                                        <small class="m-2 text-secondary ">
                                            <span class="fw-bold">Notes:</span> 
                                            {{ dashboard.productionCharts['chartPerInsurer']['notes'] }}
                                        </small>
                                        {# Some quick example text to build on the card title and make up the bulk of the card's content. #}
                                    </p>
                                </div>
                            </div>
                        </div>
                         <div class="col">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    <small class="m-2 text-secondary ">
                                        <span class="fw-bold">
                                            {{ dashboard.productionCharts['chartPerRisks']['titre'] }}
                                        </span>
                                    </small>
                                    {# Revenue graphs per risk or cover #}
                                </div>
                                {{ render_chart(dashboard.productionCharts['chartPerRisks']['chart'], {'class': 'my-chart'}) }}
                                {# <img src="..." class="card-img-top" alt="..."> #}
                                <div class="card-body text-center">
                                    <p class="card-text">
                                        <small class="m-2 text-secondary ">
                                            <span class="fw-bold">Notes:</span> 
                                            {{ dashboard.productionCharts['chartPerRisks']['notes'] }}
                                        </small>
                                    {# Some quick example text to build on the card title and make up the bulk of the card's content. #}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    <small class="m-2 text-secondary ">
                                        <span class="fw-bold">
                                            {{ dashboard.productionCharts['chartPerRenewalStatus']['titre'] }}
                                            {# Revenue graphs per renewal status #}
                                        </span>
                                    </small>
                                </div>
                                {{ render_chart(dashboard.productionCharts['chartPerRenewalStatus']['chart'], {'class': 'my-chart'}) }}
                                <div class="card-body text-center">
                                    <p class="card-text">
                                        <small class="m-2 text-secondary ">
                                            <span class="fw-bold">Notes:</span> 
                                            {{ dashboard.productionCharts['chartPerRenewalStatus']['notes'] }}
                                        </small>
                                        {# Some quick example text to build on the card title and make up the bulk of the card's content. #}
                                    </p>
                                </div>
                            </div>
                        </div>
                         <div class="col">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    <small class="m-2 text-secondary ">
                                        <span class="fw-bold">
                                            {{ dashboard.productionCharts['chartPerPartners']['titre'] }}
                                        </span>
                                    </small>
                                    {# Revenue graphs per partner #}
                                </div>
                                {{ render_chart(dashboard.productionCharts['chartPerPartners']['chart'], {'class': 'my-chart'}) }}
                                {# <img src="..." class="card-img-top" alt="..."> #}
                                <div class="card-body text-center">
                                    <p class="card-text">
                                        <small class="m-2 text-secondary ">
                                            <span class="fw-bold">Notes:</span> 
                                            {{ dashboard.productionCharts['chartPerPartners']['notes'] }}
                                        </small>
                                        {# quick example text to build on the card title and make up the bulk of the card's content. #}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-topclients" role="tabpanel" aria-labelledby="nav-topclients-tab" tabindex="0">
                    <div class="card m-2">
                        <div class="card-header text-center">
                            {{ "company_dashboard_section_principale_clients_header" | trans() | raw}}
                        </div>
                        {# Tableau de top 20 clients #}
                        <table class="table table-hover table-sm">
                            <caption class="text-center">
                                <small>
                                    {{ dashboard.productionTabs.tabTop20Clients['notes'] | raw }}
                                    {# ICI{{ "company_dashboard_section_principale_clients_caption" | trans() | raw}} #}
                                </small>
                            </caption>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col">{{ "company_dashboard_section_principale_clients_colonne_client" | trans() | raw}} </th>
                                    <th scope="col" class="text-end">{{ "company_dashboard_section_principale_clients_colonne_prime" | trans() | raw}} </th>
                                    <th scope="col" class="text-end">{{ "company_dashboard_section_principale_clients_colonne_other_laodings" | trans() | raw}} </th>
                                    <th scope="col" class="text-end">{{ "company_dashboard_section_principale_clients_colonne_prime_nette" | trans() | raw}} </th>
                                    <th scope="col" class="text-end">{{ "company_dashboard_section_principale_clients_colonne_revenu_ttc" | trans() | raw}} </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reposertSet in dashboard.productionTabs.tabTop20Clients['data'] %}
                                    {% if reposertSet.type == 0 %}
                                        <tr>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<small><strong>{{ reposertSet.label }}</strong></small></td>
                                            <td class="text-end" style="color: #0d6efd;"><strong><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end" style="color: #0d6efd;"><strong><small>{{ reposertSet.other_loadings|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end" style="color: #0d6efd;"><strong><small>{{ reposertSet.net_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end" style="color: #198754;"><strong><small>{{ reposertSet.g_commission|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                        </tr>
                                    {% endif %}
                                    {% if reposertSet.type == 1 %}
                                        <tr>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ reposertSet.label }}</small></td>
                                            <td class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.other_loadings|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.net_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #198754;"><small>{{ reposertSet.g_commission|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <thead class="table-secondary">
                                <tr>
                                    {% for reposertSet in dashboard.productionTabs.tabTop20Clients['data'] %}
                                        {% if reposertSet.type == 2 %}
                                            <th scope="col"><small>{{ reposertSet.label }}</small></th>
                                            <th scope="col" class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.other_loadings|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.net_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end" style="color: #198754;"><small>{{ reposertSet.g_commission|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-tasks" role="tabpanel" aria-labelledby="nav-tasks-tab" tabindex="0">
                    <div class="card m-2">
                        <div class="card-header text-center">
                            {{ "company_dashboard_section_principale_tasks_header" | trans() | raw }}
                        </div>
                        {# Tableau de taches par utilisateur #}
                        <table class="table table-hover table-sm">
                            <caption class="text-center">
                                {{ "company_dashboard_section_principale_tasks_caption" | trans() | raw }}
                            </caption>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col" width="300">{{ "company_dashboard_section_principale_tasks_colonne_tache" | trans() | raw }}</th>
                                    <th scope="col" width="170">{{ "company_dashboard_section_principale_tasks_colonne_client" | trans() | raw }}</th>
                                    <th scope="col" width="150">{{ "company_dashboard_section_principale_tasks_colonne_executor" | trans() | raw }}</th>
                                    <th scope="col" width="150">{{ "company_dashboard_section_principale_tasks_colonne_date" | trans() | raw }}</th>
                                    <th scope="col" width="150" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;{{ "company_dashboard_section_principale_tasks_colonne_prime" | trans() | raw }}</th>
                                    <th scope="col" width="130" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;{{ "company_dashboard_section_principale_tasks_colonne_revenu" | trans() | raw }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reposertSet in dashboard.productionTabs['tabTasks'] %}
                                    {% if reposertSet.type == 1 %}
                                        <tr>
                                            <td>
                                                <small>
                                                    <a href="#" class="text-dark" style="text-decoration: none;">{{ reposertSet.task_description|raw }}</a></br>
                                                    <span class="text-muted">
                                                        <ul>
                                                            <li>{{ "company_dashboard_section_principale_tasks_by" | trans() | raw }}<a href="#" class="link-secondary">{{ reposertSet.owner.nom }}</a></li>
                                                            <li>{{ "company_dashboard_section_principale_tasks_lead" | trans() | raw }}<a href="#" class="link-secondary">{{ reposertSet.lead }}</a></li>
                                                            <li>{{ "company_dashboard_section_principale_tasks_end" | trans() | raw }}{{ reposertSet.endorsement }} </li>
                                                        </ul>
                                                    </span>
                                                </small>
                                            </td>
                                            <td>
                                                <small>
                                                    {{ reposertSet.client }}
                                                    <span class="text-muted">
                                                        {{ "company_dashboard_section_principale_tasks_contacts" | trans() | raw }} </br>
                                                        <ul>
                                                            {% for contact in reposertSet.contacts %}
                                                                <li>{{ contact }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </span>
                                                </small>
                                            </td>
                                            {# <td><small>{{ reposertSet.owner.nom }}</small></td> #}
                                            <td>
                                                <small>
                                                    {{ reposertSet.excutor.nom }}</br>
                                                    <span class="text-muted">Feedbacks ({{ reposertSet.nbfeedbacks }})</span>
                                                </small>
                                            </td>
                                            <td>
                                                <small>
                                                    <strong>
                                                        Cette tâche doit être accomplie au plus tard le {{ reposertSet.effect_date|format_date("short", locale: app.user.locale) }}<br>
                                                    </strong>
                                                    {% set couleur = "text-dark" %}
                                                    {% if reposertSet.days_remaining == 0 %}
                                                        <span class="p-1 rounded text-bg-primary">{{ reposertSet.effect_date_comment }}</span>
                                                    {% endif %}
                                                    {% if reposertSet.days_remaining < 0 %}
                                                        <span class="p-1 rounded text-bg-danger">{{ reposertSet.effect_date_comment }}</span>
                                                    {% endif %}
                                                    {% if reposertSet.days_remaining > 0 %}
                                                        <span class="p-1 rounded text-bg-success">{{ reposertSet.effect_date_comment }}</span>
                                                    {% endif %}
                                                </small>
                                            </td>
                                            <td class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.currency_code ~ " " ~ reposertSet.potential_premium|number_format(2, ',', '.') }}</small></td>
                                            <td class="text-end" style="color: #198754;"><small>{{ reposertSet.currency_code ~ " " ~ reposertSet.potential_commission|number_format(2, ',', '.') }}</small></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <thead class="table-secondary">
                                <tr>
                                    {% for reposertSet in dashboard.productionTabs['tabTasks'] %}
                                        {% if reposertSet.type == 2 %}
                                            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;<small><strong>{{ reposertSet.task_description }}</strong></small></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                            <th scope="col" class="text-end" style="color: #0d6efd;"><strong><small>{{ reposertSet.currency_code ~ " " ~ reposertSet.potential_premium|number_format(2, ',', '.') }}</small></strong></th>
                                            <th scope="col" class="text-end" style="color: #198754;"><strong><small>{{ reposertSet.currency_code ~ " " ~ reposertSet.potential_commission|number_format(2, ',', '.') }}</small></strong></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-renewals" role="tabpanel" aria-labelledby="nav-renewals-tab" tabindex="0">
                    <div class="card m-2">
                        <div class="card-header text-center">
                            {{ "company_dashboard_section_principale_renewals_header" | trans() | raw}}
                        </div>
                        {# Tableau de taches par utilisateur #}
                        <table class="table table-hover table-sm">
                            <caption class="text-center">
                                {{ "company_dashboard_section_principale_renewals_caption" | trans() | raw}}
                            </caption>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col" width="280">{{ "company_dashboard_section_principale_renewals_colonne_description" | trans() | raw}}</th>
                                    <th scope="col">{{ "company_dashboard_section_principale_renewals_colonne_client_risk_details" | trans() | raw}}</th>
                                    <th scope="col" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;{{ "company_dashboard_section_principale_renewals_colonne_premium" | trans() | raw}}</th>
                                    <th scope="col" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;{{ "company_dashboard_section_principale_renewals_colonne_revenue" | trans() | raw}}</th>
                                    <th scope="col" class="text-center" width="200">{{ "company_dashboard_section_principale_renewals_colonne_status" | trans() | raw}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reposertSet in dashboard.productionTabs['tabRenewals'] %}
                                    {% if reposertSet.type == 1 %}
                                        <tr>
                                            <td>
                                                <small class="text-dark">
                                                    <strong>
                                                        {{ "company_dashboard_section_principale_renewals_policy_ref" | trans() | raw }}
                                                        <a href="#" class="text-dark" style="text-decoration: none;">
                                                            {{ reposertSet.label }}
                                                        </a>
                                                    </strong>
                                                    <span class="text-muted">
                                                    <ul>
                                                        <li>{{ "company_dashboard_section_principale_renewals_policy_effect" | trans() | raw }}<strong>{{ reposertSet.effect_date|date("d/m/Y H:i") }}</strong></li>
                                                        <li>{{ "company_dashboard_section_principale_renewals_policy_expiry" | trans() | raw }}<strong>{{ reposertSet.expiry_date|date("d/m/Y H:i") }}</strong></li>
                                                        <li>{{ "company_dashboard_section_principale_renewals_policy_at" | trans() | raw }}<a href="#" class="link-secondary">{{ reposertSet.insurer }}</a></li>
                                                        <li>{{ "company_dashboard_section_principale_renewals_policy_by" | trans() | raw }}<a href="#" class="text-secondary">{{ reposertSet.account_manager.nom }}</a></li>
                                                    </ul>
                                                    </span>
                                                </small>
                                            </td>
                                            <td>
                                                <small>
                                                    <strong><a href="#" class="link-dark" style="text-decoration: none;">{{ reposertSet.client }}</a></strong></br>
                                                    {{ "company_dashboard_section_principale_renewals_policy_name" | trans() | raw }}<a href="#" class="link-secondary">{{ reposertSet.cover }}</a>
                                                    <ul>
                                                        <li>{{ reposertSet.endorsement }}</li>
                                                        <li>{{ "company_dashboard_section_principale_renewals_policy_endorsement_number" | trans() | raw }}{{ reposertSet.endorsement_id }}</li>
                                                    </ul>
                                                </small>
                                            </td>
                                            <td class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #198754;"><small>{{ reposertSet.g_commission|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td>
                                                <small>
                                                <ul>
                                                    <li><strong>{{ reposertSet.status }}</strong></li>
                                                    <li><strong class="p-1 rounded {{ reposertSet.bg_color }}">{{ reposertSet.remaining_days }}</strong></li>
                                                </ul>
                                                </small>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <thead class="table-secondary">
                                <tr>
                                    {% for reposertSet in dashboard.productionTabs['tabRenewals'] %}
                                        {% if reposertSet.type == 2 %}
                                            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;<small><strong>{{ reposertSet.label }}</strong></small></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                            <th scope="col" class="text-end" style="color: #0d6efd;"><strong><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col" class="text-end" style="color: #198754;"><strong><small>{{ reposertSet.g_commission|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-claims" role="tabpanel" aria-labelledby="nav-claims-tab" tabindex="0">
                    <div class="card m-2">
                        <div class="card-header text-center">
                            {{ "company_dashboard_section_principale_claims_header" | trans() | raw }}
                        </div>
                        {# Tableau de taches par utilisateur #}
                        <table class="table table-hover table-sm">
                            <caption class="text-center">
                                {{ "company_dashboard_section_principale_claims_caption" | trans() | raw }}
                            </caption>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col" width="280">{{ "company_dashboard_section_principale_claims_colonne_claims_details" | trans() | raw }}</th>
                                    <th scope="col" width="280">{{ "company_dashboard_section_principale_claims_colonne_cover_details" | trans() | raw }}</th>
                                    <th scope="col" class="text-end" style="color: #ff0000;">&nbsp;&nbsp;&nbsp;&nbsp;{{ "company_dashboard_section_principale_claims_colonne_damage" | trans() | raw }}</th>
                                    <th scope="col" class="text-end" style="color: #ff0000;">&nbsp;&nbsp;&nbsp;&nbsp;{{ "company_dashboard_section_principale_claims_colonne_payment" | trans() | raw }}</th>
                                    <th scope="col" class="text-end" style="color: #ff0000;">&nbsp;&nbsp;&nbsp;&nbsp;{{ "company_dashboard_section_principale_claims_colonne_balance" | trans() | raw }}</th>
                                    <th scope="col" class="text-center" width="230">{{ "company_dashboard_section_principale_claims_colonne_status" | trans() | raw }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reposertSet in dashboard.productionTabs['tabClaims'] %}
                                    {% if reposertSet.type == 1 %}
                                        <tr>
                                            <td>
                                                <small class="text-dark">
                                                    <span>
                                                        N°#{{ reposertSet.number }}
                                                    </span></br>
                                                    <strong>
                                                        {{ "company_dashboard_section_principale_claims_ref" | trans() | raw }} 
                                                        <a href="#" class="text-dark" style="text-decoration: none;">
                                                            {{ reposertSet.claim_reference }}
                                                        </a>
                                                    </strong>
                                                    <span class="text-muted">
                                                    <ul>
                                                        <li>{{ "company_dashboard_section_principale_claims_notifcation_date" | trans() | raw }}{{ reposertSet.notification_date|date("d/m/Y H:i") }}</li>
                                                        <li>{{ "company_dashboard_section_principale_claims_settlement_date" | trans() | raw }}{{ reposertSet.settlement_date|date("d/m/Y H:i") }}</li>
                                                        <li>{{ "company_dashboard_section_principale_claims_from_client" | trans() | raw }}<a href="#" class="link-secondary">{{ reposertSet.client }}</a></li>
                                                        <li>{{ "company_dashboard_section_principale_claims_by_account_manager" | trans() | raw }}<a href="#" class="text-secondary">{{ reposertSet.account_manager.nom }}</a></li>
                                                        <li>{{ "company_dashboard_section_principale_claims_victim" | trans() | raw }}<a href="#" class="text-secondary">{{ reposertSet.victim }}</a></li>
                                                    </ul>
                                                    </span>
                                                </small>
                                            </td>
                                            <td>
                                                <small class="text-dark">
                                                    <strong>
                                                        {{ "company_dashboard_section_principale_claims_policy_ref" | trans() | raw }}
                                                        <a href="#" class="text-dark" style="text-decoration: none;">
                                                            {{ reposertSet.policy_reference }}
                                                        </a>
                                                    </strong>
                                                    <span class="text-muted">
                                                    <ul>
                                                        <li>{{ "company_dashboard_section_principale_renewals_policy_effect" | trans() | raw }}{{ reposertSet.effect_date|date("d/m/Y H:i") }}</li>
                                                        <li>{{ "company_dashboard_section_principale_renewals_policy_expiry" | trans() | raw }}{{ reposertSet.expiry_date|date("d/m/Y H:i") }}</li>
                                                        <li>{{ "company_dashboard_section_principale_renewals_policy_by" | trans() | raw }}<a href="#" class="link-secondary">{{ reposertSet.insurer }}</a></li>
                                                        <li>{{ "company_dashboard_section_principale_renewals_policy_name" | trans() | raw }}<a href="#" class="link-secondary">{{ reposertSet.cover }}</a></li>
                                                        <li>{{ "company_dashboard_section_principale_claims_policy_prem" | trans() | raw }}{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</li>
                                                        <li>{{ "company_dashboard_section_principale_claims_policy_limit" | trans() | raw }}{{ reposertSet.policy_limit|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</li>
                                                        <li>{{ "company_dashboard_section_principale_claims_policy_deductible" | trans() | raw }}{{ reposertSet.policy_deductible|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</li>
                                                    </ul>
                                                    </span>
                                                </small>
                                            </td>
                                            <td class="text-end" style="color: #ff0000;"><small>{{ reposertSet.damage_cost|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #ff0000;"><small>{{ reposertSet.compensation_paid|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #ff0000;"><small>{{ reposertSet.compensation_balance|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td>
                                                <small>
                                                <ul>
                                                    <li><strong>{{ reposertSet.claims_status }}</strong></li>
                                                    {# <li><strong class="p-1 rounded {{ reposertSet.bg_color }}">{{ reposertSet.claims_status }}</strong></li> #}
                                                    <li><strong class="p-1 rounded {{ reposertSet.bg_color }} text-light">{{ reposertSet.compensation_speed }}</strong></li>
                                                    <li>{{ reposertSet.days_passed }}</li>
                                                </ul>
                                                </small>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <thead class="table-secondary">
                                <tr>
                                    {% for reposertSet in dashboard.productionTabs['tabClaims'] %}
                                        {% if reposertSet.type == 2 %}
                                            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;<small><strong>{{ reposertSet.policy_reference }}</strong></small></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                            <th scope="col" class="text-end" style="color: #ff0000;"><strong><small>{{ reposertSet.damage_cost|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col" class="text-end" style="color: #ff0000;"><strong><small>{{ reposertSet.compensation_paid|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col" class="text-end" style="color: #ff0000;"><strong><small>{{ reposertSet.compensation_balance|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-cash" role="tabpanel" aria-labelledby="nav-cash-tab" tabindex="0">
                    <div class="card m-2">
                        <div class="card-header text-center">
                            {{ "company_dashboard_section_principale_cashflow_header" | trans() | raw}}
                        </div>
                        {# Tableau de cashflow #}
                        <table class="table table-hover table-sm">
                            <caption class="text-center">
                                {{ "company_dashboard_section_principale_cashflow_caption" | trans() | raw}}
                            </caption>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col" width="230">{{ "company_dashboard_section_principale_cashflow_colonne_description" | trans() | raw}}</th>
                                    <th scope="col" width="100" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;{{ "company_dashboard_section_principale_cashflow_colonne_net_due" | trans() | raw}}</th>
                                    <th scope="col" width="100" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;{{ "company_dashboard_section_principale_cashflow_colonne_taxes" | trans() | raw}}</th>
                                    <th scope="col" width="100" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;{{ "company_dashboard_section_principale_cashflow_colonne_gross" | trans() | raw}}</th>
                                    <th scope="col" width="100" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;{{ "company_dashboard_section_principale_cashflow_colonne_paid" | trans() | raw}}</th>
                                    <th scope="col" width="100" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;{{ "company_dashboard_section_principale_cashflow_colonne_balance" | trans() | raw}}</th>
                                    <th scope="col" class="text-center">{{ "company_dashboard_section_principale_cashflow_colonne_status" | trans() | raw}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reposertSet in dashboard.productionTabs['tabCashflow'] %}
                                    {% if reposertSet.type == 1 %}
                                        <tr>
                                            <td>
                                                <small class="text-dark">
                                                    <span>N°#{{ reposertSet.index }}</span></br>
                                                    <strong>
                                                        {{ "company_dashboard_section_principale_cashflow_invoice_ref" | trans() | raw}}
                                                        <a href="#" class="text-dark" style="text-decoration: none;">
                                                            {{ reposertSet.invoice_reference }}
                                                        </a>
                                                    </strong>
                                                    <span class="text-muted">
                                                    <ul>
                                                        <li><strong>{{ "company_dashboard_section_principale_cashflow_description" | trans() | raw}}{{ reposertSet.description }}</strong></li>
                                                        <li><strong>{{ "company_dashboard_section_principale_cashflow_due_by" | trans() | raw}}{{ reposertSet.debtor }}</strong></li>
                                                        <li>{{ "company_dashboard_section_principale_cashflow_submition_date" | trans() | raw}}{{ reposertSet.date_submition|date("d/m/Y") }}</li>
                                                        <li>{{ "company_dashboard_section_principale_cashflow_payment_date" | trans() | raw}}{{ reposertSet.date_payment|date("d/m/Y") }}</li>
                                                        <li>{{ "company_dashboard_section_principale_cashflow_user_name_by" | trans() | raw}}<a href="#" class="text-secondary">{{ reposertSet.user.nom }}</a></li>
                                                    </ul>
                                                    </span>
                                                </small>
                                            </td>
                                            <td class="text-end"><small>{{ reposertSet.net_amount|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.gross_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.amount_paid|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td>
                                                <small>
                                                <ul>
                                                    <li><strong>{{ reposertSet.status }}</strong></li>
                                                    <li><span>{{ reposertSet.days_passed }}</span></li>
                                                    {# <li>{{ reposertSet.days_passed }}</li> #}
                                                </ul>
                                                </small>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <thead class="table-secondary">
                                <tr>
                                    {% for reposertSet in dashboard.productionTabs['tabCashflow'] %}
                                        {% if reposertSet.type == 2 %}
                                            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;<small><strong>{{ reposertSet.description }}</strong></small></th>
                                            <th scope="col" class="text-end"><strong><small>{{ reposertSet.net_amount|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col" class="text-end"><strong><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col" class="text-end"><strong><small>{{ reposertSet.gross_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col" class="text-end"><strong><small>{{ reposertSet.amount_paid|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col" class="text-end"><strong><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted text-center">
            Footer
        </div>
    </div>
</div>