{# Une brique est element html de la classe COL #}
<div class="col-md border border-2 border-secondary rounded-3 m-1 p-2 shadow-sm mb-10 sensible">
    <div class="card">
        <div class="card-header text-center">
            {{ "company_dashboard_section_principale_title" | trans({':companyName': entreprise.nom}) | raw }}
        </div>
        <div class="card-body">
            {# Texte introductif #}
            <blockquote class="blockquote mb-0 text-center">
                <p>
                    {{ "company_dashboard_section_principale_description" | trans({':companyName': entreprise.nom}) | raw }}
                </p>
                <footer class="blockquote-footer">
                    {{ "company_dashboard_section_principale_description_footer" | trans({':companyName': entreprise.nom}) | raw }}
                    <cite title="Source Title">
                        JS Brokers!
                    </cite>
                </footer>
            </blockquote>
            {# Tableau d'onglets #}
            {# Barre de navigation #}
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    {{ include('admin/dashbord/segments/sections/graphs/onglet.html.twig') }}
                    {{ include('admin/dashbord/segments/sections/assureur/onglet.html.twig') }}
                    {{ include('admin/dashbord/segments/sections/partenaire/onglet.html.twig') }}
                    {{ include('admin/dashbord/segments/sections/client/onglet.html.twig') }}
                    {{ include('admin/dashbord/segments/sections/tache/onglet.html.twig') }}
                    {{ include('admin/dashbord/segments/sections/renewal/onglet.html.twig') }}
                    {{ include('admin/dashbord/segments/sections/sinistre/onglet.html.twig') }}
                    {{ include('admin/dashbord/segments/sections/cashflow/onglet.html.twig') }}
                </div>
            </nav>
            {# Contenu de chaque Onglet #}
            <div class="tab-content" id="nav-tabContent">
                {{ include('admin/dashbord/segments/sections/assureur/corps.html.twig') }}
                {{ include('admin/dashbord/segments/sections/partenaire/corps.html.twig') }}
                {{ include('admin/dashbord/segments/sections/graphs/corps.html.twig') }}
                {{ include('admin/dashbord/segments/sections/client/corps.html.twig') }}
                {{ include('admin/dashbord/segments/sections/tache/corps.html.twig') }}
                {{ include('admin/dashbord/segments/sections/renewal/corps.html.twig') }}
                {{ include('admin/dashbord/segments/sections/sinistre/corps.html.twig') }}
                {{ include('admin/dashbord/segments/sections/cashflow/corps.html.twig') }}
            </div>
        </div>
        <div class="card-footer text-muted text-center">
            Merci.
        </div>
    </div>
</div>