{# Une brique est element html de la classe COL #}
<div class="col-md border border-2 border-secondary rounded-3 m-1 p-2 shadow-sm mb-10 sensible">
    <div class="card">
        <div class="card-header text-center">
            {{ "company_dashboard_section_principale_title" | trans({':companyName': entreprise.nom}) | raw }}
        </div>
        <div class="card-body">
            {# Texte introductif #}
            <blockquote class="blockquote mb-0 text-center">
                <p>{{ "company_dashboard_section_principale_description" | trans({':companyName': entreprise.nom}) | raw }}</p>
                <footer class="blockquote-footer">{{ "company_dashboard_section_principale_description_footer" | trans({':companyName': entreprise.nom}) | raw }}<cite title="Source Title">JS Brokers!</cite></footer>
            </blockquote>
            {# Tableau d'onglets #}
            {# Barre de navigation #}
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-graphs-tab" data-bs-toggle="tab" data-bs-target="#nav-graphs" type="button" role="tab" aria-controls="nav-graphs" aria-selected="true">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_graphs_titre" | trans() | raw }}
                    </button>
                    <button class="nav-link" id="nav-production-insurer-tab" data-bs-toggle="tab" data-bs-target="#nav-production-insurer" type="button" role="tab" aria-controls="nav-production-insurer" aria-selected="false">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_insurers_titre" | trans() | raw }}
                    </button>
                    <button class="nav-link" id="nav-production-partner-tab" data-bs-toggle="tab" data-bs-target="#nav-production-partner" type="button" role="tab" aria-controls="nav-production-partner" aria-selected="false">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_partners_titre" | trans() | raw }}
                    </button>
                    <button class="nav-link" id="nav-topclients-tab" data-bs-toggle="tab" data-bs-target="#nav-topclients" type="button" role="tab" aria-controls="nav-topclients" aria-selected="false">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_clients_titre" | trans() | raw }}
                    </button>
                    <button class="nav-link" id="nav-tasks-tab" data-bs-toggle="tab" data-bs-target="#nav-tasks" type="button" role="tab" aria-controls="nav-tasks" aria-selected="false">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_tasks_titre" | trans() | raw }}
                    </button>
                    <button class="nav-link" id="nav-renewals-tab" data-bs-toggle="tab" data-bs-target="#nav-renewals" type="button" role="tab" aria-controls="nav-renewals" aria-selected="false">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_renewals_titre" | trans() | raw }}
                    </button>
                    <button class="nav-link" id="nav-claims-tab" data-bs-toggle="tab" data-bs-target="#nav-claims" type="button" role="tab" aria-controls="nav-claims" aria-selected="false">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_claims_titre" | trans() | raw }}
                    </button>
                    <button class="nav-link" id="nav-cash-tab" data-bs-toggle="tab" data-bs-target="#nav-cash" type="button" role="tab" aria-controls="nav-cash" aria-selected="false">
                        {{ ux_icon('fluent:tab-desktop-28-regular', {height: '20px', width: '20px'}) }}
                        {{ "company_dashboard_section_principale_cashflow_titre" | trans() | raw }}
                    </button>
                </div>
            </nav>
            {# Contenu de chaque Onglet #}
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade table-responsive" id="nav-production-insurer" role="tabpanel" aria-labelledby="nav-production-insurer-tab" tabindex="0">
                    <div class="card m-2">
                        <div class="card-header text-center">
                            Monthly Production per Insurer
                        </div>
                        {# Tableau de production par assureur #}
                        <table class="table table-hover table-sm">
                            <caption class="text-center">Quelques explications en bas du tableau ici.</caption>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col">INSURER</th>
                                    <th scope="col" class="text-end">GW PREMIUMS</th>
                                    <th scope="col" class="text-end">NET COM.</th>
                                    <th scope="col" class="text-end">TAXES</th>
                                    <th scope="col" class="text-end">GROSS COM.</th>
                                    <th scope="col" class="text-end">RECEIVED</th>
                                    <th scope="col" class="text-end">BALANCE</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reposertSet in dashboard.productionTabs['tabProductionPerInsurerPerMonth'] %}
                                    {% if reposertSet.type == 0 %}
                                        <tr style="
                                            border-style: solid;
                                            border-top: 0px;
                                            border-left: 0px;
                                            border-right: 0px;
                                            border-width: 1px;
                                            border-color: black;
                                            background: #f6f6f6;
                                        ">
                                            <td><small><strong>{{ ux_icon('mdi-light:plus-box', {height: '16px', width: '16px'}) }}&nbsp;{{ reposertSet.label }}</strong></small></td>
                                            <td class="text-end" style="color: #0d6efd;"><strong><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end" style="color: #198754;"><strong><small>{{ reposertSet.net_com|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end" style="color: #e29c1d;"><strong><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end"><strong><small>{{ reposertSet.gros_commission|number_format(2, ',', ' ')  ~ " " ~ reposertSet.currency_code}}</small></strong></td>
                                            <td class="text-end"><strong><small>{{ reposertSet.commission_received|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end text-danger"><strong><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                        </tr>
                                    {% endif %}
                                    {% if reposertSet.type == 1 %}
                                        <tr>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ reposertSet.label }}</small></td>
                                            <td class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #198754;"><small>{{ reposertSet.net_com|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #e29c1d;"><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.gros_commission|number_format(2, ',', ' ')  ~ " " ~ reposertSet.currency_code}}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.commission_received|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end text-danger"><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <thead class="table-secondary">
                                <tr>
                                    {% for reposertSet in dashboard.productionTabs['tabProductionPerInsurerPerMonth'] %}
                                        {% if reposertSet.type == 2 %}
                                            <th scope="col"><small>{{ reposertSet.label }}</small></th>
                                            <th scope="col" class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end" style="color: #198754;"><small>{{ reposertSet.net_com|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end" style="color: #e29c1d;"><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end"><small>{{ reposertSet.gros_commission|number_format(2, ',', ' ')  ~ " " ~ reposertSet.currency_code}}</small></th>
                                            <th scope="col" class="text-end"><small>{{ reposertSet.commission_received|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end text-danger"><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade table-responsive" id="nav-production-partner" role="tabpanel" aria-labelledby="nav-production-partner-tab" tabindex="0">
                    <div class="card m-2">
                        <div class="card-header text-center">
                            Monthly Production per broker partner
                        </div>
                        {# Tableau de production par partenaire #}
                        <table class="table table-hover table-sm">
                            <caption class="text-center">TAXES = TVA (16%) + ARCA (2%). NET COM is exclusive of all taxes</caption>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col">PARTNER</th>
                                    <th scope="col" class="text-end">GW PREMIUMS</th>
                                    <th scope="col" class="text-end">NET COM.</th>
                                    <th scope="col" class="text-end">TAXES</th>
                                    <th scope="col" class="text-end">CO-BROKERAGE</th>
                                    <th scope="col" class="text-end">AMOUNT PAID</th>
                                    <th scope="col" class="text-end">BALANCE</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reposertSet in dashboard.productionTabs['tabProductionPerPartnerPerMonth'] %}
                                    {% if reposertSet.type == 0 %}
                                        <tr style="
                                            border-style: solid;
                                            border-top: 0px;
                                            border-left: 0px;
                                            border-right: 0px;
                                            border-width: 1px;
                                            border-color: black;
                                            background: #f6f6f6;
                                        ">
                                            <td><small><strong>{{ ux_icon('mdi-light:plus-box', {height: '16px', width: '16px'}) }}&nbsp;{{ reposertSet.label }}</strong></small></td>
                                            <td class="text-end" style="color: #0d6efd;"><strong><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end" style="color: #198754;"><strong><small>{{ reposertSet.net_com|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end" style="color: #e29c1d;"><strong><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end"><strong><small>{{ reposertSet.co_brokerage|number_format(2, ',', ' ')  ~ " " ~ reposertSet.currency_code}}</small></strong></td>
                                            <td class="text-end"><strong><small>{{ reposertSet.amount_paid|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end text-danger"><strong><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                        </tr>
                                    {% endif %}
                                    {% if reposertSet.type == 1 %}
                                        <tr>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ reposertSet.label }}</small> <span class="badge text-bg-secondary">{{ reposertSet.partner_rate }}%</span></td>
                                            <td class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #198754;"><small>{{ reposertSet.net_com|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #e29c1d;"><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.co_brokerage|number_format(2, ',', ' ')  ~ " " ~ reposertSet.currency_code}}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.amount_paid|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end text-danger"><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <thead class="table-secondary">
                                <tr>
                                    {% for reposertSet in dashboard.productionTabs['tabProductionPerPartnerPerMonth'] %}
                                        {% if reposertSet.type == 2 %}
                                            <th scope="col"><small>{{ reposertSet.label }}</small></th>
                                            <th scope="col" class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end" style="color: #198754;"><small>{{ reposertSet.net_com|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end" style="color: #e29c1d;"><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end"><small>{{ reposertSet.co_brokerage|number_format(2, ',', ' ')  ~ " " ~ reposertSet.currency_code}}</small></th>
                                            <th scope="col" class="text-end"><small>{{ reposertSet.amount_paid|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end text-danger"><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="nav-graphs" role="tabpanel" aria-labelledby="nav-graphs-tab" tabindex="0">
                    <div class="row">
                        <div class="col">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    Revenue graphs per month
                                </div>
                                {{ render_chart(dashboard.productionCharts['chartPerMonth'], {'class': 'my-chart'}) }}
                                <div class="card-body text-center">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    Revenue graphs per insurer
                                </div>
                                {{ render_chart(dashboard.productionCharts['chartPerInsurer'], {'class': 'my-chart'}) }}
                                <div class="card-body text-center">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                         <div class="col">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    Revenue graphs per risk or cover
                                </div>
                                {{ render_chart(dashboard.productionCharts['chartPerRisks'], {'class': 'my-chart'}) }}
                                {# <img src="..." class="card-img-top" alt="..."> #}
                                <div class="card-body text-center">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    Revenue graphs per renewal status
                                </div>
                                {{ render_chart(dashboard.productionCharts['chartPerRenewalStatus'], {'class': 'my-chart'}) }}
                                <div class="card-body text-center">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                         <div class="col">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    Revenue graphs per partner
                                </div>
                                {{ render_chart(dashboard.productionCharts['chartPerPartners'], {'class': 'my-chart'}) }}
                                {# <img src="..." class="card-img-top" alt="..."> #}
                                <div class="card-body text-center">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-topclients" role="tabpanel" aria-labelledby="nav-topclients-tab" tabindex="0">
                    <div class="card m-2">
                        <div class="card-header text-center">
                            Top 20 Biggest clients in the portfolio
                        </div>
                        {# Tableau de production par assureur #}
                        <table class="table table-hover table-sm">
                            <caption class="text-center">Quelques explications en bas du tableau ici.</caption>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col">CLIENT</th>
                                    <th scope="col" class="text-end">GW PREMIUM</th>
                                    <th scope="col" class="text-end">OTHER LOADINGS</th>
                                    <th scope="col" class="text-end">NET PREMIUM</th>
                                    <th scope="col" class="text-end">GROSS REVENUE</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reposertSet in dashboard.productionTabs['tabTop20Clients'] %}
                                    {% if reposertSet.type == 0 %}
                                        <tr>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<small><strong>{{ reposertSet.label }}</strong></small></td>
                                            <td class="text-end" style="color: #0d6efd;"><strong><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end" style="color: #0d6efd;"><strong><small>{{ reposertSet.other_loadings|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end" style="color: #0d6efd;"><strong><small>{{ reposertSet.net_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                            <td class="text-end" style="color: #198754;"><strong><small>{{ reposertSet.g_commission|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></td>
                                        </tr>
                                    {% endif %}
                                    {% if reposertSet.type == 1 %}
                                        <tr>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<small>{{ reposertSet.label }}</small></td>
                                            <td class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.other_loadings|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.net_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #198754;"><small>{{ reposertSet.g_commission|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <thead class="table-secondary">
                                <tr>
                                    {% for reposertSet in dashboard.productionTabs['tabTop20Clients'] %}
                                        {% if reposertSet.type == 2 %}
                                            <th scope="col"><small>{{ reposertSet.label }}</small></th>
                                            <th scope="col" class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.other_loadings|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.net_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                            <th scope="col" class="text-end" style="color: #198754;"><small>{{ reposertSet.g_commission|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-tasks" role="tabpanel" aria-labelledby="nav-tasks-tab" tabindex="0">
                    <div class="card m-2">
                        <div class="card-header text-center">
                            Daily tasks / todo-list of the day
                        </div>
                        {# Tableau de taches par utilisateur #}
                        <table class="table table-hover table-sm">
                            <caption class="text-center">Quelques explications en bas du tableau ici.</caption>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col" width="300">TASK TO BE EXECUTED</th>
                                    <th scope="col" width="170">CLIENT</th>
                                    <th scope="col" width="150">EXCUTOR</th>
                                    <th scope="col" width="150">DATE PLANNED</th>
                                    <th scope="col" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;PREMIUM</th>
                                    <th scope="col" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;REVENUE</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reposertSet in dashboard.productionTabs['tabTasks'] %}
                                    {% if reposertSet.type == 1 %}
                                        <tr>
                                            <td>
                                                <small>
                                                    <a href="#" class="text-dark" style="text-decoration: none;">{{ reposertSet.task_description|raw }}</a></br>
                                                    <span class="text-muted">
                                                        <ul>
                                                            <li>By <a href="#" class="link-secondary">{{ reposertSet.owner.nom }}</a></li>
                                                            <li>Lead: <a href="#" class="link-secondary">Police Motor TPL pour agents</a></li>
                                                            <li>End.: {{ reposertSet.endorsement }} </li>
                                                        </ul>
                                                    </span>
                                                </small>
                                            </td>
                                            <td>
                                                <small>
                                                    {{ reposertSet.client }}
                                                    <span class="text-muted">
                                                        Contacts:</br>
                                                        <ul>
                                                            {% for contact in reposertSet.contacts %}
                                                                <li>{{ contact }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </span>
                                                </small>
                                            </td>
                                            {# <td><small>{{ reposertSet.owner.nom }}</small></td> #}
                                            <td>
                                                <small>
                                                    {{ reposertSet.excutor.nom }}</br>
                                                    <span class="text-muted">Feedbacks (10)</span>
                                                </small>
                                            </td>
                                            <td>
                                                <small>
                                                    <strong>
                                                        {{ reposertSet.effect_date|format_date("full", locale: app.user.locale) }}<br>
                                                    </strong>
                                                    {% set couleur = "text-dark" %}
                                                    {% if reposertSet.days_passed == 0 %}
                                                        <span class="p-1 rounded text-bg-primary">Today.</span>
                                                    {% endif %}
                                                    {% if reposertSet.days_passed < 0 %}
                                                        <span class="p-1 rounded text-bg-success">In {{ reposertSet.days_passed * (-1) }} days.</span>
                                                    {% endif %}
                                                    {% if reposertSet.days_passed > 0 %}
                                                        <span class="p-1 rounded text-bg-danger">Since {{ reposertSet.days_passed }} days.</span>
                                                    {% endif %}
                                                </small>
                                            </td>
                                            <td class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.potential_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #198754;"><small>{{ reposertSet.potential_commission|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <thead class="table-secondary">
                                <tr>
                                    {% for reposertSet in dashboard.productionTabs['tabTasks'] %}
                                        {% if reposertSet.type == 2 %}
                                            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;<small><strong>{{ reposertSet.task_description }}</strong></small></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                            <th scope="col" class="text-end" style="color: #0d6efd;"><strong><small>{{ reposertSet.potential_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col" class="text-end" style="color: #198754;"><strong><small>{{ reposertSet.potential_commission|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-renewals" role="tabpanel" aria-labelledby="nav-renewals-tab" tabindex="0">
                    <div class="card m-2">
                        <div class="card-header text-center">
                            Renewal list
                        </div>
                        {# Tableau de taches par utilisateur #}
                        <table class="table table-hover table-sm">
                            <caption class="text-center">Quelques explications en bas du tableau ici.</caption>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col" width="280">DESCRIPTION</th>
                                    <th scope="col">CLIENT & RISK DETAILS</th>
                                    <th scope="col" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;PREMIUM</th>
                                    <th scope="col" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;REVENUE</th>
                                    <th scope="col" class="text-center" width="200">STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reposertSet in dashboard.productionTabs['tabRenewals'] %}
                                    {% if reposertSet.type == 1 %}
                                        <tr>
                                            <td>
                                                <small class="text-dark">
                                                    <strong>
                                                        Policy ref.: 
                                                        <a href="#" class="text-dark" style="text-decoration: none;">
                                                            {{ reposertSet.label }}
                                                        </a>
                                                    </strong>
                                                    <span class="text-muted">
                                                    <ul>
                                                        <li>Effect date: <strong>{{ reposertSet.effect_date|date("d/m/Y H:i") }}</strong></li>
                                                        <li>Exp. date: <strong>{{ reposertSet.expiry_date|date("d/m/Y H:i") }}</strong></li>
                                                        <li>At <a href="#" class="link-secondary">{{ reposertSet.insurer }}</a></li>
                                                        <li>By <a href="#" class="text-secondary">{{ reposertSet.account_manager.nom }}</a></li>
                                                    </ul>
                                                    </span>
                                                </small>
                                            </td>
                                            <td>
                                                <small>
                                                    <strong><a href="#" class="link-dark" style="text-decoration: none;">{{ reposertSet.client }}</a></strong></br>
                                                    Cover: <a href="#" class="link-secondary">{{ reposertSet.cover }}</a>
                                                    <ul>
                                                        <li>{{ reposertSet.endorsement }}</li>
                                                        <li>End. n°{{ reposertSet.endorsement_id }}</li>
                                                    </ul>
                                                </small>
                                            </td>
                                            <td class="text-end" style="color: #0d6efd;"><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #198754;"><small>{{ reposertSet.g_commission|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td>
                                                <small>
                                                <ul>
                                                    <li><strong>{{ reposertSet.status }}</strong></li>
                                                    <li><strong class="p-1 rounded {{ reposertSet.bg_color }}">{{ reposertSet.remaining_days }}</strong></li>
                                                </ul>
                                                </small>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <thead class="table-secondary">
                                <tr>
                                    {% for reposertSet in dashboard.productionTabs['tabRenewals'] %}
                                        {% if reposertSet.type == 2 %}
                                            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;<small><strong>{{ reposertSet.label }}</strong></small></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                            <th scope="col" class="text-end" style="color: #0d6efd;"><strong><small>{{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col" class="text-end" style="color: #198754;"><strong><small>{{ reposertSet.g_commission|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-claims" role="tabpanel" aria-labelledby="nav-claims-tab" tabindex="0">
                    <div class="card m-2">
                        <div class="card-header text-center">
                            Claims Report
                        </div>
                        {# Tableau de taches par utilisateur #}
                        <table class="table table-hover table-sm">
                            <caption class="text-center">Quelques explications en bas du tableau ici.</caption>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col" width="280">CLAIMS DETAILS</th>
                                    <th scope="col" width="280">RISK DETAILS</th>
                                    <th scope="col" class="text-end" style="color: #ff0000;">&nbsp;&nbsp;&nbsp;&nbsp;DAMAGE</th>
                                    <th scope="col" class="text-end" style="color: #ff0000;">&nbsp;&nbsp;&nbsp;&nbsp;PAYMENT</th>
                                    <th scope="col" class="text-end" style="color: #ff0000;">&nbsp;&nbsp;&nbsp;&nbsp;BALANCE</th>
                                    <th scope="col" class="text-center" width="230">STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reposertSet in dashboard.productionTabs['tabClaims'] %}
                                    {% if reposertSet.type == 1 %}
                                        <tr>
                                            <td>
                                                <small class="text-dark">
                                                    <span>Claim: #{{ reposertSet.number }}</span></br>
                                                    <strong>
                                                        Ref.: 
                                                        <a href="#" class="text-dark" style="text-decoration: none;">
                                                            {{ reposertSet.claim_reference }}
                                                        </a>
                                                    </strong>
                                                    <span class="text-muted">
                                                    <ul>
                                                        <li>Notif.: {{ reposertSet.notification_date|date("d/m/Y H:i") }}</li>
                                                        <li>Settl.: {{ reposertSet.settlement_date|date("d/m/Y H:i") }}</li>
                                                        <li>From <a href="#" class="link-secondary">{{ reposertSet.client }}</a></li>
                                                        <li>By <a href="#" class="text-secondary">{{ reposertSet.account_manager.nom }}</a></li>
                                                        <li>Victim: <a href="#" class="text-secondary">{{ reposertSet.victim }}</a></li>
                                                    </ul>
                                                    </span>
                                                </small>
                                            </td>
                                            <td>
                                                <small class="text-dark">
                                                    <strong>
                                                        Ref.: 
                                                        <a href="#" class="text-dark" style="text-decoration: none;">
                                                            {{ reposertSet.policy_reference }}
                                                        </a>
                                                    </strong>
                                                    <span class="text-muted">
                                                    <ul>
                                                        <li>Effect: {{ reposertSet.effect_date|date("d/m/Y H:i") }}</li>
                                                        <li>Exp.: {{ reposertSet.expiry_date|date("d/m/Y H:i") }}</li>
                                                        <li>Insured by <a href="#" class="link-secondary">{{ reposertSet.insurer }}</a></li>
                                                        <li>Cover: <a href="#" class="link-secondary">{{ reposertSet.cover }}</a></li>
                                                        <li>Premium: {{ reposertSet.gw_premium|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</li>
                                                        <li>Limit: {{ reposertSet.policy_limit|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</li>
                                                        <li>Deduct.: {{ reposertSet.policy_deductible|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</li>
                                                    </ul>
                                                    </span>
                                                </small>
                                            </td>
                                            <td class="text-end" style="color: #ff0000;"><small>{{ reposertSet.damage_cost|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #ff0000;"><small>{{ reposertSet.compensation_paid|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end" style="color: #ff0000;"><small>{{ reposertSet.compensation_balance|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td>
                                                <small>
                                                <ul>
                                                    <li><strong>{{ reposertSet.claims_status }}</strong></li>
                                                    {# <li><strong class="p-1 rounded {{ reposertSet.bg_color }}">{{ reposertSet.claims_status }}</strong></li> #}
                                                    <li><strong class="p-1 rounded {{ reposertSet.bg_color }} text-light">{{ reposertSet.compensation_speed }}</strong></li>
                                                    <li>{{ reposertSet.days_passed }}</li>
                                                </ul>
                                                </small>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <thead class="table-secondary">
                                <tr>
                                    {% for reposertSet in dashboard.productionTabs['tabClaims'] %}
                                        {% if reposertSet.type == 2 %}
                                            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;<small><strong>{{ reposertSet.policy_reference }}</strong></small></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                            <th scope="col" class="text-end" style="color: #ff0000;"><strong><small>{{ reposertSet.damage_cost|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col" class="text-end" style="color: #ff0000;"><strong><small>{{ reposertSet.compensation_paid|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col" class="text-end" style="color: #ff0000;"><strong><small>{{ reposertSet.compensation_balance|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-cash" role="tabpanel" aria-labelledby="nav-cash-tab" tabindex="0">
                    <div class="card m-2">
                        <div class="card-header text-center">
                            Cashflow overview
                        </div>
                        {# Tableau de cashflow #}
                        <table class="table table-hover table-sm">
                            <caption class="text-center">Quelques explications en bas du tableau ici.</caption>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col" width="230">DESCRIPTION</th>
                                    <th scope="col" width="100" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;NET DUE</th>
                                    <th scope="col" width="100" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;TAXES</th>
                                    <th scope="col" width="100" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;GROSS</th>
                                    <th scope="col" width="100" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;PAID</th>
                                    <th scope="col" width="100" class="text-end">&nbsp;&nbsp;&nbsp;&nbsp;BALANCE</th>
                                    <th scope="col" class="text-center">STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reposertSet in dashboard.productionTabs['tabCashflow'] %}
                                    {% if reposertSet.type == 1 %}
                                        <tr>
                                            <td>
                                                <small class="text-dark">
                                                    <span>N°#{{ reposertSet.index }}</span></br>
                                                    <strong>
                                                        Ref. Invc: 
                                                        <a href="#" class="text-dark" style="text-decoration: none;">
                                                            {{ reposertSet.invoice_reference }}
                                                        </a>
                                                    </strong>
                                                    <span class="text-muted">
                                                    <ul>
                                                        <li><strong>Desc.: {{ reposertSet.description }}</strong></li>
                                                        <li><strong>Due by: {{ reposertSet.debtor }}</strong></li>
                                                        <li>Sub.: {{ reposertSet.date_submition|date("d/m/Y H:i") }}</li>
                                                        <li>Pymt.: {{ reposertSet.date_payment|date("d/m/Y H:i") }}</li>
                                                        <li>By <a href="#" class="text-secondary">{{ reposertSet.user.nom }}</a></li>
                                                    </ul>
                                                    </span>
                                                </small>
                                            </td>
                                            <td class="text-end"><small>{{ reposertSet.net_amount|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.gross_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.amount_paid|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td class="text-end"><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></td>
                                            <td>
                                                <small>
                                                <ul>
                                                    <li><strong>{{ reposertSet.status }}</strong></li>
                                                    <li><span>{{ reposertSet.days_passed }}</span></li>
                                                    {# <li>{{ reposertSet.days_passed }}</li> #}
                                                </ul>
                                                </small>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <thead class="table-secondary">
                                <tr>
                                    {% for reposertSet in dashboard.productionTabs['tabCashflow'] %}
                                        {% if reposertSet.type == 2 %}
                                            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;<small><strong>{{ reposertSet.description }}</strong></small></th>
                                            <th scope="col" class="text-end"><strong><small>{{ reposertSet.net_amount|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col" class="text-end"><strong><small>{{ reposertSet.taxes|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col" class="text-end"><strong><small>{{ reposertSet.gross_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col" class="text-end"><strong><small>{{ reposertSet.amount_paid|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col" class="text-end"><strong><small>{{ reposertSet.balance_due|number_format(2, ',', ' ') ~ " " ~ reposertSet.currency_code }}</small></strong></th>
                                            <th scope="col"><small><strong></strong></small></th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted text-center">
            2 days ago
        </div>
    </div>
</div>