{# Une brique est element html de la classe COL #}
<div class="col-md border border-2 border-secondary rounded-3 m-1 p-2 shadow-sm mb-10 sensible">
    <div class="card">
        <div class="card-header text-center">
            360° view of <strong>{{ entreprise.nom }}</strong> production over the given period of time
        </div>
        <div class="card-body">
            {# Texte introductif #}
            <blockquote class="blockquote mb-0 text-center">
                <p>A well-known quote, contained in a blockquote element.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
            {# Tableau d'onglets #}
            {# Barre de navigation #}
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-production-tab" data-bs-toggle="tab" data-bs-target="#nav-production" type="button" role="tab" aria-controls="nav-production" aria-selected="true">
                        Production
                    </button>
                    <button class="nav-link" id="nav-graphs-tab" data-bs-toggle="tab" data-bs-target="#nav-graphs" type="button" role="tab" aria-controls="nav-graphs" aria-selected="false">
                        Graphs
                    </button>
                    <button class="nav-link" id="nav-topclients-tab" data-bs-toggle="tab" data-bs-target="#nav-topclients" type="button" role="tab" aria-controls="nav-topclients" aria-selected="false">
                        Top 20 clients
                    </button>
                    <button class="nav-link" id="nav-tasks-tab" data-bs-toggle="tab" data-bs-target="#nav-tasks" type="button" role="tab" aria-controls="nav-tasks" aria-selected="false">
                        Tasks
                    </button>
                    <button class="nav-link" id="nav-renewals-tab" data-bs-toggle="tab" data-bs-target="#nav-renewals" type="button" role="tab" aria-controls="nav-renewals" aria-selected="false">
                        Renewals
                    </button>
                    <button class="nav-link" id="nav-claims-tab" data-bs-toggle="tab" data-bs-target="#nav-claims" type="button" role="tab" aria-controls="nav-claims" aria-selected="false">
                        Claims
                    </button>
                </div>
            </nav>
            {# Contenu de chaque Onglet #}
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active table-responsive" id="nav-production" role="tabpanel" aria-labelledby="nav-production-tab" tabindex="0">
                    <div class="card m-2">
                        <div class="card-header text-center">
                            Monthly Production per Insurer
                        </div>
                        {# Tableau de production #}
                        <table class="table table-hover table-sm">
                            <caption>Quelques explications en bas du tableau ici.</caption>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col">Labels</th>
                                    <th scope="col" class="text-end">GW Premiums</th>
                                    <th scope="col" class="text-end">Net Com.</th>
                                    <th scope="col" class="text-end">Taxes</th>
                                    <th scope="col" class="text-end">Gros Com.</th>
                                    <th scope="col" class="text-end">Com. Received</th>
                                    <th scope="col" class="text-end">Balance due</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><small><strong>JANUARY</strong></small></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SFA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SUNU</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;RAWSUR</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;ACTIVA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small><strong>FEBRUARY</strong></small></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SFA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SUNU</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;RAWSUR</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;ACTIVA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small><strong>MARCH</strong></small></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SFA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SUNU</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;RAWSUR</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;ACTIVA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small><strong>APPRIL</strong></small></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SFA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SUNU</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;RAWSUR</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;ACTIVA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small><strong>MAY</strong></small></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SFA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SUNU</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;RAWSUR</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;ACTIVA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small><strong>JUNE</strong></small></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SFA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SUNU</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;RAWSUR</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;ACTIVA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small><strong>JULY</strong></small></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SFA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SUNU</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;RAWSUR</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;ACTIVA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small><strong>AUGUST</strong></small></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SFA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SUNU</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;RAWSUR</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;ACTIVA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small><strong>SEPTEMBRE</strong></small></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SFA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SUNU</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;RAWSUR</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;ACTIVA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small><strong>OCTOBER</strong></small></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SFA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SUNU</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;RAWSUR</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;ACTIVA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small><strong>NOVEMBER</strong></small></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SFA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SUNU</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;RAWSUR</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;ACTIVA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small><strong>DECEMBER</strong></small></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                    <td class="text-end"><strong><small>3 676 011,63</small></strong></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SFA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;SUNU</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;RAWSUR</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                                <tr>
                                    <td><small>&nbsp;&nbsp;&nbsp;&nbsp;ACTIVA</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>011,63</small></td>
                                    <td class="text-end"><small>676 011,63</small></td>
                                    <td class="text-end"><small>11,63</small></td>
                                </tr>
                            </tbody>
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col"><small>Totals</small></th>
                                    <th scope="col" class="text-end"><small>300 676 011,63</small></th>
                                    <th scope="col" class="text-end"><small>300 676 011,63</small></th>
                                    <th scope="col" class="text-end"><small>300 676 011,63</small></th>
                                    <th scope="col" class="text-end"><small>300 676 011,63</small></th>
                                    <th scope="col" class="text-end"><small>300 676 011,63</small></th>
                                    <th scope="col" class="text-end"><small>300 676 011,63</small></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-graphs" role="tabpanel" aria-labelledby="nav-graphs-tab" tabindex="0">
                    <div class="row">
                        <div class="col">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    Graphs per month
                                </div>
                                {{ render_chart(chartPerMonth, {'class': 'my-chart'}) }}
                                <div class="card-body text-center">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    Graphs per insurer
                                </div>
                                {{ render_chart(chartPerInsurer, {'class': 'my-chart'}) }}
                                <div class="card-body text-center">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                         <div class="col">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    Graphs per line of business
                                </div>
                                {{ render_chart(chartPerRisks, {'class': 'my-chart'}) }}
                                {# <img src="..." class="card-img-top" alt="..."> #}
                                <div class="card-body text-center">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    Graphs per renewal status
                                </div>
                                {{ render_chart(chartPerRenewalStatus, {'class': 'my-chart'}) }}
                                <div class="card-body text-center">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                         <div class="col">
                            <div class="card m-2">
                                <div class="card-header text-center">
                                    Graphs per partner
                                </div>
                                {{ render_chart(chartPerPartners, {'class': 'my-chart'}) }}
                                {# <img src="..." class="card-img-top" alt="..."> #}
                                <div class="card-body text-center">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-topclients" role="tabpanel" aria-labelledby="nav-topclients-tab" tabindex="0">
                    Contenu de top 20 clients
                </div>
                <div class="tab-pane fade" id="nav-tasks" role="tabpanel" aria-labelledby="nav-tasks-tab" tabindex="0">
                    Contenu de tasks
                </div>
                <div class="tab-pane fade" id="nav-renewals" role="tabpanel" aria-labelledby="nav-renewals-tab" tabindex="0">
                    Contenu de renewals
                </div>
                <div class="tab-pane fade" id="nav-claims" role="tabpanel" aria-labelledby="nav-claims-tab" tabindex="0">
                    Contenu de claims
                </div>
            </div>
        </div>
        <div class="card-footer text-muted text-center">
            2 days ago
        </div>
    </div>
</div>