{# templates/components/dialog/_calculated_attributes.html.twig #}

<div class="col-auto calculated-attributes-column" style="width: 400px;">
    {# On vérifie si le canvas et la liste des attributs existent #}
    {% if canvas is defined and canvas.liste is defined and canvas.liste is not empty %}
        {% set calculated_attributes = canvas.liste|filter(attr => attr.type == 'Calcul') %}
        {% if calculated_attributes is not empty %}
            <h5 class="column-title">Attributs calculés</h5>
            <div class="calculated-attributes-content">
                <div data-controller="tooltip">
                    {% set current_group = "___INITIAL_STATE___" %} {# État initial unique pour démarrer la boucle #}
                    
                    {% for attr in calculated_attributes %}
                        {% set attr_group = attr.group|default(null) %}

                        {# Si le nom du groupe change, on affiche un nouvel en-tête #}
                        {% if attr_group != current_group %}
                            {# On ferme la liste précédente, sauf pour la toute première itération #}
                            {% if current_group != "___INITIAL_STATE___" %}
                                </ul>
                            {% endif %}

                            {# On affiche le titre du groupe s'il existe #}
                            {% if attr_group is not null %}
                                <h6 class="calculated-attributes-group-title">{{ attr_group }}</h6>
                            {% endif %}

                            {# On ouvre une nouvelle liste pour le groupe (ou pour les éléments non groupés) #}
                            <ul class="calculated-attributes-list">
                            {% set current_group = attr_group %}
                        {% endif %}

                        {# On affiche l'élément de liste pour l'attribut courant #}
                            <li
                                data-action="mouseenter->tooltip#show mouseleave->tooltip#hide"
                                data-tooltip-content="{{ attr.description|default('Aucune description disponible.') }}"
                            >
                                <span class="attr-label">{{ attr.intitule }}:</span>
                                <span class="attr-value">
                                    {% set value = attribute(entity, attr.code) %}

                                    {% if attr.format is defined and attr.format == 'ArrayAssoc' and value is iterable %}
                                        <table class="attr-table">
                                            <tbody>
                                                {% for key, val in value %}
                                                    <tr>
                                                        <td class="attr-table-key">{{ key }}</td>
                                                        <td class="attr-table-value">{{ val }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% elseif attr.format is defined and attr.format == 'Date' and value is not null and value.timestamp is defined %}
                                        {{ value|date('d/m/Y') }}
                                    {% elseif attr.format is defined and attr.format == 'Pourcentage' %}
                                        {{ value|number_format(2, ',', ' ') }} %
                                    {% else %}
                                        {# Affichage par défaut pour Monetaire, Nombre, ou Texte brut. Le test 'is number' n'est pas standard. #}
                                        {% set is_numeric_format = attr.format is defined and (attr.format == 'Monetaire' or attr.format == 'Nombre') %}
                                        {{ (is_numeric_format and value is not null) ? value|number_format(2, ',', ' ') : value }} {{ attr.unite|default('') }}
                                    {% endif %}
                                </span>
                            </li>
                    {% endfor %}

                    {# On s'assure de fermer la toute dernière liste de la boucle #}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>
