{# templates/components/dialog/_form_content.html.twig #}
{% form_theme form 'themes/_collection_widget.html.twig' %}
{% set title = isCreationMode
    ? formCanvas.parametres.titre_creation
    : formCanvas.parametres.titre_modification|replace({'%id%': entity.id})
%}
    <div class="row gx-0" data-icon-name="{{ entityCanvas.parametres.icone|default('') }}">
        {# La colonne des attributs est incluse ici et gère sa propre classe de colonne (ex: col-auto) #}
        {% include 'components/dialog/_calculated_attributes.html.twig' with { entity: entity, canvas: entityCanvas } %}

        {# La colonne du formulaire prend l'espace restant #}
        <div class="col form-column">
            {{ form_start(form) }}
            {% if formCanvas.form_layout is defined and formCanvas.form_layout is not empty %}
                {# Pour chaque ligne définie dans la configuration du layout... #}
                {% for row in formCanvas.form_layout %}
                    <div class="row" data-dialog-instance-target="formRow">
                        {% for col in row.colonnes %}
                            {# On utilise la largeur définie dans le canvas, sinon on divise équitablement #}
                            {% set col_class = col.width is defined ? 'col-md-' ~ col.width : 'col-md-' ~ (12 / row.colonnes|length)|round(0, 'floor') %}

                            {# NOUVEAU : Préparation des attributs pour la visibilité dynamique #}
                            {% set first_field_in_col = col.champs[0] ?? null %}
                            {% set visibility_conditions = (first_field_in_col is mapping and first_field_in_col.visibility_conditions is defined) ? first_field_in_col.visibility_conditions|json_encode : null %}

                            <div class="{{ col_class }}"
                                {% if visibility_conditions %}
                                    data-dialog-instance-target="dynamicFieldContainer"
                                    data-visibility-conditions-value="{{ visibility_conditions }}"
                                {% endif %}
                            >
                                {% set champs_list = col.champs is defined ? col.champs : [col] %}
                                {% for field in champs_list %}
                                    {% set field_code = (field is mapping and field.field_code is defined) ? field.field_code : field %}
                                    {% if field is mapping and field.widget is defined and field.widget == 'collection' %}
                                        {# Pour les collections, on appelle form_widget directement pour éviter le div.mb-3 superflu. #}
                                        {% if form[field_code] is defined %}{{ form_row(form[field_code], {'manager_options': field.options, 'idEntreprise': idEntreprise, 'idInvite': idInvite}) }}{% endif %}
                                    {% else %}
                                        {# Pour les champs standards, on utilise form_row qui génère un div.mb-3. #}
                                        {% if form[field_code] is defined %}
                                            {% set field_options = (field is mapping and field.options is defined) ? field.options : {} %}
                                            {% set widget_attr = field_options.attr|default({}) %}
                                            
                                            {# NOUVEAU : Détection automatique des Textarea pour activer l'éditeur riche #}
                                            {% if 'textarea' in form[field_code].vars.block_prefixes %}
                                                {% set widget_attr = widget_attr|merge({'data-controller': 'rich-text'}) %}
                                            {% endif %}
                                            
                                            {{ form_row(form[field_code], {'manager_options': field_options, 'attr': widget_attr, 'idEntreprise': idEntreprise, 'idInvite': idInvite}) }}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                {{ form_widget(form) }}
            {% endif %}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
