{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "currency_form_description" | trans({
		":user": utilisateur.nom, 
		":currency": monnaie.nom, 
	}) | raw }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	{# {{ form(form) }} #}
	{{ form_start(form, {
		'attr': {
			'data-controller': 'monnaie-formulaire', 
			'data-note-formulaire-idmonnaie-value': monnaie.id,
			'data-note-formulaire-identreprise-value': entreprise.id,
			}
		})
	 }}
	<div class="d-flex shadow-sm card bg-body sensible bg-white">
		<div class="card-body">
			<div>
				<div class="row">
					<div class="col">
						{{ form_row(form.nom, {'attr': {'data-monnaie-formulaire-target': 'nom'}}) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.code) }}
					</div>
					<div class="col">
						{{ form_row(form.tauxusd) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_row(form.fonction) }}
					</div>
					<div class="col">
						{{ form_row(form.locale) }}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.enregistrer, {
							'attr': {
								'data-monnaie-formulaire-target': 'btEnregistrer'
								}
							})
						}}
					</div>
				</div>
			</div>
			<small>
				<span class="text-secondary m-2 fw-bold" data-monnaie-formulaire-target="display" style="display:block;">Message d'infos ici</span>
			</small>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
