<div class="fw-bold text-secondary mb-2">
	{{ include('segments/icones/actions/information.html.twig', {size:'17px'}) }}
	Aperçu de la piste
</div>
<small>
	<ul class="list-group list-group-flush">
		<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 text-secondary">
				<div class="fw-bold fw-italic text-dark">
					{{ include('segments/icones/cotation.html.twig', {size:'16px'}) }}
					{{ piste.nom }}
				</div>
				<span class="fw-italic">
					{{ piste.descriptionDuRisque }}<br/>
					Prime potentiel: {{ piste.primePotentielle|format_currency(serviceMonnaie.codeMonnaieAffichage, locale: utilisateur.locale) }}<br/>
					Risque: {{ piste.risque.nomComplet }}<br/>
					Type d'avenant: {{ constante.getTypeAvenant(piste.getTypeAvenant()) }}
				</span>
			</div>
			<span class="fw-bold">
				{{ piste.client.nom }}
			</span>
		</li>
	</ul>
</small>