{% extends 'base.html.twig' %}

{% block title %}{{pageName}}{% endblock %}

{% block section_utilisateur %}{% endblock %}

{%  block titreRubrique %}{{ utilisateur.nom }}><strong>{{ pageName }}</strong>{% endblock %}

{% block descriptionRubrique %}{% endblock %}

{% block menuLateraleGauche %}{% endblock %}

{% block body %}
	<div>
		<p>
			Bonjour <strong>{{ utilisateur.nom }}</strong>,</br>
			Vous êtes utilisateur dans l'entreprise <strong>{{ entreprise.nom }}</strong>.
		</p>
		<p>
			Nous vous félicitons et profitons de cette oportunité pour vous souhaiter une très enrichissante expérience utilisateur sur notre système conçu par nous tous pour vous.
		</p>
	</div>
{% endblock %}
