{% extends 'emails/_layout.html.twig' %}
{% import 'emails/_macros.html.twig' as m %}

{% block subject %}JS Brokers — Réinitialisation du mot de passe{% endblock %}

{% block content %}
    {{ m.heading('action:password', 'Réinitialisez votre mot de passe') }}

    {{ m.paragraph(
        'Bonjour' ~ (recipientName is defined and recipientName ? ' <strong>' ~ recipientName ~ '</strong>' : '') ~
        ',<br>Vous avez demandé à réinitialiser le mot de passe de votre compte JS Brokers.
        Cliquez sur le bouton ci-dessous pour en définir un nouveau&nbsp;: vos entreprises et
        toutes leurs données restent intactes.'
    ) }}

    {{ m.button(signedUrl, 'Réinitialiser mon mot de passe') }}

    {{ m.note(
        'Ce lien expirera dans ' ~
        expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') ~
        '. Si vous n\'êtes pas à l\'origine de cette demande, ignorez simplement cet e-mail&nbsp;:
        votre mot de passe actuel reste inchangé.'
    ) }}

    {{ m.paragraph(
        'Si le bouton ne fonctionne pas, copiez-collez ce lien dans votre navigateur&nbsp;:<br>
        <span style="word-break:break-all; color:#0047AB;">' ~ signedUrl ~ '</span>'
    ) }}
{% endblock %}
