{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_entreprise_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	Aperçu global de la situation de
	{{ entreprise.nom }}. Tableau de bord avec indicateurs clés de gestion.
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container">
		<div
			class="row">
			{# Brique #}
			{{ include ('admin/dashbord/segments/brique.html.twig', 
				{
					principal: {
						rubrique: 'GW Prem.:',
						valeur: '$100.000.000,45',
					},
					data: {
						data1: {
							rubrique: 'GW Prem.:',
							valeur: '$100.000.000,45',
						},
					},
				}) 
			}}
			{# Brique #}
			{{ include ('admin/dashbord/segments/brique.html.twig', 
				{
					principal: {
						rubrique: 'Gros Com.:',
						valeur: '$100.000.000,45',
					},
					data: {
						data1: {
							rubrique: 'Net Com.:',
							valeur: '$100.000.000,45',
						},
						data2: {
							rubrique: '-Arca.:',
							valeur: '$100.000.000,45',
						},
					},
				}) 
			}}
			{# Brique #}
			{{ include ('admin/dashbord/segments/brique.html.twig',
			{
					principal: {
						rubrique: 'GW Prem.:',
						valeur: '$100.000.000,45',
					},
					data: {
						data1: {
							rubrique: 'GW Prem.:',
							valeur: '$100.000.000,45',
						},
					},
				}) 
			}}
		</div>
	</div>
	{{ render_chart(chart, {'class': 'my-chart'}) }}
{% endblock %}
