{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_entreprise_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "company_dashboard_page_description" | trans({':companyName': entreprise.nom}) | raw }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container">
		{# Ligne 0 #}
		{# Section - contient des infos assez détailées #}
		<div class="row mb-2">
			{{ include('admin/dashbord/segments/filtres.html.twig', 
				{
					data: "RAS",
				}) 
			}}
		</div>
		{% if dashboard is empty == false %}
			{# Ligne 1 #}
			<div class="row">
				{# Brique synthèse polices / primes #}
				{{ include ('admin/dashbord/segments/brique.html.twig', 
					{
						data: dashboard.productionSummaries['policiesSummary'],
					}) 
				}}
				{# Brique synthèse revenus / commissions #}
				{{ include ('admin/dashbord/segments/brique.html.twig', 
					{
						data: dashboard.productionSummaries['revenuesSummary'],
					}) 
				}}
				{# Brique synthèse de la collecte des commissions #}
				{{ include ('admin/dashbord/segments/brique.html.twig',
					{
						data: dashboard.productionSummaries['revenueCollectionsSummary'],
					}) 
				}}
			</div>
			{# Ligne 2 #}
			<div class="row">
				{# Brique synthèse de retro-commissions #}
				{{ include ('admin/dashbord/segments/brique.html.twig', 
					{
						data: dashboard.productionSummaries['coBrokerageSummary'],
					}) 
				}}
				{# Brique synthèse des taxes #}
				{{ include ('admin/dashbord/segments/brique.html.twig', 
					{
						data: dashboard.productionSummaries['taxSummary'],
					}) 
				}}
				{# Brique #}
				{{ include ('admin/dashbord/segments/brique.html.twig', 
					{
						data: dashboard.productionSummaries['claimsSummary'],
					}) 
				}}
			</div>
			{# Section - contient des infos assez détailées #}
			<div class="row">
				{{ include('admin/dashbord/segments/section.html.twig') }}
			</div>
		{% else %}
			{{ "company_dashboard_search_result_empty" | trans() | raw }}
		{% endif %}
	</div>
{% endblock %}
