{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_entreprise_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	Aperçu global de la situation de
	{{ entreprise.nom }}. Tableau de bord avec indicateurs clés de gestion.
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container">
		{# Ligne 1 #}
		<div class="row">
			{# Brique #}
			{{ include ('admin/dashbord/segments/brique.html.twig', 
				{
					icone: "emojione-monotone:umbrella-with-rain-drops",
					icone_color: "text-primary",
					titre: "Summary of policies placed",
					principal: {
						rubrique: 'GW Prem.:',
						valeur: '$100.000.000,45',
					},
					items: {
						0: {
							rubrique: 'Net Prem.:',
							valeur: '$100.000.000,45',
						},
						1: {
							rubrique: 'Arca:',
							valeur: '$100.000.000,45',
						},
						2: {
							rubrique: 'Fronting:',
							valeur: '$100.000.000,45',
						},
						3: {
							rubrique: 'Facility:',
							valeur: '$100.000.000,45',
						},
					},
				}) 
			}}
			{# Brique #}
			{{ include ('admin/dashbord/segments/brique.html.twig', 
				{
					icone: "material-symbols:finance-mode",
					icone_color: "text-success",
					titre: "Summary of revenue generated",
					principal: {
						rubrique: 'Gros Com.:',
						valeur: '$100.000.000,45',
					},
					items: {
						0: {
							rubrique: 'Net Com.:',
							valeur: '$100.000.000,45',
						},
						1: {
							rubrique: 'Arca (2%):',
							valeur: '$100.000.000,45',
						},
						2: {
							rubrique: 'Vat (16%):',
							valeur: '$100.000.000,45',
						},
						3: {
							rubrique: 'Pure Com:',
							valeur: '$100.000.000,45',
						},
					},
				}) 
			}}
			{# Brique #}
			{{ include ('admin/dashbord/segments/brique.html.twig',
			{
					icone: "material-symbols:finance-mode",
					icone_color: "text-black",
					titre: "Summary of Commission collection",
					principal: {
						rubrique: 'Com. due:',
						valeur: '$100.000.000,45',
					},
					items: {
						0: {
							rubrique: 'Invoiced:',
							valeur: '$100.000.000,45',
						},
						1: {
							rubrique: 'Received:',
							valeur: '$100.000.000,45',
						},
						2: {
							rubrique: 'Balance:',
							valeur: '$100.000.000,45',
						},
						3: {
							rubrique: 'Not invoiced yet:',
							valeur: '$100.000.000,45',
						},
					},
				}) 
			}}
		</div>
		{# Ligne 2 #}
		<div class="row">
			{# Brique #}
			{{ include ('admin/dashbord/segments/brique.html.twig', 
				{
					icone: "material-symbols:finance-mode",
					icone_color: "text-secondary",
					titre: "Summary of Co-brokerages",
					principal: {
						rubrique: 'Balance due:',
						valeur: '$100.000.000,45',
					},
					items: {
						0: {
							rubrique: 'Net revenue:',
							valeur: '$100.000.000,45',
						},
						1: {
							rubrique: 'Co-brokerage:',
							valeur: '$100.000.000,45',
						},
						2: {
							rubrique: 'Amounts paid:',
							valeur: '$100.000.000,45',
						},
						3: {
							rubrique: 'Balance due:',
							valeur: '$100.000.000,45',
						},
					},
				}) 
			}}
			{# Brique #}
			{{ include ('admin/dashbord/segments/brique.html.twig', 
				{
					icone: "material-symbols:finance-mode",
					icone_color: "text-warning",
					titre: "Summary of tax",
					principal: {
						rubrique: 'Tax payable:',
						valeur: '$100.000.000,45',
					},
					items: {
						0: {
							rubrique: 'Net revenue:',
							valeur: '$100.000.000,45',
						},
						1: {
							rubrique: 'Tax due:',
							valeur: '$100.000.000,45',
						},
						2: {
							rubrique: 'Tax paid:',
							valeur: '$100.000.000,45',
						},
						3: {
							rubrique: 'Balance payable:',
							valeur: '$100.000.000,45',
						},
					},
				}) 
			}}
			{# Brique #}
			{{ include ('admin/dashbord/segments/brique.html.twig', 
				{
					icone: "hugeicons:accident",
					icone_color: "text-danger",
					titre: "Summary of claims",
					principal: {
						rubrique: 'Balance:',
						valeur: '$100.000.000,45',
					},
					items: {
						0: {
							rubrique: 'Total damage:',
							valeur: '$100.000.000,45',
						},
						1: {
							rubrique: 'Total due:',
							valeur: '$100.000.000,45',
						},
						2: {
							rubrique: 'Total settled:',
							valeur: '$100.000.000,45',
						},
						3: {
							rubrique: 'Balance payable:',
							valeur: '$100.000.000,45',
						},
					},
				}) 
			}}
		</div>
	</div>
	{{ render_chart(chart, {'class': 'my-chart'}) }}
{% endblock %}
