{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_entreprise_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	Aperçu global de la situation de {{ entreprise.nom }}. Tableau de bord avec indicateurs clés de gestion.
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container text-center">
		<div class="row">
			<div class="col col-md border border-darkgray bg-white rounded m-1">
				Column
			</div>
			<div class="col col-md border border-darkgray bg-white rounded m-1">
				Column
			</div>
			<div class="col col-md border border-darkgray bg-white rounded m-1">
				Column
			</div>
			<div class="col col-md border border-darkgray bg-white rounded m-1">
				Column
			</div>
		</div>
	</div>
	{{ render_chart(chart, {'class': 'my-chart'}) }}
{% endblock %}
