{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>Invités><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	JS Brokers est un outil de collaboration. Invitez des personnes (utilisateurs JS Brokers) à pouvoir accéder à votre entreprise afin d'y travailer.
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_user_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container">
		<p>
			{# {{ form(form) }} #}
			<div class="card m-2 shadow-sm bg-body" style="width: 40rem;">
				<div class="card-body">
					<p>
    					{{ "invite_creation_description_message" | trans({
							':user': utilisateur.nom,
						}) | raw }}
					</p>
					{{ form(form) }}
					</div>
				</div>
			</div>
		</p>
	</p>
</div>{% endblock %}
