{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ "invite_page_name_list" | trans }}>{{ pageName }}><strong>{{ invite.email }}</strong>
{% endblock %}

{% block descriptionRubrique %}
    {{ "invite_description_rubrique" | trans }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_user_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container">
		<p>
			{# {{ form(form) }} #}
			<div class="card m-2 shadow-sm bg-body" style="width: 40rem;">
				<div class="card-body">
					<p>
    					{{ "invite_edition_description_message" | trans({
							':user': utilisateur.nom,
							':email': invite.email,
						}) | raw }}
					</p>
					<turbo-frame id="invite_{{ invite.id }}">
						<div class = "m-2">
							{{ form(form, {action: path('admin.invite.edit', {id:invite.id})}) }}
						</div>
					</turbo-frame>
				</div>
			</div>
		</p>
	</div>
{% endblock %}
