{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
    {{ "invite_description_rubrique" | trans }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container">
		{# {{ form(form) }} #}
		<div class="card m-2 shadow-sm bg-body" style="width: 40rem;">
			<div class="card-body">
				<p>
					{{ "invite_edition_description_message" | trans({
						':user': utilisateur.nom,
						':email': invite.email,
					}) | raw }}
				</p>
				{# <turbo-frame id="invite_{{ invite.id }}"> #}
					<div class = "m-2">
						{{ form(form, {action: path('admin.invite.edit', {
							idEntreprise:entreprise.id,
							idInvite:invite.id
							})}) 
						}}
					</div>
					{# {{ form(form, {action: path('admin.invite.edit', {id:invite.id})}) }} #}
				{# </turbo-frame> #}
			</div>
		</div>
	</div>
{% endblock %}
