{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
    {{ "invite_edition_description_message" | trans({
		':user': utilisateur.nom,
		':email': invite.email,
	}) | raw }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container">
		{# {{ form(form) }} #}
		{{ form_start(form) }}
		<div class="d-flex shadow-sm card bg-body sensible bg-white">
			<div class="card-body">
				<div>
					<div class="row">
						<div class="col">
							{{ form_row(form.nom) }}
						</div>
						<div class="col">
							{{ form_row(form.email) }}
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{ form_row(form.assistants) }}
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{ form_row(form.rolesEnFinance) }}
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{ form_widget(form.enregistrer) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
