{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}


{% block section_utilisateur %}
	<div>
		<a href="{{ path('app_broker_registration', { 'idUtilisateur':utilisateur.id, 'idEntreprise':-1 })}}" type="button" class="btn btn-primary">Créer une entreprise</a>
		<a href="{{ path('app_index')}}" type="button" class="btn btn-outline-danger">Déconnexion</a>
		<a href="{{ path('app_user_registration', {'idUtilisateur':utilisateur.id})}}" type="button" class="btn btn-outline-primary">Paramètres</a>
	</div>
{% endblock %}


{%  block titreRubrique %}
	{{ pageName }} / {{ utilisateur.nom }}
{% endblock %}


{% block descriptionRubrique %}
	Liste des entreprises de votre protefeuil, y compris les celles auxquelles vous êtes invité.
{% endblock %}


{% block menuLateraleGauche %}
	<h5 class="mb-1">Menu</h5>
	<div class="list-group">
		<a href="{{ path('app_user_dashbord', {'idUtilisateur': utilisateur.id})}}" class="list-group-item list-group-item-action">
			<div class="d-flex w-100 justify-content-between">
				<h6 class="mb-1">Entreprises</h6>
				<small><span class="badge text-bg-warning rounded-pill">2</span></small>
			</div>
		</a>
		<a href="{{ path('admin.invite.index', {'idUtilisateur': idUtilisateur})}}" class="list-group-item list-group-item-action active">
			<div class="d-flex w-100 justify-content-between">
				<h6 class="mb-1">Invités</h6>
				<small><span class="badge text-bg-warning rounded-pill">0</span></small>
			</div>
		</a>
		<a href="#" class="list-group-item list-group-item-action">
			<div class="d-flex w-100 justify-content-between">
				<h6 class="mb-1">Abonnement</h6>
				<small><span class="badge text-bg-warning rounded-pill">0</span></small>
			</div>
		</a>
	</div>
{% endblock %}


{% block body %}
	<div>
		<div class="d-flex">
			{# Boucler les entreprises #}
			{% for invite in invites %}
				<div class="card m-2 shadow-sm bg-body" style="width: 18rem;">
					{# <img class="card-img-top" src="..." alt="Card image cap"> #}
					<div class="card-body">
						<h5 class="card-title">
							<a href="#" class="text-primary">{{ invite.email }}</a>
						</h5>
						<p class="card-text">Autres informations sur l'invité.</p>
					</div>
					<div class="card-body">
						<a href="" class="m-2">Modifier</a>
						<a href="" class="m-2">Supprimer</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
