{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_entreprise_dashbord.html.twig' %}
	{# {% include 'segments/boutons_entreprise_dashbord.html.twig' %} #}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "invite_description_rubrique" | trans }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
	{# {% include 'segments/menu_user_dashbord.html.twig' %} #}
{% endblock %}

{% block body %}
	<div class="d-flex">
		<table class="table table-hover table-sm caption-top">
			<caption>
				{% if invites|length == 0 %}
					{{ "invite_filter_result_empty" | trans}}
				{% else %}
					{{ "invite_filter_result_elements" | trans({
						':number': invites|length
					})}}
				{% endif %}
				<div class="d-flex gap-1">
					{{ knp_pagination_render(invites) }}
				</div>
			</caption>
			{% if invites|length != 0 %}
				<thead class="table-light">
					<tr>
						<th scope="col">
							<div class='d-flex justify-content-start'>{{ knp_pagination_sortable(invites, "invite_liste_titre_ids" | trans, "i.email") }}</div>
						</th>
						<th scope="col">
							<div class='d-flex justify-content-start'>{{ knp_pagination_sortable(invites, "invite_liste_titre_invite_date" | trans, "i.createdAt") }}</div>
						</th>
						{# <th scope="col"><div class='d-flex justify-content-start'>{{ "invite_liste_titre_companies" | trans }}</div></th> #}
						<th scope="col" style="width:100px">
							<div class='d-flex justify-content-end'>{{ "invite_liste_titre_actions" | trans }}</div>
						</th>
					</tr>
				</thead>
				<tbody
					class="table-group-divider">
					{# Boucler les donnees #}
					{% for invite in invites %}
						<tr id="row_invite_{{ invite.id }}">
							<td>
								<turbo-frame id="invite_{{ invite.id }}">
									<a class="m-2" href="{{ path('admin.invite.edit', {'idInvite':invite.id, 'idEntreprise': entreprise.id})}}">
										{{ invite.nom }}, 
										{% if invite.isproprietaire == true %}
											<span class="badge rounded-pill position-relative text-bg-secondary">
												{{ invite.email }}
												<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-warning">
													Propriétaire
												</span>
											</span>
										{% else %}
											{{ invite.email }}
										{% endif %}
									</a>
								</turbo-frame>
							</td>
							<td>
								{{ invite.createdAt|date('d/m/Y H:i') }}
							</td>
							<td>
								<div
									class="d-flex gap-1 d-flex justify-content-end">
									{# Les actions sur l element de la liste #}
									<a class="btn btn-outline-primary btn-sm border-0" href="{{ path('admin.invite.edit', {'idInvite':invite.id, 'idEntreprise': entreprise.id})}}" class="" mthod='POST'>
										{{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
										{# Modifier #}
									</a>
									{% if invite.isProprietaire == false %}
										<form action="{{ path('admin.invite.remove', {'idInvite':invite.id, 'idEntreprise': entreprise.id})}}" method='POST'>
											<input type='hidden' name='_method' value='DELETE'>
											<button class='btn btn-outline-danger border-0 btn-sm' type='submit'>
												{{ ux_icon('fluent:delete-20-filled', {height: '18px', width: '18px'}) }}
												{# Supprimer #}
											</button>
										</form>
									{% endif %}
									<div class="dropdown">
										<a class="btn btn-outline-secondary dropdown-toggle border-0 btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											{{ ux_icon('gravity-ui:dots-9', {height: '18px', width: '18px'}) }}
											{# Autres #}
										</a>
										<ul class="dropdown-menu">
											<li>
												<a class="dropdown-item" href="#">
													{{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
													{{ "invite_liste_titre_actions_set_role" | trans }}
												</a>
											</li>
											<li>
												<a class="dropdown-item" href="#">
													{{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
													{{ "invite_liste_titre_actions_send_invite_email" | trans }}
												</a>
											</li>
											<li><hr class="dropdown-divider"></li>
											<li>
												<a class="dropdown-item" href="#">
													{{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
													{{ "invite_liste_titre_actions_desable_guest" | trans }}
												</a>
											</li>
											<li>
												<a class="dropdown-item text-muted" href="#">
													{{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
													{{ "invite_liste_titre_actions_enable_guest" | trans }}
												</a>
											</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			{% endif %}
		</table>
	</div>
{% endblock %}
