{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_user_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ pageName }}
{% endblock %}

{% block descriptionRubrique %}
	Liste des invités de vos entreprises. Elle reprend tous les utilisateurs à qui vous avez accordé quelques droits d'accès aux données de vos entreprises.
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_user_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div>
		<div class="d-flex">
			<table class="table table-hover table-sm caption-top">
				<caption>
					{% if invites|length == 0 %}
						Aucun enregistrement trouvé.
					{% else %}
						Invités : {{ invites|length }} enregistrement(s).
					{% endif %}
				</caption>
				<thead class="table-light">
					<tr>
						<th scope="col">Invité</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					{# Boucler les donnees #}
					{% for invite in invites %}
						<tr>
							<td>
								<span class="fst-italic text-body-tertiary">
									[Not a JSB user]
								</span>
								{{ invite.email }}, 
								<span class="fst-italic text-body-tertiary">
									invité le {{ invite.createdAt|date('d/m/Y H:m') }}
								</span>
							</td>
							<td>
								{# Les actions sur l element de la liste #}
								<a class= "btn btn-primary btn-sm" href="{{ path('admin.invite.edit', {'idUtilisateur': utilisateur.id, 'id':invite.id })}}" class="" mthod = 'POST'>
									Modifier
								</a>
								<a href="{{ path('admin.invite.remove', {'idUtilisateur': utilisateur.id, 'id':invite.id })}}" class="" mthod = 'DELETE'>
									Supprimer
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
