{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_user_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
    {{ "invite_description_rubrique" | trans }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_user_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div>
		<div class="d-flex">
			<table class="table table-hover table-sm caption-top">
				<caption>
					{% if nbInvites == 0 %}
						{{ "invite_filter_result_empty" | trans }}
					{% else %}
						{{ "invite_filter_result_elements" | trans({':number': nbInvites}) }}
					{% endif %}
					<div class="d-flex gap-1">
						{{ knp_pagination_render(invites) }}
					</div>
				</caption>
				{% if nbInvites != 0 %}
					<thead class="table-light">
						<tr>
							<th scope="col"><div class='d-flex justify-content-start'>{{ knp_pagination_sortable(invites, "Nom / E-mail", "i.email") }}</div></th>
							<th scope="col"><div class='d-flex justify-content-start'>{{ knp_pagination_sortable(invites, "Date d'invitation", "i.createdAt") }}</div></th>
							<th scope="col"><div class='d-flex justify-content-start'>Entreprises</div></th>
							<th scope="col" style="width:100px" ><div class='d-flex justify-content-end'>Actions</div></th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						{# Boucler les donnees #}
						{% for invite in invites %}
							<tr id="row_invite_{{ invite.id }}">
								<td>
									<turbo-frame id="invite_{{ invite.id }}">
										<a class="m-2" href="{{ path('admin.invite.edit', {'id':invite.id })}}">
											{{ invite.email }}
										</a>
									</turbo-frame>
								</td>
								<td>
									{{ invite.createdAt|date('d/m/Y H:i') }}
								</td>
								<td class="justify-content-between">
									{% if invite.entreprises|length == 1 %}
										{{ invite.entreprises[0].nom }}
										{# {{ invite.nomEntreprise }} #}
									{% elseif invite.entreprises|length > 1 %}
										{{ invite.entreprises[0].nom }} 
										{# {{ invite.nomEntreprise }}  #}
										<span class="text-body-tertiary">
											(+{{invite.entreprises|length -1}})
										</span>
									{% else %}
										Aucune
									{% endif %}
								</td>
								<td>
									<div class="d-flex gap-1 d-flex justify-content-end">
										{# Les actions sur l element de la liste #}
										<a class= "btn btn-outline-primary btn-sm border-0" href="{{ path('admin.invite.edit', {'idUtilisateur': utilisateur.id, 'id':invite.id })}}" class="" mthod = 'POST'>
											{{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
											{# Modifier #}
										</a>
										<form action="{{ path('admin.invite.remove', {'id':invite.id })}}" method='POST'>
											<input type='hidden' name='_method' value='DELETE'>
											<button class='btn btn-outline-danger border-0 btn-sm' type='submit'>
												{{ ux_icon('fluent:delete-20-filled', {height: '18px', width: '18px'}) }}
												{# Supprimer #}
											</button>
										</form>
										<div class="dropdown">
											<a class="btn btn-outline-secondary dropdown-toggle border-0 btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												{{ ux_icon('gravity-ui:dots-9', {height: '18px', width: '18px'}) }}
												{# Autres #}
											</a>
											<ul class="dropdown-menu">
												<li>
													<a class="dropdown-item" href="#">
														{{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
														Voir son rôle
													</a>
												</li>
												<li>
													<a class="dropdown-item" href="#">
														{{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
														Modifier son rôle
													</a>
												</li>
												<li>
													<a class="dropdown-item" href="#">
														{{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
														Envoyer l'email d'invitation
													</a>
												</li>
												<li><hr class="dropdown-divider"></li>
												<li>
													<a class="dropdown-item" href="#">
														{{ ux_icon('tabler:edit', {height: '18px', width: '18px'}) }}
														Désactiver cet invité
													</a>
												</li>
											</ul>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				{% endif %}
			</table>
		</div>
	</div>
{% endblock %}
