	<div 
        id="list-controller-{{ random() }}" {# ID unique pour chaque instance de liste #} 
        data-controller="dialogue liste-principale" 
        data-liste-principale-nbelements-value="{{ data|length }}" 
        data-liste-principale-entite-value="{{ entite_nom }}" 
        data-liste-principale-entity-form-canvas-value='{{ entityFormCanvas|json_encode|e('html_attr') }}' 
        {# --- AJOUT --- #}
        data-liste-principale-numeric-attributes-value='{{ numericAttributes|default({})|json_encode|e('html_attr') }}' 
    > 
        <div class="table-scroll-wrapper flex-grow-1">
            {% if data is not empty %}
                <table class="table table-hover table-sm table-enhanced">
                    <thead class="table-light sticky-header">
                        <tr class="text-center">
                            <th scope="col" style="width: 80px;">
                                <div class="form-check m-2 justify-content-start">
                                    <input class="form-check-input" type="checkbox" data-action="change->liste-principale#handleItemToutCocher" data-liste-principale-target="selectAllCheckbox">
                                    <label class="text-secondary">Id.</label>
                                </div>
                            </th>
                            {% if listeCanvas.colonne_principale is defined %}
                                <th scope="col">
                                    <div class='d-flex justify-content-start text-secondary m-2'>{{ listeCanvas.colonne_principale.titre_colonne | default('Titre principal') }}</div>
                                </th>
                            {% endif %}
                            {% for colonne in listeCanvas.colonnes_numeriques | default([]) %}
                                <th scope="col" style="width:150px">
                                    <div class='d-flex justify-content-end text-secondary m-2'>{{ colonne.titre_colonne | default('Valeur') }}</div>
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="table-group-divider context-target" data-liste-principale-target="donnees">
                        {{ include('components/_list_donnees.html.twig', {
                        'data': data,
                        'entityCanvas': entityCanvas,
                        'listeCanvas': listeCanvas,
                        'entite_nom': entite_nom
                    }) }}
                    </tbody>
                </table>
            {% else %}
                <div data-liste-principale-target="donnees">
                    {{ include('components/_empty_state.html.twig', {
                        title: "Votre liste de " ~ entite_nom|lower ~ "s est vide",
                        description: "Commencez par ajouter un " ~ entite_nom|lower ~ " pour organiser vos données.",
                        button_text: "Ajouter un " ~ entite_nom|lower,
                        button_action: "click->liste-principale#handleAddRequest",
                        icon_name: entityCanvas.parametres.icone | default('lucide:inbox')
                    }) }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
