{# Le menu contextuel, initialement caché #}
<nav 
    id="simpleContextMenu" 
    class="context-menu text-secondary" 
    data-controller="liste-element-context-menu" 
    data-liste-element-context-menu-target="menu" 
>
    <ul>
        {# Option "Ajouter" #}
        <li 
            data-liste-element-context-menu-target="btAjouter" 
            data-action="click->liste-element-context-menu#context_action_ajouter"
        >
            {{ include('segments/icones/actions/add.html.twig', {size:'20px'}) }}
            Ajouter
        </li>
        {# Option "Ouvrir" #}
        <li 
            data-liste-element-context-menu-target="btOuvrir" {# MODIFIÉ #}
            data-action="click->liste-element-context-menu#context_action_ouvrir" {# MODIFIÉ #}
        >
            {{ include('segments/icones/actions/open.html.twig', {size:'20px'}) }} {# L'icône "open" est déjà parfaite ! #}
            Ouvrir {# MODIFIÉ #}
        </li>
        {# Option "Modifier" #}
        <li 
            data-liste-element-context-menu-target="btModifier" 
            data-action="click->liste-element-context-menu#context_action_modifier"
        >
            {{ include('segments/icones/actions/edit.html.twig', {size:'20px'}) }}
            Modifier
        </li>
        {# Option "Tout Cocher" #}
        <li 
            data-liste-element-context-menu-target="btToutCocher" 
            data-action="click->liste-element-context-menu#context_action_tout_cocher"
        >
            {{ include('segments/icones/actions/check.html.twig', {size:'20px'}) }}
            Tout Cocher
        </li>
        {# Option "Actualiser" #}
        <li 
            data-liste-element-context-menu-target="btActualiser" 
            data-action="click->liste-element-context-menu#context_action_actualiser"
        >
            {{ include('segments/icones/actions/reload.html.twig', {size:'20px'}) }}
            Actualiser
        </li>

        {# Option "Supprimer" #}
        <li 
            data-liste-element-context-menu-target="btSupprimer" 
            data-action="click->liste-element-context-menu#context_action_supprimer" 
        >
            {{ include('segments/icones/actions/delete.html.twig', {size:'20px'}) }}
            Supprimer
        </li>

        {# Option "Séparateur" #}
        <li class="separator"></li>

        {# Option "Paramètre" #}
        <li 
            data-liste-element-context-menu-target="btParametrer" 
            data-action="click->liste-element-context-menu#context_action_parametrer"
        >
            {{ include('segments/icones/actions/settings.html.twig', {size:'20px'}) }}
            Paramètres
        </li>

        {# Option "Quitter" #}
        <li 
            data-liste-element-context-menu-target="btQuitter" 
            data-action="click->liste-element-context-menu#context_action_quitter"
        >
            {{ include('segments/icones/actions/exit.html.twig', {size:'20px'}) }}
            Quitter
        </li>
    </ul>
</nav>