{# templates/components/_sales_list.html.twig #}
<div data-controller="sales-list">
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col" class="text-center" style="width: 5%;">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        data-action="change->sales-list#toggleAll"
                        data-sales-list-target="selectAllCheckbox"
                    >
                </th>
                <th scope="col">Client</th>
                <th scope="col">Matériel</th>
                <th scope="col" class="text-end">Montant Facturé</th>
                <th scope="col" class="text-end">Montant Payé</th>
                <th scope="col" class="text-end">Solde Restant</th>
            </tr>
        </thead>
        <tbody data-sales-list-target="listBody">
            {% for sale in sales %}
                <tr
                    class="align-middle"
                    {# Boucle pour générer dynamiquement les data-attributes numériques #}
                    {% for key, value in sale.numericValues %}
                        data-{{ key }}-value="{{ value }}"
                    {% endfor %}
                >
                    <td class="text-center">
                        <input
                            type="checkbox"
                            class="form-check-input"
                            data-action="change->sales-list#toggleRow"
                            data-sales-list-target="rowCheckbox"
                        >
                    </td>
                    <td>
                        <div class="fw-bold">{{ sale.clientName }}</div>
                        <div class="small text-muted">{{ sale.saleDate|date('d/m/Y') }}</div>
                    </td>
                    <td>{{ sale.itemName }}</td>
                    <td class="text-end">{{ (sale.amountInvoiced / 100)|number_format(2, ',', ' ') }} $</td>
                    <td class="text-end text-success fw-bold">{{ (sale.amountPaid / 100)|number_format(2, ',', ' ') }} $</td>
                    <td class="text-end text-danger fw-bold">{{ (sale.balance / 100)|number_format(2, ',', ' ') }} $</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>