{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ "entreprise_page_name_list" | trans }}>{{ pageName }}><strong>{{ entreprise.nom }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "entreprise_description" | trans }}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_user_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card shadow-sm bg-body" style="width: 40rem;">
			<div class="card-body">
				<p>
					{{ "entreprise_creation_description_message" | trans({
						':user': utilisateur.nom,
						':company': entreprise.nom,
					}) | raw }}
				</p>
				<p class="d-flex justify-content-center">
					{% if entreprise.thumbnail %}
						<img class="rounded" src="{{ vich_uploader_asset(entreprise, 'thumbnailFile') }}" alt="" width="620px" height="300px">
					{% else %}
						<img class="rounded" src="/images/entreprises/default_entreprise.jpg" alt="Image de l'entreprise" width="620px" height="300px">
					{% endif %}
				</p>
				<hr>
				{{ form(form) }}
			</div>
		</div>
	</div>
{% endblock %}