{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{% block section_utilisateur %}
	{% include 'segments/boutons_user_dashbord.html.twig' %}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	Liste d'entreprises. L'entreprise est un espace de travail dans lequel vous pouvez inviter divers utilisateurs tout en leurs attribuant des rôles spécifics.
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_user_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	<div>
		<caption>
			{% if invites|length == 0 %}
				Aucun enregistrement trouvé.
			{% else %}
				Entreprises : {{ entreprises|length }} enregistrement(s).
			{% endif %}
			<div class="d-flex gap-1">
				{{ knp_pagination_render(entreprises) }}
			</div>
		</caption>
		
		<div class="d-flex">
			{# Boucler les entreprises #}
			{% for entreprise in entreprises %}
				<div class="card m-2 p-2 shadow-sm bg-body" style="width: 18rem;">
					{% if entreprise.thumbnail %}
						<img class="rounded" src="{{ vich_uploader_asset(entreprise, 'thumbnailFile') }}" alt="Image de l'entreprise" style="width: 17rem; height: 10rem;">
					{% else %}
						<img class="rounded" src="/images/entreprises/default_entreprise.jpg" alt="Image de l'entreprise" style="width: 17rem; height: 10rem;">
					{% endif %}
					<div class="card-body">
						<h5 class="card-title">
							<a href="#" class="text-primary">{{ entreprise.nom }}</a>
						</h5>
						<p class="card-text">{{ entreprise.adresse }}</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">RCCM: {{ entreprise.rccm }}| IDNAT: {{ entreprise.idnat }} | NIF:{{ entreprise.numimpot }}</li>
						<li class="list-group-item">Tél:{{ entreprise.telephone }} | Lince: {{ entreprise.licence }} </li>
						<li class="list-group-item">
							<em class="fst-italic text-body-tertiary">Créée le {{ entreprise.createdAt | date("d/m/Y") }}</em>
						</li>
					</ul>
					<div class="card-body">
						<a href="#" class="m-2">Inviter</a>
						<a href="{{ path('admin.entreprise.edit', {'id':entreprise.id })}}" class="m-2">Modifier</a>
						<a href="{{ path('admin.entreprise.remove', {'id':entreprise.id })}}" class="m-2">Supprimer</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
