{# templates/themes/_collection_widget.html.twig #}
{% block collection_widget %}
    {# On récupère les options passées par form_row() #}
    {% set manager_options = manager_options|default({}) %}

    {# On récupère l'état 'disabled' depuis les options #}
    {% set isDisabled = manager_options.disabled|default(false) %}
    
    {# --- CORRECTION : On affiche toujours le widget, mais on lui ajoute une classe 'is-disabled' en mode création --- #}
    <div 
        {{ stimulus_controller('collection', manager_options) }} 
        class="collection-manager-accordion {{ isDisabled ? 'is-disabled' : '' }}"
    >
        {# TITRE DE L'ACCORDÉON #}
        <div class="accordion-title"
             data-action="
                click->collection#toggleAccordion
                mouseenter->collection#logMouseEnter
                mouseleave->collection#logMouseLeave
             "
        >
            <div class="title-left-block">
                {# Ligne 1 #}
                <div class="title-line-1">
                    <span class="toggle-icon">+</span>
                    <strong class="field-label">{{ form.vars.label|default(form.vars.name) }}</strong>
                    <span class="badge bg-primary" data-collection-target="countBadge" style="display: none;">0</span>
                </div>
                {# Ligne 2 (Help text) #}
                {% if form.vars.help %}
                    <div class="title-line-2 form-text">{{ form.vars.help }}</div>
                {% endif %}
            </div>
            {# --- CORRECTION : On rend toujours le bouton, mais on le cache avec une classe si désactivé --- #}
            <div class="title-right-block {{ isDisabled ? 'd-none' : '' }}" data-collection-target="addButtonContainer">
                <button type="button" class="btn btn-sm btn-primary" data-action="click->collection#addItem">
                    <twig:UX:Icon name="gridicons:add" style="width: 23px;" />
                    <span>Ajouter </span>
                </button>
            </div>
        </div>

        {# CONTENU DE L'ACCORDÉON (la liste) #}
        <div class="accordion-content" data-collection-target="contentPanel">
            <div class="list-container" data-collection-target="listContainer">
                {# La liste des contacts sera chargée ici via AJAX #}
                <div class="text-center p-5"><span class="spinner-border"></span> Chargement...</div>
            </div>
        </div>
    </div>

    {# On cache le rendu par défaut de Symfony #}
    <div style="display:none;">
        {{- form_widget(form) -}}
    </div>
{% endblock %}