<div class="accordion-item">
    <h2 class="accordion-header" id="menuReporting">
        <button class="accordion-button {{ activator.isCollapsed(5) }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapsemenuReporting" aria-expanded="{{ activator.canExpand(5) }}" aria-controls="collapsemenuReporting">
            {{ ux_icon('mdi:report-bar', {height: '16px', width: '16px'}) }}
            <strong>&nbsp;{{ "company_menu_group_reporting" | trans }}&nbsp;</strong>
        </button>
    </h2>
    <div id="collapsemenuReporting" class="accordion-collapse collapse {{ activator.canShow(5) }}" aria-labelledby="menuReporting" data-bs-parent="#accMenuEntreprise">
        <div class="list-group list-group-flush p-1 border-0 accordion-body">
            <a href="#" class="list-group-item list-group-item-action  {{ app.current_route starts with 'admin.entreprise.retrocommission' ? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">&nbsp;&nbsp;{{ include('segments/icones/feedback.html.twig', {'size':'18px'}) }} {{ "company_menu_retrocom" | trans }}</span>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.entreprise.production'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">&nbsp;&nbsp;{{ include('segments/icones/feedback.html.twig', {'size':'18px'}) }} {{ "company_menu_prouction" | trans }}</span>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.entreprise.sinistre'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">&nbsp;&nbsp;{{ include('segments/icones/feedback.html.twig', {'size':'18px'}) }} {{ "company_menu_claims" | trans }}</span>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.entreprise.cashflow'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">&nbsp;&nbsp;{{ include('segments/icones/feedback.html.twig', {'size':'18px'}) }} {{ "company_menu_cashflow" | trans }}</span>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.entreprise.renouvellement'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">&nbsp;&nbsp;{{ include('segments/icones/feedback.html.twig', {'size':'18px'}) }} {{ "company_menu_renewals" | trans }}</span>
                </div>
            </a>
        </div>
    </div>
</div>