<div class="accordion-item">
    <h2 class="accordion-header" id="menuSinistre">
        <button class="accordion-button {{ activator.isCollapsed(4) }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapsemenuSinistre" aria-expanded="{{ activator.canExpand(4) }}" aria-controls="collapsemenuSinistre">
            {{ ux_icon('hugeicons:accident', {height: '16px', width: '16px'}) }}
            <strong>&nbsp;{{ "company_menu_group_claims" | trans }}&nbsp;</strong>
        </button>
    </h2>
    <div id="collapsemenuSinistre" class="accordion-collapse collapse {{ activator.canShow(4) }}" aria-labelledby="menuSinistre" data-bs-parent="#accMenuEntreprise">
        <div class="list-group list-group-flush p-1 border-0 accordion-body">
            <a href="{{ path('admin.modelepiecesinistre.index', {'idEntreprise': entreprise.id})}}" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.modelepiecesinistre'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_modelepiecesinistre" | trans }}</span>
                </div>
            </a>
            {# <a href="#" class="list-group-item list-group-item-action  {{ app.current_route starts with 'admin.entreprise.victime' ? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_victims" | trans }}</span>
                </div>
            </a> #}
            {# <a href="#" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.entreprise.intervenant'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_intervenants" | trans }}</span>
                </div>
            </a> #}
            <a href="{{ path('admin.notificationsinistre.index', {'idEntreprise': entreprise.id})}}" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.notificationsinistre'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_declarations" | trans }}</span>
                </div>
            </a>
            <a href="{{ path('admin.offreindemnisation.index', {'idEntreprise': entreprise.id})}}" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.offreindemnisation'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_reglements" | trans }}</span>
                </div>
            </a>
        </div>
    </div>
</div>