<div class="accordion-item">
    <h2 class="accordion-header" id="menuProduction">
        <button class="accordion-button {{ activator.isCollapsed(3) }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapsemenuProduction" aria-expanded="{{ activator.canExpand(3) }}" aria-controls="collapsemenuProduction">
            {{ ux_icon('emojione-monotone:umbrella-with-rain-drops', {height: '16px', width: '16px'}) }}
            <strong>&nbsp;{{ "company_menu_group_production" | trans }}&nbsp;</strong>
        </button>
    </h2>
    <div id="collapsemenuProduction" class="accordion-collapse collapse {{ activator.canShow(3) }}" aria-labelledby="menuProduction" data-bs-parent="#accMenuEntreprise">
        <div class="list-group list-group-flush p-1 border-0 accordion-body">
            <a href="{{ path('admin.groupe.index', {'idEntreprise': entreprise.id})}}" class="list-group-item list-group-item-action  {{ app.current_route starts with 'admin.groupe' ? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_groupes" | trans }}</span>
                </div>
            </a>
            <a href="{{ path('admin.client.index', {'idEntreprise': entreprise.id})}}" class="list-group-item list-group-item-action  {{ app.current_route starts with 'admin.client' ? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_clients" | trans }}</span>
                </div>
            </a>
            <a href="{{ path('admin.assureur.index', {'idEntreprise': entreprise.id})}}" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.assureur'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_insurers" | trans }}</span>
                </div>
            </a>
            <a href="{{ path('admin.contact.index', {'idEntreprise': entreprise.id})}}" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.contact'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_contacts" | trans }}</span>
                </div>
            </a>
            {# <a href="#" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.entreprise.reassureur'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_reinsurers" | trans }}</span>
                </div>
            </a> #}
            <a href="{{ path('admin.risque.index', {'idEntreprise': entreprise.id})}}" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.risque'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_products" | trans }}</span>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.entreprise.avenant'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_avenants" | trans }}</span>
                </div>
            </a>
            {# <a href="#" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.entreprise.police'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_polices" | trans }}</span>
                </div>
            </a> #}
            <a href="{{ path('admin.partenaire.index', {'idEntreprise': entreprise.id})}}" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.partenaire'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_partners" | trans }}</span>
                </div>
            </a>
            {# <a href="#" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.entreprise.support'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_ri_panel" | trans }}</span>
                </div>
            </a> #}
        </div>
    </div>
</div>