<div class="accordion-item">
    <h2 class="accordion-header" id="menuAdministration">
        <button class="accordion-button {{ activator.isCollapsed(6) }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapsemenuAdministration" aria-expanded="{{ activator.canExpand(6) }}" aria-controls="collapsemenuAdministration">
            {{ ux_icon('wpf:books', {height: '16px', width: '16px'}) }}
            <strong>&nbsp;{{ "company_menu_group_admin" | trans }}&nbsp;</strong>
        </button>
    </h2>
    <div id="collapsemenuAdministration" class="accordion-collapse collapse {{ activator.canShow(6) }}" aria-labelledby="menuAdministration" data-bs-parent="#accMenuEntreprise">
        <div class="list-group list-group-flush p-1 border-0 accordion-body">
            <a href="#" class="list-group-item list-group-item-action  {{ app.current_route starts with 'admin.entreprise.document' ? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_documents" | trans }}</span>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.entreprise.classeur'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_classeurs" | trans }}</span>
                </div>
            </a>
        </div>
    </div>
</div>