<div class="accordion-item">
    <h2 class="accordion-header rounded" id="menuMarketing">
        <button class="accordion-button {{ activator.isCollapsed(2) }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapsemenuMarketing" aria-expanded="{{ activator.canExpand(2) }}" aria-controls="collapsemenuMarketing">
            {{ ux_icon('nimbus:marketing', {height: '16px', width: '16px'}) }}
            <strong>&nbsp;{{ "company_menu_group_marketing" | trans }}&nbsp;</strong>
        </button>
    </h2>
    <div id="collapsemenuMarketing" class="accordion-collapse collapse {{ activator.canShow(2) }}" aria-labelledby="menuMarketing" data-bs-parent="#accMenuEntreprise">
        <div class="list-group list-group-flush p-1 border-0 accordion-body">
            <a href="#" class="list-group-item list-group-item-action  {{ app.current_route starts with 'admin.entreprise.piste' ? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_piste" | trans }}</span>
                </div>
            </a>
            <a href="{{ path('admin.tache.index', {'idEntreprise': entreprise.id})}}" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.tache'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_task" | trans }}</span>
                </div>
            </a>
            <a href="{{ path('admin.feedback.index', {'idEntreprise': entreprise.id})}}" class="list-group-item list-group-item-action {{ app.current_route starts with 'admin.feedback'? 'active' : '' }}">
                <div class="d-flex justify-content-between">
                    <span class="mb-0">{{ "company_menu_feedback" | trans }}</span>
                </div>
            </a>
        </div>
    </div>
</div>