{% extends 'base.html.twig' %}

{% block title %}
	{{pageName}}
{% endblock %}

{%  block titreRubrique %}
	{{ utilisateur.nom }}>{{ entreprise.nom }}><strong>{{ pageName }}</strong>
{% endblock %}

{% block descriptionRubrique %}
	{{ "contact_creation_description_message" | trans({
		":user": utilisateur.nom, 
		":company": entreprise.nom, 
	}) | raw}}
{% endblock %}

{% block menuLateraleGauche %}
	{% include 'segments/menu_entreprise_dashbord.html.twig' %}
{% endblock %}

{% block body %}
	{# {{ form(form) }} #}
	{{ form_start(form, {
		'attr': {
			'data-controller': 'contact-formulaire', 
			'data-contact-formulaire-idcontact-value': contact.id,
			'data-contact-formulaire-identreprise-value': entreprise.id,
			}
		}) 
	}}
	<div class="d-flex shadow-sm card bg-body sensible bg-white">
		<div class="card-body">
			<div>
				{# Les onglets #}
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						{# Onglet Principale - tittre #}
						<button class="nav-link fw-bold text-secondary active" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="true">
							<small>
								{{ include('segments/icones/contact.html.twig', {size:'20px'}) }}
								PRINCIPAL 
							</small>
						</button>
					</div>
				</nav>
				{# Contenu de chaque Onglet #}
				<div class="tab-content" id="nav-tabContent">
					{# Onglet Principale - corps #}
					<div class="tab-pane fade m-2 show active" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
						<div class="row">
							<div class="col">
								{{ form_row(form.nom, {'attr': {'data-contact-formulaire-target': 'nom'}}) }}
							</div>
						</div>
						<div class="row">
							<div class="col">
								{{ form_row(form.telephone) }}
							</div>
							<div class="col">
								{{ form_row(form.email) }}
							</div>
						</div>
						<div class="row">
							<div class="col">
								{{ form_row(form.type) }}
							</div>
							<div class="col">
								{{ form_row(form.fonction) }}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						{{ form_widget(form.enregistrer, {
							'attr': {
								'data-contact-formulaire-target': 'btEnregistrer'
								}
							}) 
						}}
					</div>
				</div>
			</div>
			<small>
				<span class="text-secondary m-2 fw-bold" data-contact-formulaire-target="display" style="display:block;">Prêt</span>
			</small>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
